[2017-08-10 17:16] 0crat commented on #364
@yegor256 please, pay attention to this issue

[2017-08-10 19:01] yegor256 commented on #364
@digitalsanctum are you getting this in a browser? Can you attach a screenshot pls.

[2017-08-10 19:03] yegor256 commented on #363
@gsiegfried looks like you didn't configure the permission for the bucket. We simply can't fetch the `index.html` from there.

[2017-08-10 19:27] digitalsanctum commented on #364
Sure. Here's a screenshot.
![s3-error](https://user-images.githubusercontent.com/30923/29188182-2bc03cfe-7dc7-11e7-8a36-96d82a238dea.png)

[2017-08-10 19:33] digitalsanctum commented on #364
After further investigation it seems curl works fine but using Chrome or Safari results in the above so I think this is a proxy issue on my side. Sorry for the false alarm.

[2017-08-10 19:33] #364 closed

[2017-08-10 19:33] 0crat commented on #364
I can't do it for technical reasons, I'm very sorry. If you don't know what to do, submit this error as a ticket [here](https://github.com/zerocracy/datum):

[code]

[2017-08-11 20:16] russelldc commented on #348
Still seeing this error today.

[2017-09-11 15:14] rth commented on #346
Thanks for opening this issue. Just run into this as well, definitely not easy to find the root cause. For future reference, loading e.g. the `.htpasswd` with,
[code]
with mis-configured CloudFlare produces,
[code]
(these retries is why the browser keeps saying "waiting for response" without returning anything..)

Enabling CloudFlare CND bypass does fix it, as reported above.

[2017-09-23 04:36] Ralphilius opened #365 "[Improvement] Need a way to whitelist some files"
Hello,

This tool is already perfect to host my private maven repo. This is just an improvement request to to whitelist some files from the authentication process since I want to make them public.

Cheers,

[2017-09-23 04:37] 0crat commented on #365
@yegor256 please, pay attention to this issue

[2017-09-23 07:48] Ralphilius commented on #347
This is not possible if you want to upload to S3 with s3auth.com since the PUT API requires more credentials data. You can use `maven-publish` plugin if you want to upload your artifacts.

[2017-10-02 07:49] yegor256 commented on #365
@Ralphilius it's not a bad idea, thanks. We will think how to implement it.

[2017-10-04 17:46] vikasrachakonda opened #366 "not able to access s3 and getting the Error"
[code]

[2017-10-04 17:46] 0crat commented on #366
@yegor256 please, pay attention to this issue

[2017-10-04 19:12] yegor256 commented on #366
@vikasrachakonda this may happen, but very rarely. Did you just try to refresh the page?

[2017-10-04 19:13] vikasrachakonda commented on #366
Yes, i am getting the error page

[2017-10-04 19:43] vikasrachakonda commented on #366
<img width="925" alt="screen shot 2017-10-04 at 3 43 06 pm" src="https://user-images.githubusercontent.com/30442846/31196177-c344aa50-a91a-11e7-9cfa-458645a890b3.png">

i am unable to understand these steps

[2017-10-11 20:50] vikasrachakonda commented on #366
@yegor256 Can you help out , waiting for your reply

[2017-10-12 14:25] yegor256 commented on #366
@vikasrachakonda what exactly is the problem? Do you know what "bucket" is?

[2017-11-29 22:38] ifnull commented on #366
We are seeing this issue more frequently now. 500 response with a java backtrace. Refreshing usually resolves.

[2018-02-14 01:27] miguelmota opened #367 "How to enable SSL/TLS?"
Is having a SSL cert possible while using s3auth?

Thanks!

[2018-02-23 14:35] nanquanyuhao commented on #211
It seems all right...

[2018-03-08 20:56] yegor256 commented on #367
@miguelmota see https://github.com/yegor256/s3auth/issues/305

[2018-03-08 20:56] #367 closed

[2018-03-25 10:06] iraweissman commented on #319
Follow up to my earlier comments: our podcast issues were unrelated to the Chrome streaming issues. Some podcast apps just don't stream password protected files (but do allow downloading). Some do. We tested this with known commercial password protected premium podcasts and they exhibited the same behavior as our test podcast protected by s3auth.

[2018-03-25 10:09] iraweissman commented on #216
Also interested

[2018-03-25 13:06] yegor256 commented on #216
@0crat hey

[2018-03-25 13:06] 0crat commented on #216
@yegor256 Hey, what's up, how is it going?

[2018-03-25 13:06] 0crat commented on #216
Job [#216](https://github.com/yegor256/s3auth/issues/216) is now in scope, role is `DEV`

[2018-03-25 13:06] 0crat commented on #216
Thanks for your contribution, @inferist[/z](https://www.0crat.com/u/inferist)! If you would be a member of [the project](https://www.0crat.com/p/C3RP1J1CH), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-03-27 06:54] 0crat commented on #216
The job [#216](https://github.com/yegor256/s3auth/issues/216) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C3RP1J1CH/860675254); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-03-27 10:07] yegor256 commented on #366
@vikasrachakonda @ifnull I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:07] yegor256 commented on #365
@ralphilius I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:07] yegor256 commented on #363
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:07] #363 closed

[2018-03-27 10:08] yegor256 commented on #362
@eligiable This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:08] #362 closed

[2018-03-27 10:08] yegor256 commented on #349
@ismaelc
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:08] #349 closed

[2018-03-27 10:09] yegor256 commented on #342
@bobweston I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:10] yegor256 commented on #366
@vikasrachakonda it seems to be a duplicate of #348

[2018-03-27 10:10] #366 closed

[2018-03-27 10:10] yegor256 commented on #347
@tmoreira2020 the answer of @ralphilius is correct, you can't upload anything, s3auth.com is read-only.

[2018-03-27 10:10] #347 closed

[2018-03-27 10:12] yegor256 commented on #345
@mgriba I don't really know what's going on... But the header above is not a valid HTTP header. Please, submit a new ticket for other problems you are experiencing, if any.

[2018-03-27 10:12] #345 closed

[2018-03-27 10:12] yegor256 commented on #348
@lukesaunders @russelldc @nikita-leonov @jart I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1C

[2018-03-27 10:13] yegor256 commented on #321
@FilipeGNU @vanhecke @bobweston I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:15] yegor256 commented on #319
@albertjmenkveld @nathanpower I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:15] yegor256 commented on #322
@dmzaytsev I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:15] yegor256 commented on #323
@dmzaytsev I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:16] yegor256 commented on #324
@amr I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:16] yegor256 commented on #325
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:16] #325 closed

[2018-03-27 10:16] yegor256 commented on #328
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:16] #328 closed

[2018-03-27 10:17] yegor256 commented on #330
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:17] #330 closed

[2018-03-27 10:17] yegor256 commented on #331
@scottdunnflux I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:17] yegor256 commented on #338
@mdagit @jart I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:18] yegor256 commented on #340
@mdagit I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:18] yegor256 commented on #311
@simonjenga seems to be a duplicate of #338

[2018-03-27 10:18] #311 closed

[2018-03-27 10:19] 0crat commented on #311
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-03-27 10:19] yegor256 commented on #306
@asaen seems to be a duplicate of #338

[2018-03-27 10:19] #306 closed

[2018-03-27 10:19] yegor256 commented on #305
@jonmilsom @rbjorklin @bobbybiran @akaak @wjdp I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1

[2018-03-27 10:19] yegor256 commented on #301
@krzyk seems to be a bug of #338

[2018-03-27 10:19] #301 closed

[2018-03-27 10:21] yegor256 commented on #302
@gvlasov
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:21] #302 closed

[2018-03-27 10:22] yegor256 commented on #304
@mamuemi
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:22] #304 closed

[2018-03-27 10:22] yegor256 commented on #283
@rygo6
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:22] #283 closed

[2018-03-27 10:26] yegor256 commented on #338
@mdagit This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution! The build works for me, Java 8.

[2018-03-27 10:26] #338 closed

[2018-03-27 10:26] yegor256 commented on #271
@rygo6 duplicate of #305

[2018-03-27 10:26] #271 closed

[2018-03-27 10:26] yegor256 commented on #271
@rygo6 @oviwankenobi @jart I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:27] yegor256 commented on #181
@jwal I'm sorry this bug is still not fixed. We didn't have enough funds/time to work on the project. However, recently we received some donations from our grateful users and will continue to fix issues and introduce new features. Would be great if you can also donate -- to help us move forward faster. Here is the link: https://www.0crat.com/contrib/C3RP1J1CH

[2018-03-27 10:27] yegor256 commented on #202
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:27] #202 closed

[2018-03-27 10:28] yegor256 commented on #226
@dpisarenko  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:28] #226 closed

[2018-03-27 10:28] oblodgett commented on #325
Yes... I just tried it, and it works fine. Sorry didn't close this before now, thanks again.

[2018-03-27 10:29] yegor256 commented on #316
@simonjenga feel free to submit a pull request, sounds like a valid concern, thanks.

[2018-03-27 10:29] yegor256 commented on #314
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:29] yegor256 commented on #228
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:29] #228 closed

[2018-03-27 10:30] 0crat commented on #317
Job [#317](https://github.com/yegor256/s3auth/issues/317) is now in scope, role is `DEV`

[2018-03-27 10:31] 0crat commented on #317
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-03-27 10:31] 0crat commented on #349
The job is not in WBS, won't close the order

[2018-03-27 10:31] 0crat commented on #366
The job is not in WBS, won't close the order

[2018-03-27 10:31] 0crat commented on #347
The job is not in WBS, won't close the order

[2018-03-27 10:31] 0crat commented on #345
The job is not in WBS, won't close the order

[2018-03-27 10:32] #257 closed

[2018-03-27 10:32] 0crat commented on #325
The job is not in WBS, won't close the order

[2018-03-27 10:32] 0crat commented on #328
The job is not in WBS, won't close the order

[2018-03-27 10:32] yegor256 commented on #269
@rygo6 This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:32] #269 closed

[2018-03-27 10:32] yegor256 commented on #241
@dpisarenko This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:32] #241 closed

[2018-03-27 10:32] 0crat commented on #330
The job is not in WBS, won't close the order

[2018-03-27 10:33] yegor256 commented on #272
@trystant This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-03-27 10:33] #272 closed

[2018-03-27 10:33] 0crat commented on #348
Job [#348](https://github.com/yegor256/s3auth/issues/348) is now in scope, role is `DEV`

[2018-03-27 10:34] #314 closed

[2018-03-27 10:34] 0crat commented on #348
Thanks for your contribution, @lukesaunders[/z](https://www.0crat.com/u/lukesaunders)! If you would be a member of [the project](https://www.0crat.com/p/C3RP1J1CH), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-03-27 10:34] 0crat commented on #311
The job is not in WBS, won't close the order

[2018-03-27 10:34] 0crat commented on #306
The job is not in WBS, won't close the order

[2018-03-27 10:35] 0crat commented on #301
The job is not in WBS, won't close the order

[2018-03-27 10:37] 0crat commented on #302
The job is not in WBS, won't close the order

[2018-03-27 10:37] 0crat commented on #304
The job is not in WBS, won't close the order

[2018-03-27 10:38] 0crat commented on #317
The job [#317](https://github.com/yegor256/s3auth/issues/317) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C3RP1J1CH/861064007); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-03-27 10:38] 0crat commented on #283
The job is not in WBS, won't close the order

[2018-03-27 10:41] 0crat commented on #348
The job [#348](https://github.com/yegor256/s3auth/issues/348) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C3RP1J1CH/861067104); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not clea

[2018-03-27 10:41] 0crat commented on #338
The job is not in WBS, won't close the order

[2018-03-27 10:41] 0crat commented on #271
The job is not in WBS, won't close the order

[2018-03-27 10:43] 0crat commented on #202
The job is not in WBS, won't close the order

[2018-03-27 10:43] 0crat commented on #226
The job is not in WBS, won't close the order

[2018-03-27 10:45] 0crat commented on #228
The job is not in WBS, won't close the order

[2018-03-27 10:47] 0crat commented on #257
The job is not in WBS, won't close the order

[2018-03-27 10:47] 0crat commented on #269
The job is not in WBS, won't close the order

[2018-03-27 10:48] 0crat commented on #272
The job is not in WBS, won't close the order

[2018-03-27 10:49] 0crat commented on #314
The job is not in WBS, won't close the order

[2018-03-27 11:28] 0crat commented on #363
The job is not in WBS, won't close the order

[2018-03-27 11:35] 0crat commented on #311
The job is not in WBS, won't close the order

[2018-03-28 14:56] simonjenga commented on #316
@yegor256 Sure, will do it soon...

[2018-03-28 16:39] llorllale commented on #348
@yegor256 Why is `SmartHost.fetch` timed to 5 seconds?

It is being decorated by `FastHost` according to stacktraces [1](https://gist.github.com/nikita-leonov/87eac248a3a2de13da76402757a1e030) and [2](https://gist.github.com/lukesaunders/a04e0de7eeabe1bd13417f3ce9ccecbb).

Seems like `FastHost` is concerned with times, not `SmartHost`.

[2018-04-01 07:09] 0crat commented on #216
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-01 13:11] 0crat commented on #317
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-01 13:11] 0crat commented on #348
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-03 14:37] llorllale commented on #348
@0crat waiting for review on PR #369

[2018-04-03 14:48] 0crat commented on #348
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[1.0-SNAPSHOT](https://github.com/zerocracy/farm)

[2018-04-03 14:48] 0crat commented on #348
@llorllale The impediment for [#348](https://github.com/yegor256/s3auth/issues/348) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-03 14:48] 0crat commented on #348
@llorllale Job [#348](https://github.com/yegor256/s3auth/issues/348) is already on hold

[2018-04-03 14:49] llorllale commented on #317
@0crat waiting for review on PR #370

[2018-04-03 14:49] 0crat commented on #317
@llorllale The impediment for [#317](https://github.com/yegor256/s3auth/issues/317) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-03 15:27] llorllale commented on #216
@0crat refuse

[2018-04-03 15:49] 0crat commented on #216
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#216](https://github.com/yegor256/s3auth/issues/216), please stop working. Reason for job resignation: Order was cancelled

[2018-04-03 15:49] 0crat commented on #216
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-13 14:08] llorllale commented on #348
@yegor256 now that PR #369 has been merged, do we need to perform a release in order to test?

[2018-04-14 14:46] llorllale commented on #348
@yegor256 nevermind

[2018-04-14 14:48] llorllale commented on #348
@lukesaunders @nikita-leonov @russelldc can you guys please check to see if we can close this issue now that PR #369 was merged?

[2018-04-16 10:25] simonjenga commented on #316
Done!

[2018-04-16 10:25] #316 closed

[2018-04-16 10:43] 0crat commented on #316
The job is not in WBS, won't close the order

[2018-04-18 13:11] yegor256 commented on #348
@llorllale we need to re-deploy in order to see the changes onine

[2018-04-18 13:13] llorllale commented on #348
@yegor256 oh I see. Please let us know then

[2018-04-18 13:28] 0pdd opened #371 "pom.xml:32-34: Need to fix other build errors in order to..."
The puzzle `317-34dbec36` from #317 has to be resolved:

https://github.com/yegor256/s3auth/blob/66b7324bf580062cc5509f3f591907ed2ed066a3/pom.xml#L32-L34

The puzzle was created by George Aristy on 14-Apr-18.

Estimate: 30 minutes, role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle

[2018-04-18 13:28] 0pdd commented on #317
@yegor256 the puzzle [#371](https://github.com/yegor256/s3auth/issues/371) is still not solved.

[2018-04-18 13:28] 0crat commented on #371
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-18 13:28] 0crat commented on #371
@0pdd[/z](https://www.0crat.com/u/0pdd) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RP1J1CH) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-18 13:28] 0crat commented on #371
Job [#371](https://github.com/yegor256/s3auth/issues/371) is now in scope, role is `DEV`

[2018-04-19 14:33] yegor256 commented on #348
@rultor deploy

[2018-04-19 14:36] rultor commented on #348
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11649-382759660)

[2018-04-19 14:52] rultor commented on #348
@lukesaunders @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11649-382759660) (spent 16min)

[code]

[2018-04-19 14:58] yegor256 commented on #348
@rultor deploy

[2018-04-19 14:59] rultor commented on #348
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11649-382768484)

[2018-04-19 15:32] yegor256 commented on #348
@llorllale deployed

[2018-04-19 15:33] llorllale commented on #348
@yegor256 thanks!

[2018-04-19 15:33] llorllale commented on #348
@lukesaunders @nikita-leonov @russelldc can you guys please check to see if we can close this issue now that PR #369 was merged?

[2018-04-23 12:50] llorllale commented on #317
@yegor256 ping!

Can we close this issue?

[2018-04-23 12:50] llorllale commented on #348
@lukesaunders @nikita-leonov @russelldc ping

[2018-04-23 20:43] yegor256 commented on #317
@llorllale thanks

[2018-04-23 20:43] #317 closed

[2018-04-23 20:59] 0crat commented on #317
The job [#317](https://github.com/yegor256/s3auth/issues/317) is now out of scope

[2018-04-23 21:01] 0crat commented on #371
The job [#371](https://github.com/yegor256/s3auth/issues/371) assigned to @llorllale[/z](https://www.0crat.com/u/llorllale), here is [why](https://www.0crat.com/footprint/C3RP1J1CH/1132119018); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-04-24 05:57] ypshenychka commented on #317
@0crat quality good

[2018-04-24 06:00] 0crat commented on #317
Order was finished, quality is "good": +35 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-24 06:00] 0crat commented on #317
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-04-29 04:29] 0crat commented on #371
@llorllale[/z](https://www.0crat.com/u/llorllale) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-04-30 17:37] llorllale commented on #371
@0crat waiting because I delayed before starting this

[2018-04-30 17:40] 0crat commented on #371
@llorllale The impediment for [#371](https://github.com/yegor256/s3auth/issues/371) was registered successfully by @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-04-30 19:12] llorllale commented on #371
@0crat waiting on teamed/qulice#891

[2018-04-30 19:14] 0crat commented on #371
@llorllale Job [#371](https://github.com/yegor256/s3auth/issues/371) is already on hold

[2018-05-01 17:55] russelldc commented on #348
@llorllale I was able to successfully load our page a few times, but I'm not sure how to verify it never happens.

[2018-05-03 22:38] graemecode opened #372 "Single-page applications"
Firstly, thanks for this awesome tool.

Using the nifty setup at http://www.s3auth.com, I've successfully set up a private demo of my app. However, since it's a single-page application, I'd love for all routes (e.g. `/dashboard`, `/request`) to load my react app at index.html, which has its own router.

Is there any way I could configure my current setup, such that this happens instead of trying t

[2018-05-03 22:39] 0crat commented on #372
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-05-03 22:39] 0crat commented on #372
@graemecode[/z](https://www.0crat.com/u/graemecode) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RP1J1CH) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-05-05 20:36] llorllale commented on #348
@russelldc how were you reproducing the error when you said you were experiencing it [here](https://github.com/yegor256/s3auth/issues/348#issuecomment-321908754)?

[2018-05-05 20:37] llorllale commented on #348
@nikita-leonov ping

[2018-05-06 05:01] yegor256 commented on #372
@graemecode it's not possible. The best solution would be to create `dashboard`, `request` files in your bucket and make them do JavaScript redirect on load: https://stackoverflow.com/questions/503093/how-do-i-redirect-to-another-webpage

[2018-05-06 05:01] #372 closed

[2018-05-08 17:41] llorllale commented on #348
@russelldc thank you

[2018-05-08 17:44] llorllale commented on #348
@yegor256 can we close this?

Of the 3 reporters of this issue:
* 1 is no longer in a position to verify the fix
* 1 is not experiencing the error, but is not sure how to reproduce
* 1 is unresponsive

[2018-05-10 12:56] yegor256 commented on #348
@llorllale OK, closing. If we have a similar problem in the future, let's report a new ticket

[2018-05-10 12:56] #348 closed

[2018-05-10 13:12] 0crat commented on #348
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @llorllale[/z](https://www.0crat.com/u/llorllale), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-05-10 13:12] 0crat commented on #348
The job [#348](https://github.com/yegor256/s3auth/issues/348) is now out of scope

[2018-05-10 19:58] ypshenychka commented on #348
@nikita-leonov According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your messages ([here](https://github.com/yegor256/s3auth/issues/348#issuecomment-300642451), [here](https://github.com/yegor256/s3auth/issues/348#issuecomment-300733104) and [here](https://github.com/yegor256/s3auth/issues/348#issuecomment-300734502)) by indicating an addressee in the beginning.

[2018-05-10 19:59] ypshenychka commented on #348
@russelldc According to our [QA Rules](http://www.zerocracy.com/policy.html#42):

Please correct your [message](https://github.com/yegor256/s3auth/issues/348#issuecomment-321908754) by indicating an addressee in the beginning.

[2018-05-14 19:26] ypshenychka commented on #348
@nikita-leonov @russelldc Please consider my remarks above.

[2018-05-16 14:28] 0crat commented on #348
Order was finished, quality is "acceptable": +30 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-05-16 14:28] 0crat commented on #348
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-05-31 15:00] llorllale commented on #371
@0crat refuse (the classpath issues raised by this upgrade are too complex I guess)

[2018-05-31 15:00] 0crat commented on #371
@llorllale The user @llorllale[/z](https://www.0crat.com/u/llorllale) resigned from [#371](https://github.com/yegor256/s3auth/issues/371), please stop working. Reason for job resignation: Order was cancelled

[2018-05-31 15:01] 0crat commented on #371
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @llorllale[/z](https://www.0crat.com/u/llorllale)

[2018-08-24 15:19] markus-hinsche commented on #320
Changing the `~/.boto file` like descriped here https://stackoverflow.com/questions/47929964/gsutil-cannot-copy-to-s3-due-to-authentication?rq=1 helped in our case

[2019-01-01 16:07] fabriciofx opened #375 "Let's update Copyright notice to 2019."
Let's update Copyright notice to 2019.

[2019-01-01 16:07] 0crat commented on #375
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2019-01-01 16:07] 0crat commented on #375
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RP1J1CH) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-28 17:01] fabriciofx opened #376 "Update jcabi-parent to 0.49.4 (solves xcop issue)"
Let's update to new jcabi version (0.49.4) because this new version solves xcop issue on windows.

[2019-01-28 17:01] 0crat commented on #376
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2019-01-28 17:01] 0crat commented on #376
@fabriciofx[/z](https://www.0crat.com/u/fabriciofx) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RP1J1CH) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-04 05:42] 0crat commented on #375
The job [#375](https://github.com/yegor256/s3auth/issues/375) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/C3RP1J1CH/95968eb3-9088-41b3-9427-0cced5181842); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2019-02-04 05:42] 0crat commented on #375
Job `gh:yegor256/s3auth#375` already assigned to @carlosmiranda, can't assign to @carlosmiranda

[2019-02-04 05:44] 0crat commented on #375
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-02-04 05:47] 0crat commented on #375
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @fabriciofx[/z](https://www.0crat.com/u/fabriciofx)

[2019-02-04 06:43] carlosmiranda commented on #375
@fabriciofx fixed in https://github.com/yegor256/s3auth/commit/4b9490c6216641bff210b4d8c1abe110707a766f

[2019-02-04 06:43] #375 closed

[2019-02-04 07:00] 0crat commented on #375
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-04 07:12] 0crat commented on #375
Order was finished: +35 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-03-06 04:50] TXAHUB commented on #363
I am having the exact same issue on the same server

[2019-08-15 11:46] ThirdLibResearch opened #378 "Third-Party Library Version Inconsistencies in your project"
We are currently investigating the usage of different versions of the same third-party library in different modules of a project (i.e., the library version inconsistency problem). It is a non-trivial and time-consuming task to maintain the evolving third-party libraries. In that sense, it seems necessary to harmonize the different versions of the same third-party library in different modules into

[2019-08-15 11:46] 0crat commented on #378
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2019-08-15 11:46] 0crat commented on #378
@thirdlibresearch[/z](https://www.0crat.com/u/thirdlibresearch) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C3RP1J1CH) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-18 22:55] yegor256 opened #379 "migrate to Dokku"

[2019-10-18 22:55] 0crat commented on #379
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) please, pay attention to this issue

[2019-10-18 22:56] yegor256 commented on #379
@rultor deploy

[2019-10-18 22:58] rultor commented on #379
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20647-543993686)

[2019-10-19 09:50] rultor commented on #379
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20647-543993686) (spent 11hr)

[code]

[2019-10-19 09:58] yegor256 commented on #379
@rultor deploy

[2019-10-19 10:02] rultor commented on #379
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/20647-544122762)

[2019-10-19 10:20] rultor commented on #379
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20647-544122762) (took me 17min)

[2019-10-19 10:23] #379 closed

[2019-10-19 12:21] 0crat commented on #379
This job is not in scope

[2019-10-19 12:47] 0crat commented on #379
Job `gh:yegor256/s3auth#379` is not assigned, can't get performer

[2019-11-20 08:54] dylanic-dev opened #381 "Is s3auth.com down?"
I believe s3auth.com domain has disappeared?

[2019-11-20 11:41] dylanic-dev commented on #381
back up again now.
s3auth.com. IN NS
;ANSWER
s3auth.com. 21599 IN NS ns-1118.awsdns-11.org.
s3auth.com. 21599 IN NS ns-1854.awsdns-39.co.uk.
s3auth.com. 21599 IN NS ns-449.awsdns-56.com.
s3auth.com. 21599 IN NS ns-756.awsdns-30.net.
;AUTHORITY

[2019-12-13 21:46] DrCord commented on #381
seem to be a site called ReHTTP now, no way to register a site for s3auth.

[2020-01-14 18:30] vivekiyer87 commented on #381
what about the sites that were registered..

[2020-04-06 06:49] colmsjo commented on #305
+1

[2020-08-17 18:40] alexbird commented on #324
FYI I suspect this is also stopping git cloning a bare repo from S3 – this is a repo simply used to host Cocoapod spec files. I am hosting a private library for both Android and iOS, but have not had an issue with Maven so far.

`fatal: http://[repo path]/info/refs not valid: is this a git repository?` there is no `refs` file or folder so this should ideally be a `404`.

[2022-07-05 00:53] s1mrankaur commented on #381
seems to be down again

[2022-07-05 00:56] s1mrankaur opened #388 "s3auth.com not loading properly"
It seems to be not loading at the moment. Not able to signin/login either
[code]

[2022-07-12 18:58] yegor256 commented on #381
@s1mrankaur working on it...

[2022-07-12 18:59] 0pdd opened #389 "RendersHomePage.js:33: Migrate old tests from..."
The puzzle `200-e1abb509` from #200 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-rest/src/test/casperjs/RendersHomePage.js#L33-L33

The puzzle was created by @yegor256 on 12-Jul-22.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the t

[2022-07-12 18:59] 0pdd opened #390 "DefaultDynamoTest.java:61-64: This test creates a mock..."
The puzzle `90-43f9c549` from #90 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-hosts/src/test/java/com/s3auth/hosts/DefaultDynamoTest.java#L61-L64

The puzzle was created by @yegor256 on 12-Jul-22.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2022-07-12 18:59] 0pdd opened #391 "FtpThread.java:52-53: Implement authentication based on..."
The puzzle `213-5796b8fa` from #213 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-relay/src/main/java/com/s3auth/relay/FtpThread.java#L52-L53

The puzzle was created by @yegor256 on 12-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2022-07-12 18:59] 0pdd opened #392 "FtpThread.java:54-57: Implement relay functionality to..."
The puzzle `213-6939d515` from #213 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-relay/src/main/java/com/s3auth/relay/FtpThread.java#L54-L57

The puzzle was created by @yegor256 on 12-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2022-07-12 18:59] 0pdd opened #393 "FtpResponse.java:55-57: Implement methods 'withCode',..."
The puzzle `213-d22cf12f` from #213 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-relay/src/main/java/com/s3auth/relay/FtpResponse.java#L55-L57

The puzzle was created by @yegor256 on 12-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2022-07-12 18:59] 0pdd opened #394 "FtpFacade.java:65-66: Implement TLS secure port listening..."
The puzzle `213-2f9b789a` from #213 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-relay/src/main/java/com/s3auth/relay/FtpFacade.java#L65-L66

The puzzle was created by @yegor256 on 12-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2022-07-12 18:59] 0pdd opened #395 "Main.java:67-68: Create a FtpFacade in order to provide a..."
The puzzle `213-af390358` from #213 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-relay/src/main/java/com/s3auth/relay/Main.java#L67-L68

The puzzle was created by @yegor256 on 12-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2022-07-12 18:59] 0pdd opened #396 "HttpFacade.java:66-69: Create new a class Facade with all..."
The puzzle `213-721856fe` from #213 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-relay/src/main/java/com/s3auth/relay/HttpFacade.java#L66-L69

The puzzle was created by @yegor256 on 12-Jul-22.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2022-07-12 18:59] 0pdd opened #397 "HttpFacadeTest.java:523-526: The test fails to retrieve..."
The puzzle `191-7e266bd1` from #191 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-relay/src/test/java/com/s3auth/relay/HttpFacadeTest.java#L523-L526

The puzzle was created by @yegor256 on 12-Jul-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"don

[2022-07-12 18:59] 0pdd opened #398 "MainTest.java:51-52: Test doesn't work since AWS Dynamo..."
The puzzle `33-9ff485f7` from #33 has to be resolved:

https://github.com/yegor256/s3auth/blob/e345543f347f3412adaf7b54eb77c7a16db387d7/s3auth-relay/src/test/java/com/s3auth/relay/MainTest.java#L51-L52

The puzzle was created by Yegor Bugayenko on 12-Jul-22.

 role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2022-07-12 19:00] 0pdd commented on #200
@carlosmiranda the puzzle [#389](https://github.com/yegor256/s3auth/issues/389) is still not solved.

[2022-07-12 19:00] 0pdd commented on #90
@davvd the puzzle [#390](https://github.com/yegor256/s3auth/issues/390) is still not solved.

[2022-07-12 19:00] 0pdd commented on #317
@yegor256 the puzzle [#unknown]() is still not solved.

[2022-07-12 19:00] 0pdd commented on #213
@igorsyl 6 puzzles [#391](https://github.com/yegor256/s3auth/issues/391), [#392](https://github.com/yegor256/s3auth/issues/392), [#393](https://github.com/yegor256/s3auth/issues/393), [#394](https://github.com/yegor256/s3auth/issues/394), [#395](https://github.com/yegor256/s3auth/issues/395), [#396](https://github.com/yegor256/s3auth/issues/396) are still not solved.

[2022-07-12 19:00] 0pdd commented on #191
@davvd the puzzle [#397](https://github.com/yegor256/s3auth/issues/397) is still not solved.

[2022-07-22 08:39] jiri-kovarik commented on #381
relay.s3auth.com is timing out atm, could this be related?

[2022-07-28 04:36] yegor256 commented on #381
@DrCord should be up and running now again, please check

[2022-07-28 04:36] #381 closed

[2022-07-28 04:36] yegor256 commented on #388
@DrCord should be up and running now again, please check

[2022-07-28 04:36] #388 closed

[2022-07-29 03:38] yegor256 opened #400 "fresh release"
Let's release again

[2022-07-29 04:03] 0pdd commented on #317
@yegor256 the only puzzle [#unknown]() is solved here.

[2022-07-29 10:59] yegor256 commented on #400
@rultor deploy

[2022-07-29 10:59] rultor commented on #400
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/26386-1199144915)

[2022-07-29 11:00] rultor commented on #400
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26386-1199144915) (spent 22s)

[code]

[2022-07-29 12:38] yegor256 commented on #400
@rultor deploy

[2022-07-29 12:40] rultor commented on #400
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/26386-1199230148)

[2022-07-29 12:49] rultor commented on #400
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26386-1199230148) (spent 9min)

[code]

[2022-07-29 12:54] yegor256 commented on #400
@rultor deploy

[2022-07-29 12:55] rultor commented on #400
@yegor256 OK, I'll try to deploy now. You can check the progress [here](https://www.rultor.com/t/26386-1199251335)

[2022-07-29 13:10] rultor commented on #400
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26386-1199251335) (took me 15min)

[2022-07-29 13:12] #400 closed