[2012-08-26 08:28] yegor256 opened #1 "reload from dynamo every few minutes"
`DynamoHosts` should reload from Dynamo every few moments

<hr id='w'>

 - ~~`1-f2c33b38`/#90~~
 - `90-43f9c549`/#292 (by )

[2012-08-26 09:18] #1 closed, assigned to nobody

[2012-08-26 12:36] yegor256 opened #2 "implement MD5 algorithm for htpasswd"
Let's implement MD5 algo there

[2012-08-26 12:36] yegor256 opened #3 "implement Crypt algorithm for Htpasswd"
Let's implement it

[2012-08-26 12:40] yegor256 opened #4 "write up full scale Terms of Use and Privacy Policy"
We should create these documents..

[2012-08-26 13:41] yegor256 opened #5 "flash messages"
Let's introduce flash messages between REST pages

[2012-08-27 10:27] yegor256 opened #6 "high-level UML documentation"
Let's create some simple high-level UML documentation

[2012-08-27 16:42] #6 closed, assigned to nobody

[2012-08-27 20:45] yegor256 opened #7 "transmit HTTP headers from S3 to the client"
besides getObject() let's use S3 meta data in order to generate Content-Type and Content-Length in responses.

[2012-08-28 17:54] yegor256 opened #8 "enforce only HTTPS for content delivery"
Let's enforce SSL connections only for content delivery

<hr id='w'>

 - ~~`8-5eb4ae33`/#191~~
 - `191-7e266bd1`/#290 (by )

[2012-09-05 14:36] yegor256 opened #9 "don't fetch .htpasswd"
We should protect `.htpasswd` file and never deliver it

[2012-09-06 10:26] #9 closed, assigned to yegor256

[2012-09-22 12:10] doapp-ryanp opened #10 "support query string in request for asset"
First off this is an awesome tool, thanks for writing.

Requests to files in s3 that contain a qs fail to fetch.

It is handy to pass along the query string for things like making sure browser is not caching css/js assets.

example:

http://foo.mydomain.com/api/resources/bootstrap.min.css?blah results in:

[code]

http://foo.mydomain.com/api/resources/bootstrap.min.css however works...

[2012-09-22 12:26] doapp-ryanp opened #11 "add config to docs"
Very sweet tool guys.

Could you add something like the following to your readme/wiki, may help the next person save some time.

Create a new user via IAM (use these creds in s3auth.com), give this IAM user read only access to a bucket via:

[code]

Generate .htpasswd file with sha1:

[code]

upload it to root of your bucket, give it 'any authenticated user' access (or the new user that u just add

[2012-09-23 06:58] yegor256 opened #12 "implement HTTP Digest Auth method for better security"
Let's implement HTTP Digest Auth method for better security

[2012-09-24 13:31] #10 closed, assigned to nobody

[2012-09-24 14:05] #11 closed, assigned to yegor256

[2012-09-24 14:34] yegor256 opened #13 "heroku deployment needs retries"
heroku deployment needs retries

[2012-09-24 14:47] #13 closed, assigned to nobody

[2012-09-26 07:23] yegor256 opened #14 "flash messages are sticky"
flash messages are sticky. they need better testing

[2012-09-28 08:03] #14 closed, assigned to nobody

[2012-09-28 08:03] yegor256 opened #15 "build is broken because of cobertura and aspectj conflict"
build is broken because of cobertura and aspectj conflict

[2012-09-28 09:13] #15 closed, assigned to nobody

[2012-09-28 09:17] #5 closed, assigned to yegor256

[2012-09-28 09:28] yegor256 opened #16 "ArrayIndexOutOfBoundsException in Htpasswd"
[code]

[2012-09-28 09:32] #16 closed, assigned to nobody

[2012-09-28 10:37] yegor256 opened #17 "flash messages are still sticky (even after #14)"
changes were made in #14, but messages are still sticky and don't disappear after page refresh

[2012-09-28 11:05] yegor256 opened #18 "can't login with FB company page"
The login from Facebook seems to require a personal FB account. I tried to log inn with the company FB page, but that did not work.

[2012-09-30 06:02] yegor256 opened #19 "can't start RELAY because of broken maven dependencies"
[code]

[2012-09-30 07:14] #19 closed, assigned to yegor256

[2012-10-02 05:24] #17 closed, assigned to yegor256

[2012-10-02 19:25] doapp-ryanp opened #20 "504 errors"
I'm getting HTTP/1.1 504 Gateway Timeout's when I try to request my page(s).  Used to work - I don't think I changed anything. .htpasswd in root of bucket has not changed.

any ideas?

Ryan Pendergast is my FB login.  Its http://[mydomain].com/api/index.html . If you cant tell my domain from your end let me know and I'll email you it.

[2012-10-03 18:28] #20 closed, assigned to yegor256

[2012-10-10 12:39] yegor256 opened #21 "login mechanism for corporate users"
Let's introduce some other login mechanism for corporate users. Facebook looks like a good solution for individuals, but not for companies.

[2012-10-10 12:39] #18 closed, assigned to yegor256

[2012-10-10 16:18] #7 closed, assigned to nobody

[2012-10-11 14:48] yegor256 opened #22 "detailed error report in case of rejected authorization"
Would be convenient to show a detailed error report in case of rejected authorization. Now we just return 401 status code and a short message. This is not enough to detect possible errors in configuration.

[2012-10-11 19:22] #22 closed, assigned to yegor256

[2012-10-20 12:57] yegor256 opened #23 "jcabi-heroku-maven-plugin instead of antrun script"
Let's use [jcabi-heroku-maven-plugin](http://www.jcabi.com/jcabi-heroku-maven-plugin) instead of antrun script

[2012-10-20 13:01] #23 closed, assigned to yegor256

[2012-10-25 07:10] yegor256 opened #24 "show bucket name in WWW-Authenticate header at first try"
Let's show bucket name in WWW-Authenticate header at first try, instead of "s3auth"

[2012-10-25 07:22] yegor256 opened #25 "interpert If-Modified-Since header"
Let's interpret `If-Modified-Since` HTTP header. This will significantly increase speed of page delivery for end-users

[2012-10-25 21:44] damonmannion opened #26 "directory issue"
Am moving an octopress blog over to s3, and I want to hide it for the moment, hence s3auth.

Setup ok and working fine at the top level page, but not any directories.

The octopress pages map like this
/domain/page -> /domain/page/index.html

when I access /domain/page/index.html it works fine, but /domain/page/ or /domain/page just gives me an access error.

my domain is dev.damon.io

Thanks

[2012-11-04 09:34] yegor256 opened #27 "papertrail for logs"
Let's use papertrailapp.com for logs

[2012-11-04 10:52] #27 closed, assigned to nobody

[2012-11-09 15:00] yegor256 opened #28 "NPE in DefaultHost when bucket configuration is NULL"
NPE in `DefaultHost` when bucket configuration is NULL

[2012-11-09 15:59] #28 closed, assigned to nobody

[2012-11-11 15:11] yegor256 opened #29 "new jcabi-maven-skin"
Let's apply it correctly

[2012-11-11 15:23] #29 closed, assigned to nobody

[2012-11-13 11:13] yegor256 opened #30 "syslog logging doesn't work"
syslog logging doesn't work for some reason

[2012-11-13 12:18] #30 closed, assigned to yegor256

[2012-11-18 12:37] yegor256 opened #31 "URN instead of plain number for facebook user IDs"
required before #21

Let's use `com.jcabi.urn.URN` instead of plain number for identities of Facebook users.

[2012-11-18 19:55] #31 closed, assigned to yegor256

[2012-11-19 10:13] #21 closed, assigned to yegor256

[2012-11-26 12:40] yegor256 opened #32 "IndexOutOfBoundsException when user photo is absent"
[code]

[2012-11-26 13:33] #32 closed, assigned to yegor256

[2012-12-09 07:22] yegor256 opened #33 "large files: broken pipe"
[code]

<hr id='w'>

 - `33-9ff485f7`/#95 (by )

[2012-12-16 08:38] yegor256 opened #34 "syslog trails per domain"
As a new feature, would be nice to have an ability to forward all domain-specific events to a custom syslog host/port (configurable from the web front).

[2012-12-16 11:32] yegor256 opened #35 "non-US -Region buckets don't work"
When S3 bucket is not in US region this is the exception I'm getting:

[code]

[2012-12-16 12:37] #35 closed, assigned to yegor256

[2012-12-17 15:25] doapp-ryanp opened #36 "my s3auth domain stopped working"
Worked last I checked (~48 hrs ago).  Now I get the following:

failed to fetch / from 'wsapi.mydomain.com' (key=AKIAJ....: ["'+suffix': The specified key does not exist."]

Any ideas? If you need my domain/key specifics let me know and I'll direct message/email you.

[2012-12-17 17:35] #36 closed, assigned to nobody

[2012-12-19 19:42] #33 closed, assigned to yegor256

[2012-12-27 18:43] yegor256 opened #37 "login with LinkedIn account"
Let's implement one more login provider - LinkedIn

[2012-12-29 08:11] yegor256 opened #38 "integration test for relay JAR"
Let's add an integration test for the JAR in `s3auth-relay`

[2012-12-29 09:13] #38 closed, assigned to yegor256

[2013-01-01 08:01] yegor256 opened #39 "log traffic consumption per domain"
Would be nice to log traffic consumption per each domain and show that statistics to end-users

[2013-01-04 12:47] btisdall opened #40 "Deleted configuration appears to be cached"
Thanks for what promises to be a very useful service for us once I get it working!

I've removed our existing configurations but it when GET'ing http://photobox-core-gems.core.photobox.com/.htpasswd s3auth is returning https://gist.github.com/d1a7f8e88c3cdbebef88, when I would expect "huh?".

Am I doing something dumb?

Thanks.

[2013-01-04 17:37] yegor256 opened #41 "enable configuration of bucket names"
At the moment we require bucket names to have the same names as domain names. Would be convenient to let users have any bucket name.

[2013-01-04 17:43] yegor256 opened #42 "incorrect exception when bucket is not registered"
Misleading exception message when bucket is not found: `failed to fetch /.htpasswd from...`. see #40 for more details

[2013-02-14 16:44] tweist opened #43 "Empty endpoint doesn't work during domain registration"
Hi,

First off, thanks a lot for putting up this free service. I tried to register a new domain following the instruction.

Hostname: sa-sanofi.tsibiocomputing.com

I left "Optional S3 endpoint" blank since I use AWS US standard.

However, I got the following error message:

invalid AWS S3 region 's3.amazonaws.com'; invalid domain

Do you know what is wrong?

[2013-02-17 14:37] yegor256 opened #44 "let's use @Immutable annotation"
Let's annotate immutable classes with `com.jcabi.aspects.Immutable`

[2013-02-23 07:52] yegor256 opened #45 "restart after broken download"
Would be nice to implement a "restart" option for large files download.

[2013-02-23 07:52] yegor256 opened #46 "login with Twitter account"
Would be nice to implement login with Twitter account

[2013-03-03 12:49] yegor256 opened #47 "pass all HTTP headers from Amazon to the client"
Discussion started in #43. Let's pass all HTTP headers received from Amazon to the client. I remember that there was some reason in the past why we weren't able to do this, but let's re-consider that decision. Looks like it should be a harmful mechanism.

[2013-03-10 11:46] yegor256 opened #48 "rexsl 0.4.8 with insets"
Let's migrated to rexsl 0.4.8 and start using "insets"

[2013-03-17 07:46] #46 closed, assigned to nobody

[2013-03-17 17:34] #48 closed, assigned to nobody

[2013-03-17 17:36] #44 closed, assigned to nobody

[2013-03-17 19:10] yegor256 opened #49 "stack overflow in Htpasswd#authorize()"
[code]

[2013-03-18 11:11] #49 closed, assigned to nobody

[2013-03-18 18:14] #45 closed, assigned to nobody

[2013-03-18 19:18] #47 closed, assigned to nobody

[2013-03-26 09:29] yegor256 opened #50 "configure papertrailapp explicitly in log4j.properties"
Let's configure papertrailapp explicitly in `log4j.properties`

[2013-03-26 09:44] #50 closed, assigned to yegor256

[2013-03-29 17:20] yegor256 opened #51 "don't log too slow HttpThread#dispatch()"
`HttpThread#dispatch()` by definition takes almost a minute, let's configure its `@Loggable` correctly (to avoid warnings)

[2013-03-29 17:21] #51 closed, assigned to nobody

[2013-03-29 18:15] yegor256 opened #52 "enable browser side caching"
Let's remove "cache stopping" headers

[2013-03-29 18:18] #52 closed, assigned to nobody

[2013-03-29 18:51] yegor256 opened #53 "If-None-Match HTTP header"
Let's support `If-None-Match` HTTP header

[2013-04-01 08:28] yegor256 opened #54 "super user"
Let's introduce a super user account, which should be able to view all registered domains and their statistics

[2013-04-03 02:44] yegor256 opened #55 "unstable test HttpFacadeTest#handlesParallelHttpRequests()"
it fails once per day:

[code]

[2013-04-06 05:24] yegor256 opened #56 "upgrade to rexsl 0.4.9"
let's upgrade to rexsl 0.4.9

[2013-04-06 06:01] #56 closed, assigned to yegor256

[2013-04-09 18:26] yegor256 opened #57 "failed to read, total=58417581: 'Socket closed'"
similar to #33

Socket gets closed on long files, for some unknown reason.

[2013-04-10 08:01] #57 closed, assigned to yegor256

[2013-04-10 09:22] DivyeshRupawala opened #58 "can't configure my bucket as domain"
Hello,
    I am Divyesh Rupawala.i would like to implement Basic Authentication to my video which are uploaded on Amazon S3.

I performed following step but still i am getting an error as 'server not found'.
1. Make bucket name as 'temptxttemp' and generate .htpasswd file using http://aspirine.org/htpasswd_en.html link in SHA(1) and also upload that file in my bucket 'temptxttemp'.and after upload

[2013-04-17 08:30] yegor256 opened #59 "obsolete log message in HttpThread"
this one:

[code]

[2013-04-17 08:42] #59 closed, assigned to nobody

[2013-04-17 16:51] bluntcoder opened #60 "Is it bucket name or domain name?"
On the help page, http://www.s3auth.com/ while entering the form, you have this text listed as the first form entry:

Host name (the same as S3 bucket name), for example bucket-1.example.com:

Documentation states hostname, which would be the same as the bucket name, yet the example provides the full domain name. So which one is it? I tried putting in the full domain name and was getting a connect

[2013-04-17 17:07] #60 closed, assigned to nobody

[2013-05-21 13:14] yegor256 opened #61 "enable S3 versioning"
Let's enable S3 versioning: http://aws.amazon.com/about-aws/whats-new/2010/02/08/versioning-feature-for-amazon-s3-now-available/

Every URL will have an optional suffix with its version ID:

[code]

Besides, let's enable version listing:

[code]

This should render a list of all versions available for the object.

[2013-05-24 21:23] jpmarindiaz opened #62 "Password protection working but still public with the bucket url"
Password protection is working now in my mypage.example.com
But all the content is still publicly available at http://mypage.example.com.s3.amazonaws.com/index.html

How can I fixed that?

[2013-05-26 20:46] yegor256 opened #63 "create dynamo table during integration testing, on demand"
Let's create dynamo test table on demand, to save money

[2013-05-27 13:57] trungie opened #64 "failed to fetch /.htpasswd"
My bucket is in s3-ap-southeast-2. Is this a supported s3 region?

This is the output when i try to access the .htaccess file
https://gist.github.com/trungie/0a7da8ef728d9cab69a0

I can't work out whats wrong.

[2013-05-28 17:45] dcolls opened #65 "can't authorize myself"
Hello, i've followed all instructions from http://www.s3auth.com/ but i'm still not able to authorize myself.
1. CNAME=BUCKET=reports.totalchannel.tv
2. Amazon IAM Policy:

{
  "Statement": [
    {
      "Effect": "Allow",
      "Action": ["s3:GetObject", "s3:GetBucketWebsite"],
      "Resource": [
        "arn:aws:s3:::reports.totalchannel.tv/*"
      ]
    }
  ]
}
1. .htpasswd generated from too

[2013-06-09 09:43] yegor256 opened #66 "jcabi-dynamo"
Let's use jcabi-dynamo instead of our current implementation of DynamoDB bridge

[2013-06-11 19:10] #62 closed, assigned to nobody

[2013-06-13 15:10] yegor256 opened #67 "Github OAuth"
Let's add it

[2013-06-18 08:32] simonjenga opened #68 "MD5 and SHA-1 have known security vulnerabilities"
`com.s3auth.hosts.Htpasswd`

Commonly used hash functions such as such as DES, SHA-1 and MD5 have known security vulnerabilities.
There have been recent attacks against them, and it is advisable not to use them.

Use hash functions such as SHA-256 and SHA-512 instead.

These have no known weaknesses at this time and can be used in the same way as the older hash
functions.

Visit Wikipedia articles

[2013-07-30 10:38] simonjenga opened #69 "reader and socket in HttpRequest never closes"
`com.s3auth.relay.HttpRequest.HttpRequest(@NotNull final Socket socket)`

There's also repetitive `if` statements which should be modified to:
`if (line == null || line.isEmpty()) { break; }`

[2013-07-30 15:10] ghost opened #70 "s3auth problem"
When we change s3 content and refresh s3 which is authenticated by s3auth, for next authentication gives error  and not able to load updated files. Please give me some solution for this issue

[2013-08-01 08:05] simonjenga opened #71 "compilation failure on s3auth-hosts"
[code]

[2013-08-02 07:00] simonjenga opened #72 "s3auth-hosts test failure"
Problem:
 `understandsPlainTextHashValues(com.s3auth.hosts.HtpasswdTest)` ,
 `returnsPlainTextContent(com.s3auth.hosts.ResourceTest)`

https://gist.github.com/simonjenga/6137973

[2013-08-03 08:39] simonjenga opened #73 "s3auth-relay test failure"
Problem:
`sendsDataFromSlowResource(com.s3auth.relay.HttpResponseTest)`

https://gist.github.com/simonjenga/6145734

[2013-08-05 20:15] simonjenga opened #74 "s3auth-rest test failure"
Problem:

[code]

https://gist.github.com/simonjenga/6159137

[2013-09-26 22:16] bluntcoder opened #75 "relay.s3auth.com is down"
Happened about 10 minutes ago. Can't ping it - and my relayed domains stopped working.

[2013-11-01 07:19] yegor256 opened #76 "absence of .htpasswd file leads to relay crash"
absence of `.htpasswd` file leads to relay crash

[2013-11-03 06:27] #63 closed, assigned to nobody

[2013-11-03 09:42] #55 closed, assigned to nobody

[2013-11-03 09:43] #37 closed, assigned to yegor256

[2013-11-19 09:09] pgubb opened #77 "Authentication when Amazon s3 bucket maps to zone apex/root domain"
I have registered a domain name, lets call it example.com. In my Amazon S3 account, I have a bucket set up as a static website host called example.com with the website content in index.html. In addition, I have another bucket (www.example.com) set up to redirect requests to example.com. Both example.com and www.example.com are functional and as a next step I want to add the s3auth for the website.

[2013-11-21 00:19] bluntcoder opened #78 "relay.s3auth.com.dies intermittantly for several minutes, several times a day"
Hi there,

Ever since I reported https://github.com/yegor256/s3auth/issues/75 - I've been monitoring my website with pingdom.com and the downtime of this service has been random and sporadic. Attached is a graph of the last 30 days of downtime with your service. Do you guys monitor the service? I hope this can be of some help.

![s3auth downtime](https://f.cloud.github.com/assets/2693220/1587831/6

[2013-11-22 08:00] yegor256 opened #79 "Htpasswd: java.lang.StackOverflowError"
[code]

[2013-11-24 15:45] #79 closed, assigned to nobody

[2013-11-27 12:42] yegor256 opened #80 "unstable test HttpFacadeTest#handlesParallelHttpRequests"
[code]

[2013-11-27 12:59] #80 closed, assigned to nobody

[2013-12-05 08:17] yegor256 opened #81 "backend threads are lost on exceptions"
backend threads are lost on exceptions

[2013-12-05 08:27] #81 closed, assigned to nobody

[2013-12-09 20:30] #76 closed, assigned to nobody

[2013-12-10 19:59] goojs opened #82 "How to set up CNAME DNS record in AWS?"
Hi. I am an engineer who is reasonably familiar with classical Apache based web. I am trying to migrate to Amazon S3 based web with some protection. This looks like an excellent choice but my trial wasn't successful.

I would appreciate if you can answer a few questions about instructions in s3auth.com:

(1) Where in AWS could I do "Point a CNAME DNS record of your domain to relay.s3auth.com"?

(2

[2013-12-11 21:47] #82 closed, assigned to nobody

[2013-12-16 09:00] ghost opened #84 "HTTP Basic auth without https is really not a good idea"
And it doesnt seem like you have https enabled for relay.s3auth.com?

[2014-01-03 22:01] #75 closed, assigned to nobody

[2014-01-06 22:53] jonmumm opened #85 "Returns 403 instead of website error document on non-existent object"
I'm hosting a static site on s3 with s3auth. When you go to a URL of an object that doesn't exist in the bucket, instead of displaying the error documented specified for the bucket, I get

Status Code: 403, AWS Service: Amazon S3, AWS Request ID: E6B2194B3E5E353C, AWS Error Code: AccessDenied, AWS Error Message: Access Denied

Is there any way around this?

[2014-01-14 09:50] #26 closed, assigned to yegor256

[2014-01-14 12:34] #65 closed, assigned to nobody

[2014-01-14 13:04] #78 closed, assigned to nobody

[2014-01-14 13:10] #70 closed, assigned to nobody

[2014-01-15 06:23] #77 closed, assigned to nobody

[2014-01-20 15:59] pwalczyszyn opened #86 "Support caching for loaded resources"
Wasn't sure where to ask this. But I have an issue that my html resources like images are not cached in a single page request. Is it possible to have this?

[2014-01-20 19:21] yegor256 opened #87 "expose Last-Modified HTTP header"
Let's expose `Last-Modifed` HTTP header with every response. The value should contain the modification date of S3 object.

[2014-01-20 19:22] yegor256 opened #88 "expose Age HTTP header"
Let's expose `Age` HTTP header with every response. The value should contain the age of S3 object.

[2014-01-20 21:14] davvd opened #89 "HtpasswdTest.java:143-143: This is not implemented yet..."
Puzzle `1-1002848b` in `s3auth-hosts/src/test/java/com/s3auth/hosts/HtpasswdTest.java:82-82` has to be resolved: This is not implemented yet

[2014-01-20 22:03] davvd opened #90 "DefaultDynamo.java:64-64: Would be nice to migrate..."
Puzzle `1-f2c33b38` in `s3auth-hosts/src/main/java/com/s3auth/hosts/DefaultDynamo.java:64-64` has to be resolved: Would be nice to migrate to jcabi-dynamo

If you have any technical questions, don't ask me, submit new tickets instead

[2014-01-21 07:26] #66 closed, assigned to nobody

[2014-01-21 10:22] #2 closed, assigned to nobody

[2014-01-22 07:09] #3 closed, assigned to nobody

[2014-01-23 19:32] davvd opened #95 "MainTest.java:51-52: Test doesn't work since AWS..."
Puzzle `33-9ff485f7` in `s3auth-relay/src/test/java/com/s3auth/relay/MainTest.java:51-52` has to be resolved: Test doesn't work since AWS Dynamo config is not available in runtime. We should find a way to mock it properly.

If you have any technical questions, don't ask me, submit new tickets instead

[2014-01-24 19:25] #89 closed, assigned to nobody

[2014-01-26 08:44] carlosmiranda opened #96 "HTTP Request header normalization is inconsistent"
In the `HttpRequest` class, header names are normalized before they are stored. So for instance, if a raw request with an `If-None-Match` header is made, it is stored in `HttpRequest` as `If-none-match`, as per the `HttpRequest#normalize()` method. This is because <a href="http://stackoverflow.com/questions/5258977/are-http-headers-case-sensitive">HTTP Headers are not case sensitive</a>.

However,

[2014-01-26 10:01] #24 closed, assigned to yegor256

[2014-01-30 14:34] #96 closed, assigned to nobody

[2014-01-31 10:23] #25 closed, assigned to yegor256

[2014-01-31 14:23] #53 closed, assigned to nobody

[2014-02-01 01:20] carlosmiranda opened #101 "Add support for HTTP compression"
I think this will be a useful feature to implement. HTTP compression can make pages load faster through saving time and bandwidth.

Additionally, we'd also have to restrict compression to uncompressed data types such as raw text to prevent inefficient use of compression on already-compressed data (such as PNGs).

See:
https://developers.google.com/speed/articles/use-compression
http://betterexplai

[2014-02-04 09:35] #34 closed, assigned to yegor256

[2014-02-06 08:59] #87 closed, assigned to nobody

[2014-02-08 00:12] dfoleyAFG opened #104 "Internal application Error"
Submitting domain for registration on s3auth.com and getting
Internal application error page.
Just wondering if its something I'm doing...
Thanks

[2014-02-08 08:51] #88 closed, assigned to nobody

[2014-02-08 15:48] #86 closed, assigned to nobody

[2014-02-10 17:07] #104 closed, assigned to nobody

[2014-02-11 15:46] #71 closed, assigned to nobody

[2014-02-13 14:06] bluntcoder opened #106 "s3auth is sporadically going down again"
My pingdom alerts have been ringing non-stop these last 24 hours, with about 5 -10 min of downtime per outage. What's happening?

[2014-02-16 03:10] #12 closed, assigned to nobody

[2014-02-19 09:20] #41 closed, assigned to yegor256

[2014-02-21 03:59] #42 closed, assigned to nobody

[2014-03-04 15:05] eslesarchuk opened #110 "Incorrect range header handling"
http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35

RFC allows different values for range requests:
- `bytes=0-499`
- `bytes=-500`
- `bytes=9500-`
- `bytes=500-600,601-999`

Seems that s3auth is not supporting any of this except the first one.
This is a problem while playing the embedded HTML5 videos - browsers can query `bytes=0-` and that's okay from the RFC side, but fails with the

[2014-03-05 07:22] #72 closed, assigned to nobody

[2014-03-05 15:36] #39 closed, assigned to nobody

[2014-03-05 20:02] davvd opened #112 "SyslogHosts.java:46-58: SyslogHosts should add syslog capabilities..."
Puzzle `34-91a7c8a0` in `s3auth-hosts/src/main/java/com/s3auth/hosts/SyslogHosts.java:46-58` has to be resolved: SyslogHosts should add syslog capabilities to the operations of its underlying Hosts instance. The way that I imagine that this will be done is that {@link SyslogHosts#find(String)}) should create instances of Host, in turn {@link Host#fetch(java.net.URI, Range)} will create instances o

[2014-03-06 21:49] Jonovono opened #113 "Does not work with full endpoint?"
Hello. I have this set up and it works great. However, I notice if I go to the website directly with the full endpoint, like: _._.s3-website-us-west-1.amazonaws.com it bypasses the htpasswd. Is this normal? Any way to have the password auth show for this as well?

Thanks.

[2014-03-07 11:26] #67 closed, assigned to nobody

[2014-03-07 11:40] #110 closed, assigned to nobody

[2014-03-08 20:23] #73 closed, assigned to nobody

[2014-03-08 21:25] #113 closed, assigned to nobody

[2014-03-08 23:08] yegor256 opened #117 "render CloudWatch data in home page"
Let's render data from CloudWatch for every domain. Let's get a week total of `BytesTransferred` and add them to very `<domain>` element.

[2014-03-09 02:47] carlosmiranda opened #118 "HttpRequest cannot fetch request parameters"
At the moment, we have no way of being able to get query parameters from a `HTTP GET` request through the `HttpRequest` class. For example, if my request was `GET /index.htm?s3-version=3`, there is no way for me to be able to get the parameter `s3-version` or its value.

This is blocking ticket #61 . Please assign it to me so that I may address it right away.

[2014-03-10 16:18] yegor256 opened #121 "show directory list"
When a resource is requested and S3 object is not found, we should check whether resource name ends with `/index.html`. If it does, we should render a page with a list of all resources in the directory. Like apache is doing it.

[2014-03-10 21:15] #118 closed, assigned to nobody

[2014-03-10 21:18] #61 closed, assigned to nobody

[2014-03-10 22:03] davvd opened #122 "HttpThread.java:190-194: We should be able to..."
Puzzle `61-70b549cd` in `s3auth-relay/src/main/java/com/s3auth/relay/HttpThread.java:190-194` has to be resolved: We should be able to fetch the list of versions of a given resource. The request should contain the query "all-versions". That is, for example, requesting "http://maven.s3auth.com/index.html?all-versions" should return the list of all versions of the requested object.

[2014-03-11 12:35] yegor256 opened #123 "jcabi parent 0.18"
let's use `com.jcabi:parent:0.18`

[2014-03-17 10:15] #68 closed, assigned to nobody

[2014-03-17 10:16] #69 closed, assigned to nobody

[2014-03-17 10:44] #74 closed, assigned to nobody

[2014-03-17 13:20] #121 closed, assigned to nobody

[2014-03-17 13:21] yegor256 opened #125 "directory listing doesn't work"
see #121

I can't see how it works on production.. Try this: http://maven.s3auth.com/rempl/com.rempl.pdd.SummaryReport/index.xml

The object is rendered. But when I'm trying to get this one: http://maven.s3auth.com/rempl/index.html

It doesn't render a directory...

[2014-03-18 08:17] carlosmiranda opened #127 "Domains should use a Map<String, Domain> instead of a Set<Domain>"
In `Domains`, we have the following code:

[code]

We can use a `Map` here instead of a `Set`, and use each `Domain.name()` as the keys and the `Domain` as the values. Using `containsKey` on a `HashMap` instance would result in a constant-time lookup instead of the linear-time iterative lookup that we currently have here. Considering that [HashSet is backed by a HashMap](https://stackoverflow.com/

[2014-03-19 11:44] #123 closed, assigned to nobody

[2014-03-20 09:54] yegor256 opened #129 "version listing gives strange output"
see #121

Try this: http://maven.s3auth.com/index.html?all-versions

This is not what we expect :)

[2014-03-24 20:06] #112 closed, assigned to nobody

[2014-03-24 20:06] #122 closed, assigned to nobody

[2014-03-25 09:38] #125 closed, assigned to nobody

[2014-03-26 13:04] yegor256 opened #133 "XSL is not suitable for directory listing"
XSL doesn't work with directory listing. Chrome says this:

[code]

It means that we should delivery a clean standalone HTML (even without any CSS stylesheets). Let's use Velocity or some other similar templating engine to render that HTML.

[2014-03-26 13:08] #64 closed, assigned to nobody

[2014-03-28 08:02] yegor256 opened #134 "production is broken: MissingRequiredParameterException"
[code]

[2014-03-28 09:10] #134 closed, assigned to nobody

[2014-03-28 09:11] #117 closed, assigned to nobody

[2014-04-01 16:21] yegor256 opened #136 "The parser has encountered more than "64000" entity expansions in this document"
bug on production at relay

[code]

[2014-04-02 08:44] #58 closed, assigned to nobody

[2014-04-02 15:35] #85 closed, assigned to nobody

[2014-04-03 19:43] davvd opened #137 "index.xsl:117-120: SyslogHosts has been implemented, but..."
Puzzle `112-4379cc4c` in `s3auth-rest/src/main/webapp/xsl/index.xsl:117-120` has to be resolved: SyslogHosts has been implemented, but the syslog field is still not visible to the user. Let's make it visible. Let's also update Domain.Validator to ensure that the user input is correct.

[2014-04-10 12:19] #127 closed, assigned to nobody

[2014-04-10 13:07] #133 closed, assigned to nobody

[2014-04-10 16:15] dfoleyAFG opened #141 "Internal application error."
I get this error when trying to log in with google+ to access my domain configurations
thanks

[2014-04-10 20:46] #137 closed, assigned to nobody

[2014-04-10 21:05] davvd opened #142 "DirectoryListingTest.java:97-100: Better to use XPath for..."
Puzzle `133-d8e15b67` in `s3auth-hosts/src/test/java/com/s3auth/hosts/DirectoryListingTest.java:97-100` has to be resolved: Better to use XPath for this. However, I wasn't able to get it to work because of XHTML namespace issues. Let's fix it. Let's also address the same issue with hasCommonPrefix below and {@link DefaultHostTest#showsDirectoryListing()}.

[2014-04-11 14:35] #136 closed, assigned to nobody

[2014-04-11 16:16] #141 closed, assigned to nobody

[2014-04-13 18:21] yegor256 opened #144 "SSLContexts.createDefault() is consuming 40% of CPU"
Look at the JMX statistics attached. This is our production server. Looks like we're using Amazon SDK in a wrong way or they have a bug. I suspect that this default SSL context is created on every call to `new AmazonS3Client`...

Let's investigate and eliminate this problem.
![screen shot 2014-04-13 at 8 19 49 pm](https://cloud.githubusercontent.com/assets/526301/2690271/7228b34e-c338-11e3-9680-38

[2014-04-16 20:05] #142 closed, assigned to nobody

[2014-04-17 10:54] #129 closed, assigned to nobody

[2014-04-17 21:34] #144 closed, assigned to nobody

[2014-04-18 11:46] yegor256 opened #148 "HttpThread.dispatch() takes 80% of CPU"
The solution introduced in #144 decreased server load, two times. However, it is still rather high. This is what I see through JMX:

![screen shot 2014-04-18 at 1 44 00 pm](https://cloud.githubusercontent.com/assets/526301/2741583/f3a971f6-c6ee-11e3-824a-016c6ad3ccb8.png)

This means that the majority of CPU is spent in one method. Let's try to solve this.

[2014-04-19 03:33] yegor256 opened #149 "NPE in DefaultHost"
Production log:

[code]

Let's find out when and where it happens, reproduce in a test, and fix.

[2014-04-19 06:20] #148 closed, assigned to nobody

[2014-04-21 00:28] carlosmiranda opened #150 "Let's output HTML for listing object versions"
Currently we're outputting XML for listing object versions (#69, #129). It was patterned after the original implementation of directory listing (#121) under the assumption that the browser will render the page using XSL. This didn't work because of the same origin policy; our users would be in a different domain from the XSL file which caused the browser to reject it.

We should be doing the XSL t

[2014-04-21 06:21] yegor256 opened #151 "show file sizes in directory listing"
Let's show file sizes in bytes/kbytes/mbytes when listing them in a directory

[2014-04-23 05:23] simonjenga opened #152 "test failures on project s3auth-hosts:"
https://gist.github.com/simonjenga/11203508

[2014-04-24 05:37] simonjenga opened #154 "can't determine superclass of missing type"
https://gist.github.com/simonjenga/11242693

[2014-04-25 06:00] #4 closed, assigned to yegor256

[2014-04-25 14:39] #149 closed, assigned to nobody

[2014-04-27 19:24] yegor256 opened #156 "DefaultDynamoTest is not stable"
see http://relics.rultor.com.s3.amazonaws.com/urn:facebook:1531296526/s3auth-on-commit/stdout/2014-04-27T18:40:00Z/log.txt

DefaultDynamoTest is not stable. It fails every few builds. Let's try to reproduce and fix it.

[2014-04-28 11:13] yegor256 opened #157 "NPE in com.s3auth.hosts.Resource$PlainText#headers()"
Logs from production:

[code]

[2014-04-28 14:57] #106 closed, assigned to nobody

[2014-04-30 05:34] yegor256 opened #158 "URLDecoder: Illegal hex characters in escape (%) pattern"
Sometimes, in production:

[code]

Let's reproduce in test and fix

[2014-04-30 05:36] yegor256 opened #159 "Timeout waiting for connection from pool"
Many times per day in production:

[code]

Let's try to reproduce it in test and fix

[2014-04-30 05:40] yegor256 opened #160 "Connection reset"
Many times per day in production logs:

[code]

Maybe it's a valid situation, when a client drops a connection. I'm not sure. Let's try to reproduce it in test and fix. If it's a valid situation, we should convert `SocketException` into `IOException` and it will be ignored by `@Loggable` and won't pollute the logs.

[2014-05-02 06:10] yegor256 opened #162 "Travis doesn't build the project"
For some very strange reason Travis doesn't build the project. Check these logs: https://travis-ci.org/yegor256/s3auth

[2014-05-02 12:00] #101 closed, assigned to nobody

[2014-05-05 05:45] yegor256 opened #163 "exception at DefaultHost$HostStats#bytesTransferred()"
[code]

[2014-05-09 10:27] #154 closed, assigned to nobody

[2014-05-09 10:32] simonjenga opened #166 "Lines in file should end with Unix-like end of line"
`mvn clean install -DskipTests -Dinvoker.skip=true -Pqulice` On `Apache Maven 3.1.1`

[code]

[2014-05-09 13:51] simonjenga opened #167 "WebXmlCheck failed to read schema document"

[2014-05-11 07:14] #167 closed, assigned to nobody

[2014-05-13 06:30] #151 closed, assigned to nobody

[2014-05-13 07:07] #54 closed, assigned to yegor256

[2014-05-19 07:25] #166 closed, assigned to nobody

[2014-05-26 21:23] davvd opened #169 "HttpThread.java:118-121: Let's handle GZIP HTTP compression...."
Puzzle `101-1cb64a78` in `s3auth-relay/src/main/java/com/s3auth/relay/HttpThread.java:118-121` has to be resolved: Let's handle GZIP HTTP compression. We should parse the request's Accept-Encoding and Content-Type headers, and use GZIP compression if appropriate. If we are returning compressed input, we should wrap the resource in a GzipResource instance.

[2014-05-30 06:55] #150 closed, assigned to nobody

[2014-05-30 07:20] #158 closed, assigned to nobody

[2014-06-02 19:33] #152 closed, assigned to nobody

[2014-06-03 20:05] yegor256 opened #173 "too many requests to CloudWatch"
We've sent 18 million requests to AWS CloudWatch over the last 30 days. This is too many.. They simply cost too much. Let's find a way to send less. Maybe we should collect data locally (in files) and send only hourly summaries to CW.

[2014-06-03 22:03] #169 closed, assigned to nobody

[2014-06-07 04:25] #156 closed, assigned to nobody

[2014-06-07 05:33] yegor256 opened #176 "unstable test DefaultHostITCase"
see http://relics.rultor.com.s3.amazonaws.com/urn:facebook:1531296526/s3auth-on-commit/stdout/2014-06-07T05:15:00Z/log.txt

Let's try to make it more stable. Maybe retry a few times using `@RetryOnFailure`

[2014-06-07 07:44] #159 closed, assigned to nobody

[2014-06-13 06:08] #173 closed, assigned to nobody

[2014-06-13 06:56] yegor256 opened #180 "DefaultHostITCase is not stable"
see http://relics.rultor.com.s3.amazonaws.com/urn:facebook:1531296526/s3auth-on-commit/stdout/2014-06-13T05:55:00Z/log.txt

[code]

The test is not stable, it fails accidentally. I actually think that our code also is not stable enough. Maybe we should retry in case of such failure.. Anyway, let's investigate and fix.

[2014-06-13 07:08] #180 closed, assigned to nobody

[2014-06-14 07:55] #176 closed, assigned to nobody

[2014-06-16 06:47] #163 closed, assigned to nobody

[2014-06-17 08:26] #157 closed, assigned to nobody

[2014-06-17 17:46] jwal opened #181 "Provide subdomains of s3auth.com"
_Is this the best place to leave feature requests?_

S3 bucket names are global anyway.  I suggest that every registered bucket is given a default subdomain of `{bucket}.buckets.s3auth.com`. For many use cases it doesn't actually matter what the domain is as long as it provides basic auth over HTTPS access to the bucket.

Using the correct AWS key: Anyone can upload an AWS key for a bucket and con

[2014-06-18 00:21] carlosmiranda opened #182 "Add s3auth-hosts/s3auth-domainStats.h2.db to .gitignores"
In our latest `master`, we have a file `s3auth-hosts/s3auth-domainStats.h2.db`: https://github.com/yegor256/s3auth/blob/master/s3auth-hosts/s3auth-domainStats.h2.db.

This file is actually generated by `H2StatsData` as a temporary storage for domain metrics, before uploading to Amazon CloudWatch. It was probably created by a unit test execution, and committed by mistake.

Let's add it to `.gitigno

[2014-06-19 07:35] yegor256 opened #183 "NPE in com.s3auth.hosts.Resource$PlainText#headers() (continued)"
The problem described in #157  still exists.

production logs of yesterday:

[code]

[2014-06-20 16:58] #43 closed, assigned to nobody

[2014-06-20 16:59] #84 closed, assigned to nobody

[2014-06-20 17:00] #40 closed, assigned to yegor256

[2014-06-26 12:39] #8 closed, assigned to nobody

[2014-06-27 06:31] #160 closed, assigned to nobody

[2014-06-30 19:23] davvd opened #185 "DefaultResource.java:57-64: Due to the large cost..."
Puzzle `173-8d71c922` in `s3auth-hosts/src/main/java/com/s3auth/hosts/DefaultResource.java:57-64` has to be resolved: Due to the large cost of having very many small CloudWatch requests, we changed the implementation of DefaultResource so that it now retains information to a local H2 database instead of directly making CloudWatch API requests. However, we still don't have a way to post it to Cloud

[2014-06-30 19:43] davvd opened #186 "DefaultHost.java:352-355: We should be caching the..."
Puzzle `173-e3a77fb4` in `s3auth-hosts/src/main/java/com/s3auth/hosts/DefaultHost.java:352-355` has to be resolved: We should be caching the results of this method for a short period somehow, or at least prevent unnecessary repeated requests to Amazon CloudWatch API. This is so that we can improve performance and reduce access costs.

[2014-07-04 20:42] #186 closed, assigned to nobody

[2014-07-15 19:43] #185 closed, assigned to nobody

[2014-07-20 12:31] #182 closed, assigned to nobody

[2014-07-21 07:14] yegor256 opened #190 "Timeout waiting for connection from pool"
production logs:

[code]

[2014-07-21 19:43] davvd opened #191 "HttpFacadeTest.java:515-518: For some reason this test..."
Puzzle `8-5eb4ae33` in `s3auth-relay/src/test/java/com/s3auth/relay/HttpFacadeTest.java:515-518` has to be resolved: For some reason this test is not passing in Travis and Rultor, even with the jcabi-ssl-maven-plugin. It does work on my local machine. It fails with javax.net.ssl.SSLHandshakeException with message: Received fatal alert: handshake_failure. Let's investigate and fix.

If you have any

[2014-07-21 20:02] davvd opened #192 "pom.xml:102-108: jcabi-manifests version here should be..."
Puzzle `185-1d178b38` in `s3auth-hosts/pom.xml:102-108` has to be resolved: jcabi-manifests version here should be managed by the parent. Version 1.0.2 fixes some multithreading bugs that causes the build to fail. The reason why we're specifying it here is because the parent is still referencing the buggy version. Let's remove the version here when the parent has been updated. Let's also update th

[2014-07-23 06:27] #190 closed, assigned to nobody

[2014-07-23 07:57] carlosmiranda opened #196 "Upgrade ReXSL version"
Let's upgrade ReXSL. Current version is `1.3.1`. Note that we need to take into account some changes to the ReXSL API, such as:
1. `com.rexsl.test` package has been migrated. As far as I can tell we only use `XhtmlMatchers` which was moved to `jcabi-matchers`.
2. `rexsl-maven-plugin` has been removed, we should find a way to test the application during build without it.

[2014-07-29 12:53] #183 closed, assigned to nobody

[2014-08-01 08:49] yegor256 opened #198 "NPE in withBody()"
probably related to #183

production logs

[code]

[2014-08-09 07:54] yegor256 opened #199 "layout fixes"
minor fixes, let's make them

[2014-08-13 03:03] carlosmiranda opened #200 "Migrate s3auth-rest integration tests to CasperJS"
We're currently using the `rexsl-maven-plugin` package in order to perform integration testing on `s3auth-rest` pages. However, it's been made obsolete after version 1.0 of ReXSL.

Hence, it would be great if we can migrate to another form of automated testing, such as CasperJS. See http://www.yegor256.com/2014/06/21/casperjs-with-maven.html. I think it's better if we do it even before migrating t

[2014-08-14 05:59] yegor256 opened #201 "skin 1.4"
let's use it

[2014-08-14 06:33] #201 closed, assigned to nobody

[2014-08-20 05:23] yegor256 opened #202 "Timeout waiting for connection from pool (again)"
[code]

[2014-08-26 19:28] rianrainey opened #203 "Try Again error when .htpasswd is in nested path"
Hi @yegor256,

I'm having trouble getting s3auth to work with a nested path within my bucket. I continually get the `try again` http basic auth error.

My domain name is `test.example.com` and my bucket name is also `test.example.com`. The site I want to have password protected is located at `test.example.com/path/to/project/index.html`. My `.htpasswd` file is uploaded to `test.example.com/path/to

[2014-08-26 20:11] #199 closed, assigned to nobody

[2014-08-26 21:04] #203 closed, assigned to nobody

[2014-09-11 20:37] simonjenga opened #204 "Failure: XML validation exception:"
[code]

[2014-09-12 06:11] simonjenga opened #205 "Private constant "LIFETIME" is not used"
[code]

[2014-09-13 05:39] simonjenga opened #206 "Got an exception - java.lang.NullPointerException"
[code]

[2014-09-13 06:54] #205 closed, assigned to nobody

[2014-09-15 01:07] onezerodigits opened #207 "serving .min.css files"
Probably user error here, but minified files aren't coming through correctly for me.
`theme.min.css` comes through as weird characters, while `theme.css` works as expected.

In S3, the minified file content-type is `text/css` and the content-encoding is `gzip`.

Is there something special I should do so I can use the minified files?

[2014-09-15 19:54] #206 closed, assigned to nobody

[2014-09-16 10:50] simonjenga opened #208 "InContainerScriptsCheck check failed"
`./s3auth>mvn clean install`

[code]

[2014-09-16 10:54] #208 closed, assigned to nobody

[2014-09-16 12:57] #207 closed, assigned to nobody

[2014-10-09 17:16] techtitans opened #209 "AWS Error Code: AccessDenied"
I've created a S3 bucket named, acvm.site-link.com and have followed all the steps required to use relay.s3auth.com, though I'm experiencing the following error. The error seems quite straight forward but unfortunately I've been unsuccessful at resolve the error.

failed to fetch /acvmp0714.zip from 'acvm.site-link.com' (key=AKIAJYBP7VHUIMZG6GAA): ["'acvmp0714.zip': Status Code: 403, AWS Service:

[2014-10-09 17:28] #209 closed, assigned to nobody

[2014-10-13 19:27] mgriba opened #210 "Accessing Bucket"
I am just getting a repeated authorization window when attempting to access a file I just uploaded to the S3 bucket.  I confirmed the file is there and I am able to get the filesize of the htpasswd file.  However, the window just reports a path to domainname/s3-endpoint once I either cancel out or attempt to login 3 times with a user from the htpasswd file.

Please advise what should be checked he

[2014-10-13 20:37] #210 closed, assigned to nobody

[2014-10-15 18:26] mgriba opened #211 "'Authorization' header is in wrong format"
This is my 4th bucket of 4 total setup on the backend.  All others seem to be working as expected, and this one also displays the size of the .htpasswd file when viewing from a browser.  However, when I try to access any file in this bucket I get the error above.

Thank you in advance.

[2014-10-15 21:22] #211 closed, assigned to nobody

[2014-10-17 05:31] yegor256 opened #212 "move to heroku"

[2014-10-17 11:03] #212 closed, assigned to nobody

[2014-11-02 15:45] igorsyl opened #213 "Add ftp endpoint"
For buckets with many files it is difficult to download all files using the web front end.
It would be easier to manage larger number of files with an ftp front end.

[2014-11-11 08:42] JoseGM opened #214 "Authorization mechanism AWS4-HMAC-SHA256, eu-central-1 not supported?"
Hi,

I'm having trouble using s3auth with a bucket hosted in Frankfurt (eu-central-1).

I get the following error when trying to get .htpasswd:

    java.io.IOException: failed to fetch /.htpasswd from 'mydomainname' (key=AK******): ["'.htpasswd': Status Code: 400, AWS Service: Amazon S3, AWS Request ID: ED253D48FDAE61D1, AWS Error Code: InvalidRequest, AWS Error Message: The authorization mechani

[2014-11-16 20:12] inder123 opened #215 "Please support HTTP HEAD calls in addition to get"
Thank you for providing this service. I am able to do a GET but I can't do a HEAD. How do I go about making HEAD work correctly? I need this to access a maven repository through s3.

[2014-11-18 09:54] #162 closed, assigned to nobody

[2014-11-18 10:46] #196 closed, assigned to nobody

[2014-11-20 04:24] inferist opened #216 "Additional BASIC auth to subdirectories"
s3auth helps me a lot.

Is it possible to enable another BASIC auth to subdirectories in addition to the home directory?
seems .htaccess is not valid...

Thanks in advance.

[2014-11-21 08:06] yegor256 opened #217 "com.jcabi.http.request.BaseRequest: is not immutable, can't use it"
[code]

[2014-11-21 11:19] #217 closed, assigned to nobody

[2014-11-21 12:50] #192 closed, assigned to nobody

[2014-11-24 02:07] carlosmiranda opened #218 "How do we start implementing FTP?"
I'm assigned to perform #213, which asks for a FTP endpoint implementation.

Design wise, I believe all we need to do is within the `s3auth-relay` module. Our architecture is coherent enough to separate the protocol communications in `s3auth-relay` to the actual resource access in `s3auth-hosts`. Basically, all the FTP support needs to be in `s3auth-relay`, is this right?

A more important questio

[2014-11-24 07:23] #218 closed, assigned to nobody

[2014-12-12 18:06] carlosmiranda opened #221 "Unnecessary non-final variable bytes in HttpResponse.send()"
In `HttpResponse.send()` we have the following code:

[code]

What happens here is we're basically assigning the return value of `writeTo()` into `bytes` and then returning `bytes`. There's no need for a non-final variable `bytes`, why not return the value directly like so:

[code]

[2014-12-12 19:32] yegor256 opened #222 "get rid of mock artifact"
Let's get rid of `s3auth-hosts:mock` artifact and move all classes from `src/mock/java` into `src/main/java` directory.

[2014-12-24 21:55] caarlos0 opened #225 "IllegalArgumentException while building"
Check the last [master build log](https://travis-ci.org/yegor256/s3auth/builds/43872148).

There is an IllegalArgumentException being thrown:

[code]

This issue is blocking the release of another issues, BTW.

[2014-12-25 16:11] dpisarenko opened #226 "Incomplete documentation: Exception logging"
Specify in either
1. README.md or
2. src/site/notes.apt.vm

how the exceptions are supposed to be logged, ideally with an example like this:

[code]

[2014-12-25 16:14] mentiflectax opened #227 "Should I shutdown a region?"
After I have completed all operations with a table of some region, is it necessary to run code similar to `AmazonDynamoDB.shutdown`, i. e. something like this:

[code]

[2014-12-25 18:00] #227 closed, assigned to nobody

[2014-12-25 18:28] dpisarenko opened #228 "Incomplete documentation: How to fix "JSR-303 validator failed to initialize" error"
In
1. `README.md` or
2. `src/site/notes.apt.vm`

provide information about
- whether the error below is relevant and
- if it is, how to fix it.

**How to reproduce**
1. `git clone` the s3auth repository.
2. `cd` into `s3auth/s3auth-hosts` directory.
3. Run `mvn test` there.

Expected result: A message about passed and failed tests.
Actual result: Following error message:

[code]

[2014-12-25 18:31] mentiflectax opened #229 "Incomplete documentation: Steps to do before submitting a pull request"
In
1. `README.md` or
2. `src/site/notes.apt.vm`

provide information about what automatic checks (e. g. running all unit tests, running code quality tools) I need to run before submitting a pull request, and how to do it (which Maven command to issue).

[2014-12-25 20:09] mentiflectax opened #231 "Incomplete documentation: How to fix joda-time transfer errors"
Please provide documentation on how to fix the following error during `mvn install` in the `s3auth-hosts` directory:

[code]

[2014-12-26 08:23] #231 closed, assigned to nobody

[2014-12-26 13:01] mentiflectax opened #234 "s3auth build takes a lot of time (seems to hang)"
When I try to run `mvn clean install -Pqulice`, I get lots of warnings like `takes mor
e than 1min, 14min already` and nothing seems to happen.

Here's the output:

[code]

I'm using Maven 3.2.2:

[code]

How can I fix this error (make `mvn clean install -Pqulice` actually build s3auth in a reasonable time) ?

[2014-12-26 13:23] #234 closed, assigned to nobody

[2014-12-26 14:10] #225 closed, assigned to nobody

[2014-12-26 14:23] darkled opened #235 "Every build seems to be downloading artifacts"
When `maven` builds an application there are many log entries looking like

[code]

It seems there is no need to download artifacts every time build is running, local repository should be used instead.

[2014-12-27 21:28] darkled opened #237 "DynamoHosts.byName() fails with AmazonServiceException"
Method `com.s3auth.hosts.DynamoHosts.byName(String name)` invocation with `name = "localhost:54909"` causes an exception on `this.dynamo.load()`:
[code]

Does anyone know what could be the reason and where can I take a look in further investigation?

To reproduce it, you need to get commit f35037e504c83662cc371840076e23803c99508e and execute MainTest.

[2014-12-28 18:11] mentiflectax opened #240 "Broken unit test: com.s3auth.hosts.ResourceTest#rejectsNullContent"
The `@NotNull` annotation doesn't work in `com.s3auth.hosts.Resource.PlainText` constructor.

The test

[code]

fails - instead of `ConstraintViolationException` a NullPointerException is thrown.

Possible solutions:
1. Fix the annotation-based null checks.
2. Use the normal `if (text==null)` checks.

[2014-12-28 18:21] #240 closed, assigned to nobody

[2014-12-28 18:58] dpisarenko opened #241 "s3auth-relay: Attribute 'S3Auth-AwsDynamoTable' not found in MANIFEST.MF file"
When I ran `mvn clean install -Pqulice` after changing a file in `s3auth-relay` project, I got this error:

[code]

The error does not occur, if I don't touch `s3auth-relay` after checkout.

Please fix the error above.

[2014-12-28 22:26] #229 closed, assigned to nobody

[2014-12-29 06:25] #222 closed, assigned to nobody

[2014-12-29 13:21] #204 closed, assigned to nobody

[2014-12-30 16:15] csmosx opened #244 "relay.s3auth.com problem? AWS Error Code: UnrecognizedClientException"
My site (as relayed through relay.s3auth.com) is currently showing this error message:

"Status Code: 400, AWS Service: AmazonDynamoDBv2, AWS Request ID: 5RKA0JJKBH8FBLRMEH18EUUH67VV4KQNSO5AEMVJF66Q9ASUAAJG, AWS Error Code: UnrecognizedClientException, AWS Error Message: The security token included in the request is invalid."

Can't find any status info regarding the relay though... not sure where

[2014-12-30 20:10] #244 closed, assigned to nobody

[2014-12-30 21:52] #215 closed, assigned to nobody

[2015-01-01 11:15] davvd commented on #215
@carlosmiranda **30 mins** sent to your balance (ID `49703959`), many thanks!

[2015-01-01 23:29] darkled commented on #95
@davvd @yegor256 `MainTest` has been modified, but there is still a problem which do not allow to get it fixed completely. It is in the method `com.s3auth.relay.LocalHost.isIt(String)` which has to be extended
* either with (that will break other tests)
[code]

* or with mocking this method
    * which is not allowed with standard mockito since `LocalHost` is a final class
    * and it is not work

[2015-01-01 23:39] darkled commented on #237
@yegor256 it was a question, but it is not relevant anymore. Thanks.

[2015-01-01 23:39] #237 closed

[2015-01-02 10:26] davvd commented on #90
@dpisarenko this task is in your hands for 7 days already

-5 added to your rating, at the moment it is: [+160](http://www.netbout.com/b/35089?open=rating)

[2015-01-02 11:26] dpisarenko commented on #90
@davvd Please find a reviewer for the pull request https://github.com/yegor256/s3auth/pull/239 .

[2015-01-02 13:36] davvd commented on #198
@dpisarenko you're working with this issue for 7 days already

-5 to your rating, your total score is [+165](http://www.netbout.com/b/35089?open=rating)

[2015-01-02 17:55] davvd commented on #200
@wentwog you're holding this ticket for 8 days already. If it's not finished (and closed) in the next 40 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -5 added to your rating, at the moment it is: +25

[2015-01-03 17:49] wentwog commented on #200
@davvd  I understand. Sorry. Better give this task to someone else since I feel I won't be able to meet the deadline.

[2015-01-05 13:33] davvd commented on #200
@wentwog got it, someone else will be assigned soon

[2015-01-05 13:37] davvd commented on #90
@dpisarenko please don't touch this task, someone else will pick it up, thanks

[2015-01-05 13:37] davvd commented on #221
@jenya you're holding this ticket for 9 days already. If it's not finished (and closed) in the next 1 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-5 added to your rating, at the moment it is: [-15](http://www.netbout.com/b/35092?open=rating)

[2015-01-05 14:42] davvd commented on #90
@peterarsentev please go ahead with this task, it's yours

[2015-01-05 14:42] davvd commented on #198
@dpisarenko don't work with it any more, someone else will continue. Thanks!

[2015-01-05 14:42] davvd commented on #200
@palyuga This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-05 15:16] davvd commented on #198
@alevohin this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-05 15:16] davvd commented on #202
@dpisarenko it's not your task any more, please stop working with it (if you were)

[2015-01-05 15:55] davvd commented on #202
@marczeeee please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-05 15:55] davvd commented on #235
@php-coder this task is not yours any more, please stop working with it (or ignore it if you haven't started yet), Thanks!

[2015-01-05 16:26] davvd commented on #235
@marczeeee please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-05 19:53] alevohin commented on #198
@yegor256 How do you start you production server? I need to know how classpath is provided for application.

[2015-01-05 19:55] yegor256 commented on #198
@alevohin we start it with Maven and this pom.xml: https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/main/production/pom.xml

[2015-01-06 06:59] alevohin commented on #198
@yegor256 thanks.
1) Could you give me startup log from production?
2) Does this NPE exist now in production logs?
3) Did this NPE exist before https://github.com/yegor256/s3auth/issues/183 ?

[2015-01-06 07:55] yegor256 commented on #198
@alevohin this is a portion of today log

[code]

There is nothing in logs on startup. It starts quietly, no errors/exceptions.

Yes, this bug is about a year old and it doesn't go away

[2015-01-06 12:59] alevohin commented on #198
@yegor256 thanks!
Does log file contain full stacktrace of NPE?

[2015-01-06 13:02] yegor256 commented on #198
@alevohin nope :( maybe we can add some additional null-check to the method and throw a more verbose exception? usually, when such a problem exists, I think it's better to start improving the code around it by making it more verbose in case of an error. eventually, we'll hit the root cause of the original problem

[2015-01-06 20:11] alevohin commented on #198
@yegor256 ok. I added stacktrace to log and some more logging at pull request https://github.com/yegor256/s3auth/pull/245.
I couldn't reproduce this problem locally, need more information from log.

[2015-01-07 14:57] maurezen opened #247 "Copyright section is outdated"
Copyright part in license sections still features 2014.

[2015-01-07 15:54] davvd commented on #247
we'll find someone to do this task, soon

[2015-01-07 15:58] davvd commented on #247
@palyuga could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-01-07 15:59] davvd commented on #247
@maurezen thanks a lot for reporting, **15 mins** added to your acc, pmt ID `49961436`

[2015-01-07 16:31] palyuga commented on #200
@carlosmiranda PR is merged, I've left **todo** in code saying we need to migrate old rexsl tests. Can we close this issue?

[2015-01-07 17:07] palyuga commented on #247
@maurezen PR #248 is merged, so we can close this issue

[2015-01-07 17:46] carlosmiranda commented on #200
@palyuga Sure, thanks!

[2015-01-07 17:46] #200 closed

[2015-01-07 23:02] #247 closed

[2015-01-08 11:41] wentwog commented on #191
this task is waiting the fix of jcabi/jcabi-ssl-maven-plugin#17.

[2015-01-08 14:34] davvd commented on #95
@darkled you're working with this issue for 13 days already... do not forget to remove the TODO puzzle from the source code... -30 added to your rating, current score is: [+15](http://www.netbout.com/b/35091?open=rating)

[2015-01-08 15:21] davvd commented on #214
@jenya you're working with this ticket for the last 13 days. If it's not closed within the next 16 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -30 added to your rating, current score is: [-105](http://www.netbout.com/b/35092?open=rating)

[2015-01-08 15:21] alevohin commented on #198
@yegor256 PR https://github.com/yegor256/s3auth/pull/245 merged. Let's deploy it and then look for errors with stacktrace.

[2015-01-08 16:18] davvd commented on #228
@cyberone the task is your hands for the last 13 days.. keep in mind that if it's not closed in the next 16 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; added -30 to your rating, now it is equal to [-310](http://www.netbout.com/b/35076?open=rating)

[2015-01-08 16:30] yegor256 commented on #198
@rultor deploy pls

[2015-01-08 16:30] rultor commented on #198
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/1516-69205213)

[2015-01-08 16:30] yegor256 commented on #198
@alevohin I think we're done in this task. Once I see the new logs, I'll create a new ticket. Thanks!

[2015-01-08 16:30] #198 closed

[2015-01-08 17:00] rultor commented on #198
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1516-69205213) (took me 30min)

[2015-01-08 17:21] davvd commented on #200
there is a puzzle in this code `200-e1abb509`, we'll resolve it later

[2015-01-09 10:52] davvd opened #250 "HttpException.java:86-87: 1) Don't lose cause stacktrace..."
Puzzle `198.-0764d06e` in `s3auth-relay/src/main/java/com/s3auth/relay/HttpException.java:86-87` has to be resolved: 1) Don't lose cause stacktrace 2) cause.getMessage can be null, so it can produce ConstraintViolationException instead of HttpException

If you have any technical questions, don't ask me, submit new tickets instead

[2015-01-09 15:16] Marczeeee commented on #235
@darkled Pull request #249 merged and closed. I think the issue can be closed.

[2015-01-09 17:55] davvd commented on #95
@darkled this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 added to your rating, at the moment it is: [-15](http://www.netbout.com/b/35091?open=rating)

[2015-01-09 17:55] davvd commented on #198
@alevohin Much obliged! I've added **30 mins** to your account in payment "50003414"; +30 added to your rating, current score is: [+135](http://www.netbout.com/b/35105?open=rating)

[2015-01-09 17:55] davvd commented on #200
@palyuga Much obliged! I've added **30 mins** to your account in payment "50003424". +30 added to your rating, current score is: +45

[2015-01-09 17:55] davvd commented on #247
@palyuga Thanks for your contribution, **30 mins** was added to your account, payment ID is `50003454`

+30 to your rating, your total score is +75

[2015-01-09 18:01] darkled commented on #95
@davvd ok, no problem. I don't understand this rating concept, could explain it, please?

[2015-01-09 18:16] yegor256 commented on #95
@davvd assign @darkled back to this issue please

[2015-01-09 18:16] yegor256 commented on #95
@darkled create an account at www.netbout.com and give me your account name. I'll give you access to full stats of your profile

[2015-01-09 18:47] darkled commented on #95
@yegor256 done, my account there is the same - *darkled*.

[2015-01-09 18:54] yegor256 commented on #95
@darkled check netbout again, you should have access now

[2015-01-09 19:06] darkled commented on #95
@yegor256 yes, I have, thanks. Now it's clear.

[2015-01-10 08:51] darkled commented on #235
@Marczeeee thanks, these log entries disappeared.

[2015-01-10 08:51] #235 closed

[2015-01-11 03:58] nathansgreen opened #252 "Clarification for #250"
For #250, the stack trace is not supposed to get "lost." What does that mean? Should I serialize to a string and add it to the response body?

[2015-01-12 01:55] nathansgreen commented on #250
@davvd okay, I opened ticket #252 and I'm waiting for someone to answer.

[2015-01-13 13:22] davvd commented on #95
@yegor256 done. @darkled you're assigned to this task. please proceed...

[2015-01-13 13:22] davvd opened #253 "RendersHomePage.js:33-33: Migrate old tests from rexsl/scripts..."
Puzzle `200-e1abb509` in `s3auth-rest/src/test/casperjs/RendersHomePage.js:33-33` has to be resolved: Migrate old tests from rexsl/scripts to casperjs

If you have any technical questions, don't ask me, submit new tickets instead

[2015-01-13 14:06] darkled opened #254 "Impossible to mock of static methods in final classes"
I need to mock `com.s3auth.relay.LocalHost.isIt(String)` method but it is impossible due to the following reasons:
- mockito is not able to mock final classes
- powermock is not able to do it as well because of the [defect in powermock](https://code.google.com/p/powermock/issues/detail?id=531) due to change in junit 4.12

Since we have many final classes this functionality should be available.

[2015-01-13 14:08] darkled commented on #95
@davvd @yegor256 please, take into account that this issue cannot be finished without #254, so we'll have to wait some time.

[2015-01-13 14:09] davvd commented on #214
@jenya the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html); -60 to your rating, your total score is [-375](http://www.netbout.com/b/35092?open=rating)

[2015-01-13 14:09] davvd commented on #228
@aoxa please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend).

[2015-01-13 14:09] davvd commented on #253
@wb14123 this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-01-13 14:23] yegor256 commented on #95
@davvd we're waiting for #254 here

[2015-01-13 14:25] yegor256 commented on #254
@darkled what do you suggest?

[2015-01-13 14:30] darkled commented on #254
@yegor256 The defect of powermock seems to be fixed now, so we can check whether this fix is delivered within the newest version of powermock. If yes than we use newest powemock version and if not we can try to rollback to any of older versions of junit / powermock.

[2015-01-13 14:36] yegor256 commented on #254
@darkled I'm strongly against powermock. It's a very dangerous tool and should be used only when a third-party library has to be mocked. It's not our case. If some of our classes are not mockable - it's our bug and should be fixed. The class has to be re-designed. Powermock is not a solution.

[2015-01-13 14:44] darkled commented on #254
@yegor256 in this case `LocalHost` needs to be re-designed as a non-final class

[2015-01-13 14:51] yegor256 commented on #254
@darkled I don't think so. Take a look: http://www.yegor256.com/2014/11/20/seven-virtues-of-good-object.html#5.-his-class-doesn't-have-anything-static

I think the problem is that there is a static method. Some refactoring is probably required, that will remove that. Explain what do you need to be done, so that you can proceed with your task. But keep in mind that all classes should be final and s

[2015-01-13 16:03] davvd commented on #221
@jenya you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 to your rating, your total score is [-435](http://www.netbout.com/b/35092?open=rating)

[2015-01-13 16:49] davvd commented on #95
@yegor256 OK, let's wait for #254

[2015-01-13 17:24] davvd commented on #214
@dpisarenko please proceed, it's yours

[2015-01-13 19:35] darkled commented on #254
@yegor256 I think I am a bit confusing now but nevertheless will try to explain now what I wanted to have with mocked `LocalHost`. The main idea was to provide functionality similar to this:
[code]
But such changes in sources lead to few broken tests what I would prefer to avoid since I am not sure about the idea of introducing such method and javadoc looks quite confusing (it looks like it is a p

[2015-01-13 20:09] yegor256 commented on #254
@darkled I would suggest to start with a new issue, about that confusing documentation you mentioned. When documentation is fixed, you review the situation again and find a solution much faster.

Powermock usage will ruin the project faster than singletons and global variables. Mocking in general is a bad practice (see http://www.yegor256.com/2014/09/23/built-in-fake-objects.html), but powermock t

[2015-01-13 21:23] dpisarenko commented on #214
@JoseGM @yegor256 Is it possible that I get access to a S3 instance, on which this error occurs (i. e. first I write a simple program, which connects to S3 without getting the error, then I modify s3auth code and write tests) ?

[2015-01-13 21:26] yegor256 commented on #214
@dpisarenko I will create a test S3 bucket for you now and will send you access credentials in netbout

[2015-01-14 10:02] dpisarenko opened #255 "Compiler error in com.s3auth.hosts.DefaultDynamoTest#loadsDynamoConfiguration"
There is a compiler error in `com.s3auth.hosts.DefaultDynamoTest#loadsDynamoConfiguration`:

[code]

Screenshot: http://i.imgur.com/nYcnYVq.png

I did `git pull` on my s3auth repository. According to Intellij Idea, the contents of that file is the same as in the master repository.

Please tell me, how I can fix this problem with least effort.

[2015-01-14 10:04] yegor256 commented on #255
looks like an issue with IntelliJ. try to clean its cache and restart. if the problem is not reproducible from command line, we can't fix it.

[2015-01-14 10:48] dpisarenko commented on #214
It seems that the problem can be fixed by upgrading to `com.amazonaws:aws-java-sdk` version `1.9.14`.

Justification:

I upgraded the version and then ran the following test (`accessKey` and `secret` are set to those provided by @yegor256 ).

[code]
I expected an error to occur at the line `client.doesBucketExist("someBucket");`, but it didn't.

Questions:

  1. @yegor256 @JoseGM Is it correct tha

[2015-01-14 10:49] dpisarenko commented on #255
This didn't help. I'll try to do a new checkout of s3auth.

[2015-01-14 10:55] yegor256 commented on #214
@dpisarenko good catch. sure, go ahead and upgrade the AWS SDK. I don't think we need puzzles for that methods in `MkAmazonS3`. we don't use them, I guess. so just leave them unimplemented

[2015-01-14 11:02] #255 closed

[2015-01-14 11:44] dpisarenko commented on #214
@yegor256 How can I disable checkstyle check for the max. number of methods in the class `MkAmazonS3` ? I tried to put `@checkstyle MethodCountCheck` into the Javadoc header of that class, but it didn't help.

[2015-01-14 13:06] asaen opened #257 "Incomplete documentation: LocalHost.isIt()"
For the moment method `com.s3auth.relay.LocalHost.isIt(String)` with its documentation looks pretty confusing:

[code]

Instinctively, it should compare `name`against `"localhost:..."`. Therefore it looks like something in the javadoc missed. What is the real purpose to have such method and what is `"relay.s3auth.com"`?

[2015-01-14 14:11] darkled commented on #254
@yegor256 created #257. Your point about mocking is clear now, thanks.

[2015-01-14 14:35] davvd commented on #235
@marczeeee I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2015-01-14 14:38] davvd commented on #221
@maurezen the task is yours,please go ahead

[2015-01-14 14:39] Marczeeee commented on #235
@davvd I have no messages before but I created pull request #249 which was accepted as a solution for this task. So from my point of view I completed this task.

[2015-01-14 17:50] yegor256 commented on #235
@davvd please add extra 30 mins to @Marczeeee

[2015-01-14 17:51] yegor256 commented on #235
@Marczeeee for the future, when you complete a task, post pull request number where the issue was fixed, for traceability

[2015-01-14 18:58] Marczeeee commented on #235
@yegor256 Sure, I'll pay more attention to this. Thank you!

[2015-01-14 21:51] maurezen commented on #221
@davvd Created a pull request here #258

[2015-01-15 11:04] dpisarenko commented on #214
@JoseGM Now the changes are merged. Please check, if you can access the Frankfurt bucket now. If you can, please close the issue.

[2015-01-15 11:07] yegor256 commented on #214
@dpisarenko let me deploy it first

[2015-01-15 11:07] yegor256 commented on #214
@rultor deploy

[2015-01-15 11:07] rultor commented on #214
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/1082-70070701)

[2015-01-15 11:31] rultor commented on #214
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1082-70070701) (took me 23min)

[2015-01-15 11:36] yegor256 commented on #257
@davvd I'll fix this, assign me to this problem pls

[2015-01-15 14:34] davvd commented on #257
this task will get someone's attention soon

[2015-01-15 15:12] JoseGM commented on #214
@dpisarenko won't be able to test it for a while. I had to move my project to another region. If someone else can test it and it works, feel free to close the issue. Thanks!

[2015-01-15 21:07] dpisarenko commented on #214
@yegor256 @davvd Can someone test whether the new version works with EU Central region?

[2015-01-15 21:41] yegor256 commented on #214
@dpisarenko you can test it yourself. you have an S3 bucket and an IAM user with a full access to it. register an account at www.s3auth.com, register a bucket there. your DNS name is dpisarenko.teamed.io (I pointed it already to `relay.s3auth.com`). and test :)

[2015-01-15 23:34] Marczeeee commented on #202
@yegor256 The biggest problem with this issue is how to reproduce the situation. It seems obvious somewhere there is still a connection leak and that causes the error, but in a test with mock objects it doesn't seems possible to reproduce it. Maybe is there some stacktraces available?

[2015-01-16 11:56] carlosmiranda commented on #213
@davvd Please reassign someone else, sorry.

[2015-01-16 15:36] davvd commented on #213
@carlosmiranda no problem, I'll try to find somebody else

[2015-01-16 15:36] davvd commented on #257
@yegor256 the task is yours, please proceed

[2015-01-16 18:27] davvd commented on #235
@yegor256 I've sent 30 mins extra to @marczeeee in transaction ID "50308285"

[2015-01-16 23:35] Marczeeee commented on #202
@davvd Please assign this task to someone else, I don't have any new ideas how to solve it. Hope someone will know it.

[2015-01-17 12:34] dpisarenko commented on #214
@yegor256 I managed to create an account at s3auth.com (see http://i.imgur.com/wfQgCdP.png ). What should I do next to reproduce the bug, if it still exists?

[2015-01-17 13:55] yegor256 commented on #214
@dpisarenko you did it wrong. the domain name and bucket name should be `dpisarenko.teamed.io`. Delete this one and create another one. And they go with your browser to `http://dpisarenko.teamed.io`. And don't forget to put `.htpasswd` file into the bucket.

[2015-01-17 15:01] dpisarenko commented on #214
@yegor256 Thanks. Now I see this: http://i.imgur.com/OuFlC8J.png . Does it mean the error is actually fixed?

[2015-01-17 15:06] yegor256 commented on #214
@dpisarenko yes, it looks like it's fixed. To be 100% sure, upload a sample `index.html` to the bucket and refresh the page.

[2015-01-17 15:07] dpisarenko commented on #214
@yegor256 I uploaded `index.html` page with lettering `This is a test of the issue s3auth-214.`. Seems to work for me.

[2015-01-17 15:07] yegor256 commented on #214
@JoseGM I think this issue is fixed, since this URL works fine: http://dpisarenko.teamed.io/.htpasswd. The S3 bucket is hosted in Frankfurt. Please, close this issue

[2015-01-17 15:51] JoseGM commented on #214
Looks good. Good job.

[2015-01-17 15:51] #214 closed

[2015-01-19 14:03] simonjenga opened #259 "Unused declared dependencies found:"
```./s3auth>mvn clean install -Dmaven.test.skip=true -Pqulice```

[code]

[2015-01-19 14:30] davvd commented on #202
@marczeeee right, I'll try to find someone else for this task

[2015-01-19 14:32] yegor256 commented on #259
use `-DskipTests` instead

[2015-01-19 14:32] #259 closed

[2015-01-19 14:49] davvd commented on #90
@peterarsentev you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 to your rating, your total score is [-135](http://www.netbout.com/b/35098?open=rating)

[2015-01-19 14:51] davvd commented on #257
@darkled thanks for tis bug, I topped your account for 15 mins, transaction `50349631`

[2015-01-19 16:00] davvd commented on #202
@jenya This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [th

[2015-01-19 16:00] davvd commented on #213
@pinaf can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-19 16:11] maurezen commented on #221
@carlosmiranda pull request #258 merged, please close the issue.

[2015-01-19 16:33] davvd commented on #90
@pinaf can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-01-19 21:06] pinaf commented on #90
@davvd @yegor256 regarding carlosmiranda's point number one above:

Should I also get rid of the now unused interface `Dynamo.Client`?

[2015-01-19 21:53] yegor256 commented on #90
@pinaf yes, I think @carlosmiranda is right and we can get rid of `Dynamo.Client`

[2015-01-19 21:53] yegor256 commented on #90
@pinaf a better approach would be to report a separate ticket for that, saying that we have a redundant class and should remove it, etc.

[2015-01-19 22:13] pinaf commented on #90
@yegor256 if I report it you have to pay me then pay someone else to delete those 3 lines. the only problem I see is if another project uses it.

[2015-01-19 22:21] yegor256 commented on #90
@pinaf that's how we work :) every time you see an issue, don't rush to fix it yourself, better report a bug, see http://www.yegor256.com/2015/01/15/how-to-cut-corners.html

[2015-01-19 22:23] pinaf commented on #90
@yegor256 if you insist :) on another note, `s3auth-hosts` does not have a `MANIFEST.MF` file. Should I copy it from `s3auth-relay`?

[2015-01-19 22:39] yegor256 commented on #90
@pinaf I don't insist. You just won't be able to work otherwise. This is your way to make more money with us - by finding and reporting bugs. If you don't do this, you will make too little and will loose motivation. So, it's important to think the way the article explains.

I didn't get the question about manifest.mf.

[2015-01-19 22:50] pinaf commented on #90
@yegor256 in project `s3auth` there is a subfolder called `s3auth-hosts` which contains the code we are talking about (DefaultDynamo, Dynamo, etc). `DefaultDynamo` makes references to properties within a MANIFEST file which does not exist in `s3auth-hosts` but does exist in subfolder `s3auth-relay`. If you try to instantiante a `DefaultDynamo` with the default constructor it will fail because it c

[2015-01-19 22:58] yegor256 commented on #90
@pinaf you have another alternative?

[2015-01-19 23:22] pinaf commented on #90
@yegor256 forget it. it's a separete issue. i'll report as an issue.

[2015-01-19 23:31] pinaf opened #260 "Cannot create DefaultDynamo with default constructor"
Calling `new DefaultDynamo()` results in an error because of a lack of Manifest properties expected by the constructor.
[code]

Test code for `DefaultDynamoTest`
[code]

[2015-01-19 23:32] pinaf commented on #90
@davvd @yegor256 bug report: #260

[2015-01-20 00:09] carlosmiranda commented on #221
@maurezen Perfect! Thank you, closing now.

[2015-01-20 00:09] #221 closed

[2015-01-20 00:19] pinaf commented on #90
@yegor256 @davvd quick question: the methods `add`, `load`, `remove` in `DefaultDynamo` call `shutdown` on the amazon client when done but this cannot be done with the new `MkRegion` mock class. Should I remove the shutdown calls?

[2015-01-20 00:33] pinaf commented on #213
@yegor256 whn you told carlosmiranda to

Did you mean to call an external system process (FTP client) or use a java library that implements the FTP protocol?

[2015-01-20 00:38] pinaf commented on #90
#7 is necessary for the new test with `H2Data`.

[2015-01-20 08:11] yegor256 commented on #213
@pinaf I meant some java library, of course

[2015-01-20 09:03] yegor256 commented on #90
@pinaf try to avoid asking technical questions in the same ticket as the task. Every time you have a question, it's a sign that existing documentation is incomplete. Submit a new bug and improve it. By asking here and getting an answer you're not helping the project. You will solve the problem, close the ticket and in a few weeks someone else will ask the same question. It's waste of time and mone

[2015-01-20 09:58] davvd commented on #260
we'll find someone to do this task, soon

[2015-01-20 10:01] davvd commented on #260
@jenya could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [

[2015-01-20 10:02] davvd commented on #260
@pinaf thanks for reporting! I topped your account for 15 mins, transaction AP-6TE365103J804431S

[2015-01-20 15:36] pinaf commented on #260
@davvd thank you

[2015-01-20 15:49] pinaf commented on #90
@yegor256 got it. still getting used to this methodology :)

[2015-01-20 15:51] pinaf commented on #90
@davvd please see PR #261

[2015-01-20 15:57] davvd commented on #214
@dpisarenko Thanks for your contribution, **30 mins** was added to your account, payment ID is `50524332`

added +30 to your rating, now it is equal to [+325](http://www.netbout.com/b/35089?open=rating)

[2015-01-20 16:23] pinaf commented on #213
@yegor256 I can't access the ftp server with the credentials you gave to carlosmiranda.

[code]
Using this comment
[code]

[2015-01-20 16:30] yegor256 commented on #213
@pinaf I don't remember I gave that... anyway, it's a production server, you can't access it just like that. and this FTP functionality is not implemented. I don't understand what you're trying to do...

[2015-01-20 17:53] pinaf commented on #213
@yegor256 I was just trying to create a simple test using the apache commons-net library with that sequence of events.

[2015-01-20 19:56] yegor256 commented on #213
@pinaf but in order these commands to work you should implement FTP server functionality inside s3auth :)

[2015-01-20 21:24] pinaf commented on #213
@yegor256 For the time being I created the test pointing to ftp.gnu.org - it downloads a README file and performs a few checks. However, I confess I'm rather confused about what is being requested here. s3auth is a HTTP gateway from what I can tell - are you requesting the implementation of FTP server functionality? If so, I need more information, such as which port it will listen on. I guess the

[2015-01-20 21:29] yegor256 commented on #213
@pinaf you understood it correctly. we need an `FTPFacade`, similar to `HTTPFacade`. You can submit a new ticket, but keep in mind that tickets don't request information, they complain about incomplete documentation. So far we don't have any documentation about FTP. Nothing to complain about, yet.

[2015-01-20 22:20] pinaf opened #262 "How to implement #213"
Issue #213 requests an FTP frontend for downloading files, analogous to the current HTTP frontend. Implementation would be based on creating a new class, `FTPFacade`, analogous to the existing `HTTPFacade`.

However, the following items are not clear in the request for the new functionality:
1. Should the FTP server be implemented through an existing Java library or should it create a raw socket a

[2015-01-21 10:21] yegor256 commented on #262
@pinaf check this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken When you report a bug you should say what is broken now. I think in this case a README file is broken since it doesn't explain how our service provides FTP. Right?

[2015-01-21 11:04] davvd commented on #221
@maurezen Thanks a lot, I just topped your account for **30 mins**, transaction ID `50570756`

added +30 to your rating, now it is equal to [+675](http://www.netbout.com/b/35102?open=rating)

[2015-01-21 13:33] davvd commented on #260
@dpisarenko please go ahead with this task, it's yours

[2015-01-21 17:19] pinaf commented on #262
@yegor256  Well I'm asking for more information on how to implement a feature that doesn't exist yet. Is that considered a bug? I don't see why the README file should carry this type of information. Maybe this file http://maven.s3auth.com/architecture.html ?

[2015-01-21 17:22] yegor256 commented on #262
@pinaf maybe this file, but it has to be a bug. Everything you submit to a project should be formatted as a bug. By submitting a bug you disturb the project and by fixing it we're getting the project back to a stable state. This section of the article should explain better: http://www.yegor256.com/2014/04/12/puzzle-driven-development-by-roles.html#fix-and-break

So, every time you need information

[2015-01-21 17:33] pinaf commented on #262
@yegor256 Ok so I should be doing a little bit of breaking here - that is what I'm trying to do. From the article it seems to me the project manager would be responsible for `unclear or ambiguous requirements` - so I should complain to davvd the request is not clear?

[2015-01-21 18:11] yegor256 commented on #262
@pinaf I don't think so. In this case, you are starting to implement a new feature. There is no help for you here from the management side. You're in the position of an architect/designer here. See http://www.yegor256.com/2014/04/12/puzzle-driven-development-by-roles.html#architect

Your complaints/bugs should be addressed to the existing design documentation.

[2015-01-21 18:22] pinaf commented on #262
@yegor256 Hmmm.. and the complaints should be addressed in the form of puzzels I suppose?

[2015-01-21 18:27] yegor256 commented on #262
@pinaf if you have no idea where to start, it's a bug (a new ticket). If you know how to create a high level design but don't know what to do next, it's a pull request with puzzles inside.

[2015-01-21 18:30] pinaf commented on #262
@yegor256 I think I got it. Let me digest it a bit more :) thanks!

[2015-01-21 20:19] dpisarenko commented on #260
@pinaf What should happen, if no `S3Auth-AwsDynamoTable` is specified in the manifest?

  1. The creation of `DefaultDynamo` should fail as now.
  1. The constructor of DefaultDynamo should use a default value instead.
  1. Something else.

If the answer is 2 (default value), which default value for `S3Auth-AwsDynamoTable` should I use?

[2015-01-21 20:24] dpisarenko commented on #260
FYI: I tried to fix the error by adding `S3Auth-AwsDynamoTable: XXX` to files

  1. s3auth-relay/src/main/resources/META-INF/MANIFEST.MF
  1. s3auth-relay/src/test/resources/META-INF/MANIFEST.MF
  1. s3auth-rest/src/test/resources/META-INF/MANIFEST.MF

but it didn't help.

Another option is to set the value explicitly (by appending a Manifest value) before creating the `DefaultDynamo` instance, bu

[2015-01-21 20:29] dpisarenko commented on #260
@davvd Please find someone to review my PR https://github.com/yegor256/s3auth/pull/263 .

[2015-01-21 22:24] yegor256 commented on #250
@davvd we're waiting for #252 here

[2015-01-21 23:34] pinaf commented on #260
@dpisarenko since `DefaultDynamo` lies in s3auth-hosts, you have to add it to the MANIFEST.MF in that folder. You also need to add the other manifest properties that are used in the constructor (they are 4 in total). As for the values, I suppose you can use the same ones in the s3auth-rest manifest:
[code]

[2015-01-21 23:36] pinaf commented on #260
@dpisarenko Also, I would leave it failing if it can't find the properties (option 1)

[2015-01-22 11:38] davvd commented on #250
@yegor256 OK, let's wait for #252

[2015-01-22 14:54] pinaf commented on #213
@davvd please see PR #264

[2015-01-23 13:51] dpisarenko commented on #260
@pinaf The PR with the bugfix has been merged. Please look at it and if everything is OK, close this issue. Thanks!

[2015-01-23 15:01] pinaf commented on #260
@dpisarenko thank you

[2015-01-23 15:01] #260 closed

[2015-01-24 19:13] krzyk opened #265 "pdd check missing from travis"
Travis configuration in `script` is missing
[code]
which exists in rultor config.
It would be better to have it in travis so the errors in puzzle formats could be found earlier.

[2015-01-25 02:40] #262 closed

[2015-01-26 10:33] davvd commented on #260
@dpisarenko thank you, added **30 mins** to your acc, payment num is `50663437`... +30 added to your rating, current score is: [+521](http://www.netbout.com/b/35089?open=rating)

[2015-01-26 12:14] dpisarenko opened #266 ""Push failed: could not store slug" during deploy"
When deploying PR https://github.com/yegor256/s3auth/pull/263 , following error occured:

[code]

Full log: http://www.rultor.com/t/1721-71441721

[2015-01-26 12:15] yegor256 commented on #266
it's a temporary heroku issue, we can't fix it anyhow

[2015-01-26 12:15] #266 closed

[2015-01-27 21:05] pinaf commented on #213
@davvd merged :)

[2015-01-27 21:06] yegor256 commented on #213
@pinaf ask the reporter to close it

[2015-01-27 23:33] pinaf commented on #213
@igorsyl could you please close this issue?

[2015-01-28 09:37] davvd commented on #202
@maurezen please go ahead with this task,it's yours

[2015-01-28 13:42] davvd commented on #228
@aoxa you're holding this ticket for 15 days already. If it's not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck). added -30 to your rating, now it is equal to -270

[2015-01-28 14:38] davvd commented on #253
@wb14123 the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. do not forget that the ticket will be closed onc

[2015-01-29 15:31] davvd commented on #90
The task is closed, thanks everybody

[2015-01-29 15:31] davvd commented on #95
Done, the task is closed

[2015-01-29 15:31] davvd commented on #191
Closing..

[2015-01-29 15:31] davvd commented on #202
Closed, done, thanks all

[2015-01-29 15:31] davvd commented on #213
It's closed now

[2015-01-29 15:31] #213 closed

[2015-01-29 15:31] davvd commented on #228
I'm closing it, thanks all

[2015-01-29 15:31] davvd commented on #250
The task is done, thanks all, I'm closing it

[2015-01-29 15:31] davvd commented on #253
Thanks, closed

[2015-01-29 15:34] davvd commented on #90
@pinaf it's not yours any more,because it took too long,please stop working with it. -60 to your rating, your total score is [+255](http://www.netbout.com/b/35128?open=rating). you're working with this issue for 9 days already. do not forget to remove the TODO puzzle from the source code. -30 added to your rating, current score is: [+225](http://www.netbout.com/b/35128?open=rating)

[2015-01-29 15:37] yegor256 commented on #90
@davvd I think we're wrong here, add extra 30 mins to @pinaf pls

[2015-01-29 16:34] davvd commented on #191
oops, my bad, reopening

[2015-01-29 16:35] davvd commented on #250
my bad, reopening

[2015-01-29 16:35] davvd commented on #202
my bad, closed by mistake

[2015-01-29 16:36] davvd commented on #90
my bad, should be open. I'll remove the negative rating too.

[2015-01-29 16:37] davvd commented on #228
my bad, should be open

[2015-01-29 16:38] davvd commented on #95
my bad, it's not done, reopen

[2015-01-29 16:38] davvd commented on #253
closed by mistake. reopen

[2015-01-29 17:47] pinaf commented on #213
@davvd oh thanks!

[2015-01-29 19:42] pinaf commented on #90
@davvd OK. Keep in mind you subtracted 90 points.

[2015-01-30 09:28] davvd commented on #213
6 puzzles were created here: `213-2f9b789a`, `213-d22cf12f`, `213-5796b8fa`, `213-6939d515`, `213-721856fe`, `213-af390358`

[2015-01-30 13:44] pinaf commented on #213
@davvd could you please end this one?

[2015-01-30 14:06] pinaf commented on #90
@davvd can we get this fixed?

[2015-02-01 09:44] bluntcoder opened #267 "Access Denied when accessing Ireland bucket"
Hello,

I've used your service for a while - and it's always worked well; however now I've tried to use it in an s3 bucket in Ireland and I'm getting access denied everywhere. only when I go into the management console and add a permission for "Authenticated Users" to "open/download" it works, but I can't easily apply this to all 800 files in my bucket.

Here is the error I get:

failed to fetch /

[2015-02-01 10:22] yegor256 commented on #267
@bluntcoder are you sure you have `index.html` in the bucket?

[2015-02-01 10:23] yegor256 commented on #267
@bluntcoder also, are you sure that your IAM user has read access to the objects in the bucket? Looks like some configuration issue.

[2015-02-01 14:35] bluntcoder commented on #267
Hi Igor,

The files are there - and I followed the directions on the site regarding
how to make the policy. This is what it looks like:

http://pastebin.com/raw.php?i=ndBXHkGV

The policy is called s3auth - only 2 of the buckets in there exist
right now, I can try deleting the non-existing ones but that was never
the problem before. Here is how they are defined on the s3auth site
(with the secrets

[2015-02-01 15:11] yegor256 commented on #267
@bluntcoder I would suggest to modify your IAM policy and make it look like this:

[code]

[2015-02-01 17:01] bluntcoder commented on #267
Thanks Yegor,

Any particular reason why there are duplicate domains? I tried it out as you wrote it and still the same problem. Still doesn't work. Does the s3 region matter? I have it set to s3-eu-west-1 for the offending bucket.

[2015-02-01 17:12] yegor256 commented on #267
@bluntcoder ah, right, the region is set wrong in your policy. Should be `c` instead of `s3`, like this: `arn:aws:arn:aws:s3:::cmf-matryoshka.mikutech.com:::cmf-matryoshka.mikutech.com/*`

[2015-02-01 17:15] bluntcoder commented on #267
@yegor256 Sorry, do you mean arn:aws:s3:::s3-eu-west-1:::cmf-matryoshka.mikutech.com/* ?

[2015-02-01 17:19] bluntcoder commented on #267
@yegor256 I tried both my way and your way, and I get this error:

We encountered the following errors while processing your request:
 Resource arn:aws:arn:aws:s3:::staging2.cupkins.com:::staging2.cupkins.com/* contains an invalid region for vendor arn.

[2015-02-01 17:26] yegor256 commented on #267
@bluntcoder sorry, I meant this: `arn:aws:s3-eu-west-1:::staging.cupkinsgames.com/*`

[2015-02-01 17:26] yegor256 commented on #267
@bluntcoder but looks like I'm wrong, `s3` is not a region there but a name of the service

[2015-02-01 17:33] bluntcoder commented on #267
I found this in the docs:

Amazon Simple Storage Service (Amazon S3) Syntax:

arn:aws:s3:::bucketname
arn:aws:s3:::bucketname/objectpath
Note that Amazon S3 does not require an account number or region in ARNs.

[2015-02-01 17:46] yegor256 commented on #267
@bluntcoder I have no idea what's wrong. Looks like our server can't fetch your S3 objects because Amazon rejects our requests. I would recommend to double check whether your keys are correct and the policy is in place.

[2015-02-01 18:58] pinaf commented on #213
@davvd any chance we can wrap this up?

[2015-02-01 19:04] bluntcoder commented on #267
@yegor256 Ok, I'm glad I'm not crazy then. Have you ever had it working in regions others than US-East? I used AWS's policy simulator - and everything works fine on that. I'm just going to have to give on this. Sigh.

[2015-02-01 19:57] yegor256 commented on #267
@bluntcoder we had a problem with Frankfurt region (see #214), but it was fixed a few weeks ago. Maybe your case is related somehow... but I doubt. Let's not give up and try to fix it. Just check again that the information you have in IAM is the same as you provide to s3auth control panel. Also, just to check, try to add this policy to your IAM user:

[code]

should work

[2015-02-01 20:20] bluntcoder commented on #267
@yegor256 It's funny I wanted to use Frankfurt originally but s3cmd doesn't support V4 authentication yet, so Ireland was my backup.

It works! However I get this error now when I just go to just the domain (http://staging2.cupkinsgame.com, after a successful auth):

I have static website hosting off in my aws s3 console - I'm assuming I don't need that since it would bypass the auth.

failed to f

[2015-02-02 01:31] yegor256 commented on #267
@bluntcoder you have to specify your default page, in "web site hosting" section of S3 bucket configuration

[2015-02-02 13:39] pinaf commented on #213
@davvd hello???

[2015-02-02 14:56] davvd commented on #213
@pinaf **30 mins** sent to your balance (ID `AP-87D95476261313446`), many thanks!

+30 added to your rating, at the moment it is: [+600](http://www.netbout.com/b/35128?open=rating)

[2015-02-02 14:56] davvd commented on #228
@aoxa you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 to your rating, your total score is -330

[2015-02-02 21:45] yegor256 commented on #90
@pinaf it's fixed, I removed the points

[2015-02-03 00:01] pinaf commented on #90
@yegor256 points are correct but task disappeared from agenda.

[2015-02-03 00:07] yegor256 commented on #90
@davvd assign @pinaf back to this task pls

[2015-02-03 12:13] longtimeago commented on #257
@yegor256 any progress here?

[2015-02-03 15:02] davvd commented on #90
@yegor256 OK @pinaf please proceed, this task is yours

[2015-02-03 15:05] davvd commented on #253
@wb14123 this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 added to your rating, at the moment it is: -465

[2015-02-03 15:19] pinaf commented on #213
@davvd thank you.

[2015-02-03 15:20] pinaf commented on #90
@davvd thank you. Still impeded by https://github.com/jcabi/jcabi-dynamo/issues/28

[2015-02-04 14:27] davvd commented on #90
@yegor256 of course, take your time

[2015-02-04 20:37] wentwog commented on #191
@davvd the PL is merged, could you close the issue ?

[2015-02-04 21:58] yegor256 commented on #267
@bluntcoder how is it going? did you manage to fix all this?

[2015-02-05 10:59] maurezen commented on #202
@davvd please assign this issue to someone else.

[2015-02-05 15:07] davvd commented on #202
@maurezen right, I'll try to find someone else for this task

[2015-02-05 22:17] rygo6 opened #268 "Cannot get your instructions to work."
I'm fairly experienced with all the subject matters necessary to make this work, but following your instructions I simply cannot get this to work. It just asks for the password over and over again.

I have gotten everything set up to the point where going to the htpasswd file does return bytes.
So I presume my DNS routing is correct and that I have the correct key in place to get into my s3 bucket

[2015-02-05 22:28] #268 closed

[2015-02-05 23:09] rygo6 opened #269 "Files in subdirectories return s3auth auto-generated page rather than actual content."
Any file in a subdirectory that I access through s3auth returns the page that s3auth auto generates, rather than the actual content. So if I try to access images/me.jpg I get back a page saying 'This is an auto generated page" and it shows the path to the file. It does not do this for any files in the root. Any ideas on why this might be and how I could correct it?

[2015-02-06 00:50] yegor256 commented on #269
@rygo6 are you sure? take a look at this file: http://maven.s3auth.com/apidocs/index.html It works well

[2015-02-06 00:51] yegor256 commented on #269
@rygo6 looks like in your case you're either giving wrong names of the files, or that files are not accessible by IAM user

[2015-02-06 17:52] davvd commented on #191
the code made here contains a puzzle `191-7e266bd1`, which will be resolved soon

[2015-02-08 17:11] pinaf commented on #90
@yegor256 @davvd the issue was closed with just a test implemented. functionality still isn't there so we still need to wait for the actual implementation in a new issue.

[2015-02-09 16:53] davvd commented on #191
The task is closed, thanks everybody

[2015-02-09 16:53] #191 closed

[2015-02-11 18:05] davvd commented on #191
@wentwog Thanks for your contribution, **30 mins** was added to your account, payment ID is `51586475`. +30 added to your rating, current score is: [+185](http://www.netbout.com/b/35104?open=rating)

[2015-02-13 03:21] bluntcoder commented on #267
Unfortunately I had to abandon the service. Thanks for helping me out.

* Mark Mikulec*
 Chief Technical Consultant

<http://www.mikutech.com/>London - Hamilton - Torontohttp://www.mikutech.com
Find us: LinkedIn <https://www.linkedin.com/company/4990614>  - Twitter
<https://twitter.com/MikutechTips>

This e-mail  may contain information that is privileged or confidential. If
you are not the intend

[2015-02-13 06:20] #267 closed

[2015-02-16 15:32] Azulinho opened #270 "How to run it locally ?"
I am able to build this using:

mvn -Dmaven.test.skip=true clean install

But how do I run it ?

(thanks for coding it)

[2015-02-16 15:33] Azulinho commented on #270
I am able to build this using:

mvn -Dmaven.test.skip=true clean install

But how do I run it ?

(thanks for coding it)

[2015-02-21 13:24] pinaf commented on #90
@davvd merged. please close if alright.

[2015-02-23 11:39] longtimeago commented on #90
@davvd close the issue, please

[2015-02-24 03:35] pinaf commented on #90
@davvd please close the issue man..

[2015-02-24 23:53] pinaf commented on #90
@davvd seriously. what is going on? why don't you close the issue?

[2015-02-24 23:57] davvd commented on #90
once `90-43f9c549` puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-02-25 19:22] pinaf commented on #90
@davvd close the issue

[2015-02-25 22:50] rygo6 opened #271 "Could it be possible for s3auth to serve over https?"
I am wanting to set up something to install iOS apps from an s3auth'ed bucket. The peculiar thing about installing iOS apps from web is that iOS requires it to be served from an https url. I am curious to know, is there someway to get s3auth to respond to https?

[2015-02-26 01:55] yegor256 commented on #271
@rygo6 we had a ticket about it (https://github.com/yegor256/s3auth/issues/8), but I'm not sure where we are in this feature. I'll check soon and report here

[2015-02-26 09:27] davvd commented on #90
Done, thanks all, closing..

[2015-02-26 09:27] #90 closed

[2015-02-26 09:30] davvd commented on #90
@pinaf **30 mins** sent to your balance (ID `AP-937875029L175551X`), many thanks!

+30 added to your rating, current score is: [+2201](http://www.netbout.com/b/35128?open=rating)

[2015-02-28 17:58] darkled commented on #95
@davvd we're waiting for #257 as well

[2015-03-01 10:32] krzyk commented on #265
ping

[2015-03-01 20:08] yegor256 commented on #265
@krzyk I fixed Travis config in 208824e

[2015-03-02 10:08] davvd commented on #265
@yegor256 please don't close it.. @krzyk could you please close it, if it is done?

[2015-03-02 10:08] davvd commented on #95
@darkled yes, waiting for #257

[2015-03-02 10:26] krzyk commented on #265
thanks

[2015-03-02 10:26] #265 closed

[2015-03-05 08:50] darkled commented on #257
@yegor256 do you have any news here?

[2015-03-05 17:49] tonymet commented on #270
[code]

[2015-03-05 19:21] tonymet commented on #270
[code]

[2015-03-08 03:32] rygo6 commented on #271
@yegor256 Looking at the ticket it appears like this functionality has been merged into s3auth. Is that correct? Is there documentation on how to use it?

[2015-03-08 15:33] trystant opened #272 "Error removing individual host from s3auth.com profile"
Hi,

I'm logged in as trystant to s3auth.com and am trying to remove http://patriciawrightlaw.grandkru.com from my profile. For some reason, the host is not deleted. How can I delete that host? Thanks.

[2015-03-09 06:06] yegor256 commented on #272
@trystant what happens when you're clicking "delete"?

[2015-03-09 06:08] yegor256 commented on #271
@rygo6 yes we implemented all this, but I can't remember whether it works or not. let's try to assign this problem to @carlosmiranda since he was in charge of this issue

[2015-03-09 10:12] davvd commented on #271
I am aware of the task, give me some time to find a developer...

[2015-03-09 10:14] davvd commented on #271
@carlosmiranda it's yours, budget is 30 mins, please go ahead

[2015-03-09 11:31] carlosmiranda commented on #271
@davvd Assign someone else please.

[2015-03-09 11:31] carlosmiranda commented on #271
@yegor256 @rygo6 Sorry guys, got my hands full on various things the past few days... no time to attend to this. :(

[2015-03-09 13:10] davvd commented on #271
@carlosmiranda OK, I will try to assign someone else

[2015-03-12 04:19] trystant commented on #272
Hi @yegor256,

This is the message I get
![screenshot 2015-03-12 00 17 26](https://cloud.githubusercontent.com/assets/13509/6612175/7b0499e0-c84d-11e4-9770-ba1adc38eb1a.png)

[2015-03-12 04:55] yegor256 commented on #272
@trystant yes, I see the problem, I also can't delete a domain from my account. thanks for reporting, we'll take care of this soon!

[2015-03-12 09:28] davvd commented on #272
I will find a developer for the task soon...

[2015-03-13 05:28] simonjenga opened #273 "IllegalAccessException for stop method in ExtendedTomcat"
```./s3auth>mvn clean install -DskipTests -Dinvoker.skip=true -Pqulice```
[code]

[2015-03-13 23:34] pilotlab commented on #272
I am having the same issue as well for studies.pilotlab.com. I get a confirmation that it has been removed but the site remains on the list of registered domains and continues to give a the authentication prompt.

[2015-03-16 18:49] yegor256 commented on #252
don't ask questions, instead report bugs, see http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2015-03-16 18:49] #252 closed

[2015-03-16 18:56] yegor256 commented on #250
@rultor deploy

[2015-03-16 18:56] rultor commented on #250
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2593-81870312)

[2015-03-16 18:58] yegor256 opened #275 "URISyntaxException in HttpRequest ctor"
[code]

[2015-03-16 19:11] krzyk opened #276 "Travis can't run build"
Travis build is failing:
[code]
See https://travis-ci.org/yegor256/s3auth/builds/54610824 for more logs.

[2015-03-16 19:28] yegor256 commented on #276
@krzyk thanks, should be fine now, after 58070ef

[2015-03-16 19:28] #276 closed

[2015-03-16 19:33] rultor commented on #250
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2593-81870312) (took me 36min)

[2015-03-16 19:35] #250 closed

[2015-03-16 19:35] yegor256 commented on #275
@rultor deploy

[2015-03-16 19:35] #275 closed

[2015-03-16 19:58] rultor commented on #275
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2594-81889926)

[2015-03-16 20:35] rultor commented on #275
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2594-81889926) (took me 36min)

[2015-03-16 20:40] yegor256 opened #277 "logs are not clear enough on exceptions"

[2015-03-16 20:40] yegor256 commented on #277
@rultor deploy

[2015-03-16 20:41] rultor commented on #277
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2595-81926190)

[2015-03-16 21:03] rultor commented on #277
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2595-81926190) (took me 22min)

[2015-03-16 21:06] #277 closed

[2015-03-16 22:57] yegor256 opened #278 "incorrect revision in logs"

[2015-03-16 22:57] yegor256 commented on #278
@rultor deploy

[2015-03-16 22:57] rultor commented on #278
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2601-81978429)

[2015-03-16 23:27] rultor commented on #278
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2601-81978429) (took me 30min)

[2015-03-16 23:35] #278 closed

[2015-03-17 11:15] simonjenga opened #279 "duplicate declaration of plugins in s3auth-rest build file"
[code]

This should be avoided as it eventually makes the ```build file``` to be very lengthy and unmaintainable.

[2015-03-17 17:58] yegor256 opened #280 "concurrency increases response time"
Here is a test:

[code]

Here is the same test, but without concurrency:

[code]

Server load during both tests was stable (load average around 2.8)

[2015-03-17 18:01] davvd commented on #280
@yegor256 right, I added the `bug` tag

[2015-03-17 19:08] yegor256 commented on #280
@rultor deploy

[2015-03-17 19:09] rultor commented on #280
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2635-82538082)

[2015-03-17 19:49] rultor commented on #280
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2635-82538082) (took me 39min)

[2015-03-18 16:29] davvd commented on #280
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-f19e8d31`

[2015-03-20 04:54] yegor256 commented on #272
@rultor deploy

[2015-03-20 04:55] rultor commented on #272
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/2696-83903931)

[2015-03-20 05:20] rultor commented on #272
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2696-83903931) (took me 25min)

[2015-03-30 21:27] nicelemon opened #282 "Cannot delete existing registered domains"
When adding a new domain I entered the bucket name incorrectly, and now it seems that I'm unable to delete or edit the record. Here's the error I get when I attempt to delete the record:

After refresh it says the record was deleted, however the record persists and I'm unable to add a new record with the same host name.

[2015-03-31 01:45] rygo6 opened #283 "qulice fails on .DS_store files"
I’ve been working on a feature to put into s3auth that I need. I have come to the point where I ran qulice on the project for the first time and it came back with errors about DS_store files. Which seemed odd to me that ignores aren’t already on the repo for that, I was then going to put in excludes for DS_store files as per this page describes:
http://www.qulice.com/qulice-maven-plugin/example-ex

[2015-03-31 02:53] yegor256 commented on #283
@rygo6 I'm working on OSX, but I never have `.DS_Store` files in the repo. Are you opening the directory with Finder??

BTW, who is complaining about that file? Can you should the log?

[2015-03-31 05:25] rygo6 commented on #283
These are the errors.

    [ERROR] /src/main/.DS_Store[1]: Line has trailing spaces. (RegexpSinglelineCheck)
    [ERROR] /src/main/.DS_Store[2]: Line has trailing spaces. (RegexpSinglelineCheck)
    [ERROR] /src/main/.DS_Store[3]: Line has trailing spaces. (RegexpSinglelineCheck)
    [ERROR] /src/site/.DS_Store[1]: Line has trailing spaces. (RegexpSinglelineCheck)
    [ERROR] /src/site/.DS_Store[2

[2015-03-31 06:04] yegor256 commented on #283
@rygo6 just don't touch the directory with Finder. These complaints are coming from Checkstyle, so just this exclusion will be enough:

[code]

(it's a regex)

[2015-04-02 17:53] brynbstn7 commented on #268
rygo6 - - I am having the same issue - - how did you solve this ?

[2015-04-02 17:56] yegor256 commented on #268
@rygo6 you should put the name of the bucket there. and don't forget to give our servers 10 minutes to update their memory caches

[2015-04-02 21:29] brynbstn7 commented on #268
I've tried 3 cases:
CNAME recordset name:     arn:aws:s3:::mytest.example.com/*
Bucket name:     arn:aws:s3:::bucket-01/*
Bucket + domain:      arn:aws:s3:::bucket-01.example.com/*

...waiting 30 minutes for update cache ... and get the repeating login prompt issue ....  which is supposed to work?

[2015-04-02 23:30] yegor256 commented on #268
Should be like this: `arn:aws:s3:::bucket-01/*`

Make sure you configured the domain and bucket name correctly in the account page at s3auth.com. What did you enter there?

[2015-04-03 02:41] brynbstn7 commented on #268
I entered the bucket name in the bucket name field:  "bucket-01" for example.
I have multiple registered domains created.  One is the root domain:  metasources.org.  And another is the name of the CNAME record step:  testauth.metasources.org.  The 3rd is completely irrelevant.  I tried deleting it, but guess that doesn't work.   Also the user name, to which I attached the above policy, is the same

[2015-04-03 18:31] nicelemon commented on #282
I'd love to use your service, but I'm still experiencing the following error when attempting to delete an existing entry:

![screen shot 2015-04-03 at 2 04 48 pm](https://cloud.githubusercontent.com/assets/6396220/6986404/e5a820d6-da0a-11e4-939b-2fe6f01418eb.png)

After refreshing the page I see the following even though the entry persists:

![screen shot 2015-04-03 at 2 06 43 pm](https://cloud.gi

[2015-04-03 18:59] yegor256 commented on #282
@nicelemon it's a known bug, I'm working on it and planning to fix on this weekend, see https://github.com/yegor256/s3auth/issues/272

[2015-04-05 19:35] nicelemon commented on #282
@yegor256 Sorry I missed this. Thanks for the reply!

[2015-04-05 19:35] #282 closed

[2015-04-07 11:47] davvd opened #284 "FtpResponse.java:55-57: Implement methods 'withCode', 'withText', 'send'..."
Puzzle `213-d22cf12f` in `s3auth-relay/src/main/java/com/s3auth/relay/FtpResponse.java:55-57` has to be resolved: Implement methods 'withCode', 'withText', 'send' as above. Also, implement 'asString' and unignore test 'constructsCorrectly' in FtpResponseTest.... The puzzle was created by pinaf on 24-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-09 10:26] davvd opened #285 "Main.java:67-68: Create a FtpFacade in order..."
Puzzle `213-af390358` in `s3auth-relay/src/main/java/com/s3auth/relay/Main.java:67-68` has to be resolved: Create a FtpFacade in order to provide a FTP gateway. Also unignore test 'connectDisconnect' in FtpFacadeTest.... The puzzle was created by pinaf on 24-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-09 12:32] davvd opened #286 "HttpFacade.java:66-69: Create new a class Facade..."
Puzzle `213-721856fe` in `s3auth-relay/src/main/java/com/s3auth/relay/HttpFacade.java:66-69` has to be resolved: Create new a class Facade with all protocol-neutral code (such as socket handling, socket queue, etc). Then convert {@link com .s3auth.relay.HttpFacade} and {@link com.s3auth.relay.FtpFacade} so they use the new Facade class in order to avoid code duplication.... The puzzle was created

[2015-04-09 13:59] davvd opened #287 "FtpThread.java:54-57: Implement relay functionality to fetch..."
Puzzle `213-6939d515` in `s3auth-relay/src/main/java/com/s3auth/relay/FtpThread.java:54-57` has to be resolved: Implement relay functionality to fetch resource upon receival of the RETR command with valid authorization. Return an error in case of other commands (unsupported for now). Remove unnecessary asserts ffor fields 'sockets' and 'hosts' in method 'dispatch'.... The puzzle was created by pin

[2015-04-09 15:45] davvd opened #288 "FtpThread.java:52-53: Implement authentication based on the..."
Puzzle `213-5796b8fa` in `s3auth-relay/src/main/java/com/s3auth/relay/FtpThread.java:52-53` has to be resolved: Implement authentication based on the USER and PASS commands.... The puzzle was created by pinaf on 24-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-09 16:33] davvd opened #289 "FtpFacade.java:65-66: Implement TLS secure port listening..."
Puzzle `213-2f9b789a` in `s3auth-relay/src/main/java/com/s3auth/relay/FtpFacade.java:65-66` has to be resolved: Implement TLS secure port listening in a manner analogous to HttpFacade.... The puzzle was created by pinaf on 24-Jan-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-04-09 17:28] davvd opened #290 "HttpFacadeTest.java:523-526: The test fails to retrieve..."
Puzzle `191-7e266bd1` in `s3auth-relay/src/test/java/com/s3auth/relay/HttpFacadeTest.java:523-526` has to be resolved: The test fails to retrieve the expected content over SSL. The response body is empty while it should be "secured". Test fails on line 570. Let's fix it and unignore the test.... The puzzle was created by Artem Nakonechny on 4-Feb-2015.

If you have any technical questions, don't a

[2015-04-10 20:57] simonjenga commented on #279
https://github.com/yegor256/s3auth/pull/281

[2015-04-10 20:57] #279 closed

[2015-04-13 11:55] davvd opened #291 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-13 13:09] davvd opened #292 "DefaultDynamoTest.java:61-64: This test creates a mock..."
Puzzle `90-43f9c549` in `s3auth-hosts/src/test/java/com/s3auth/hosts/DefaultDynamoTest.java:61-64` has to be resolved: This test creates a mock region with a H2Data backend which has table columns with characters unsupported by the h2 database. Issue #7 in jcabi-dynamo should fix this. Don't forget to remove the @Ignore annotation from this test.... The puzzle was created by pinaf on 20-Jan-2015.

[2015-04-13 15:23] davvd opened #293 "0.1"
Please, publish a new release **0.1** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-13 16:51] davvd opened #294 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-14 01:37] Masabu opened #295 "keep getting "Application Error" at http://www.s3auth.com"
Hi

I keep getting "Application Error" when I try to fix/remove my existing entry.  My amazon AWS credential changed so I am trying to update the entry however when I remove it, i get the message removed 'xxxx.com' host from collection but it actually does not remove the entry.

am accessing via http://www.s3auth.com

[2015-04-14 01:53] yegor256 commented on #295
it's a known bug, I'm going to fix it today or tomorrow the latest, see https://github.com/yegor256/s3auth/issues/272

[2015-04-14 05:13] yegor256 opened #296 "migrate to takes 0.12"

[2015-04-14 11:26] davvd commented on #295
@masabu I will find a developer for the task soon...

[2015-04-14 11:28] davvd commented on #296
@yegor256 this is yours, pls go ahead

[2015-04-14 11:29] davvd commented on #296
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-16b6cb61`

[2015-04-16 01:15] Masabu commented on #295
thanks, looking forward!!

[2015-04-16 03:49] yegor256 commented on #296
@rultor deploy

[2015-04-16 03:49] #296 closed

[2015-04-16 03:49] rultor commented on #296
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3406-93631461)

[2015-04-16 03:55] rultor commented on #296
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3406-93631461) (spent 6min)

[code]

[2015-04-16 03:55] yegor256 commented on #296
@rultor deploy

[2015-04-16 03:57] rultor commented on #296
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3406-93632579)

[2015-04-16 04:05] rultor commented on #296
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3406-93632579) (spent 8min)

[code]

[2015-04-16 04:06] yegor256 commented on #296
@rultor deploy

[2015-04-16 04:07] rultor commented on #296
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3406-93634039)

[2015-04-16 04:16] rultor commented on #296
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3406-93634039) (spent 8min)

[code]

[2015-04-16 04:54] yegor256 commented on #296
@rultor deploy

[2015-04-16 04:54] rultor commented on #296
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/3406-93640867)

[2015-04-16 05:18] rultor commented on #296
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3406-93640867) (took me 23min)

[2015-04-16 05:23] yegor256 commented on #272
@trystant I believe it works fine now, please check

[2015-04-16 05:23] yegor256 commented on #295
@Masabu I think it's fixed, please check

[2015-04-17 09:50] davvd commented on #95
@davvd since there is no milestone yet I set it to "1.0"

[2015-04-17 09:50] davvd commented on #202
@yegor256 there is no milestone yet, so I set it to `1.0`

[2015-04-17 09:50] davvd commented on #228
@dpisarenko I set milestone here to `1.0`, let me know if it is wrong

[2015-04-17 09:50] davvd commented on #253
@davvd I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-17 09:50] davvd commented on #257
@darkled I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-17 09:50] davvd commented on #271
@rygo6 I set milestone here to `1.0`, let me know if it is wrong

[2015-04-17 09:50] davvd commented on #272
@trystant there is no milestone yet, so I set it to `1.0`

[2015-04-17 09:50] davvd commented on #280
@yegor256 I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-17 09:50] davvd commented on #285
@davvd there is no milestone yet, so I set it to `1.0`

[2015-04-17 09:50] davvd commented on #286
@davvd since there is no milestone yet I set it to "1.0"

[2015-04-17 09:50] davvd commented on #287
@davvd I set milestone here to `1.0`, let me know if it is wrong

[2015-04-17 09:50] davvd commented on #288
@davvd attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-04-17 09:50] davvd commented on #289
@davvd I added milestone `1.0` to this issue, let me know if there has to be something else

[2015-04-17 09:50] davvd commented on #290
@davvd since there is no milestone yet I set it to "1.0"

[2015-04-17 09:50] davvd commented on #291
@davvd attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-04-17 09:50] davvd commented on #292
@davvd since there is no milestone yet I set it to "1.0"

[2015-04-17 09:50] davvd commented on #293
@davvd since there is no milestone yet I set it to "1.0"

[2015-04-17 09:50] davvd commented on #294
@davvd I set milestone here to `1.0`, let me know if it is wrong

[2015-04-17 09:50] davvd commented on #296
@yegor256 I set milestone here to `1.0`, let me know if it is wrong

[2015-04-17 09:50] davvd commented on #284
@davvd since there is no milestone yet I set it to "1.0"

[2015-04-20 18:07] davvd commented on #296
@yegor256 thanks, paid, **45 mins** to your account, payment ID is `000-1dbc391b`, task took 70 hours and 22 mins to complete... the bonus for fast delivery (age=1476)... +45 to your rating, your total score is [+9062](http://www.netbout.com/b/35008?open=rating)

[2015-05-01 05:21] simonjenga commented on #273
[code]

[2015-05-01 05:21] #273 closed

[2015-05-12 09:08] davvd commented on #293
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 10:04] davvd commented on #293
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-18 13:53] Guaito opened #298 "Sevice reliability"
We're going to use you seauth service to authenticate a simple S3 HTML page, are there any traffic/users limitations to be aware of?

Thanks in advance for your support

[2015-05-18 15:59] yegor256 commented on #298
@Guaito no, there are no limitations, use it the way you want

[2015-05-18 15:59] #298 closed

[2015-05-27 12:23] lassebn commented on #214
I am experiencing this issue as well, with a new bucket hosted in Frankfurt. Can I do anything to fix this myself, or does s3auth need to be updated?

[2015-05-27 22:28] yegor256 commented on #214
@lassebn I think that you're having some other issue. This problem (with Frankfurt buckets) was fixed already. Please, create a new issue and explain the problem there, we'll try to help.

[2015-06-01 10:10] davvd commented on #294
@yegor256 The task is closed, thanks everybody

[2015-06-01 10:10] #294 closed

[2015-06-03 09:46] davvd commented on #295
@masabu It is "invalid", I am closing it

[2015-06-03 09:46] #295 closed

[2015-06-09 21:19] tomeralmog opened #300 "runtime Exception"
Hi,
I have followed all the steps, after I input my user and password I get this error:

[code]

[2015-06-09 23:55] yegor256 commented on #300
@tomeralmog maybe you don't have `index.html` in there?

[2015-06-09 23:59] tomeralmog commented on #300
I do, but it is private (I made all the html private - was that wrong?)

[2015-06-10 00:03] yegor256 commented on #300
@tomeralmog it's not a problem, you can keep them private, but make sure your IAM user has enough permissions to read them.

[2015-06-10 00:05] tomeralmog commented on #300
I copied the permissions given in the documentation. is there anything else I have to add?

[2015-06-10 00:05] tomeralmog commented on #300
{
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "s3:GetObject",
                "s3:GetBucketWebsite"
            ],
            "Resource": [
                "arn:aws:s3:::mysite.com/*"
            ]
        }
    ]
}

[2015-06-10 00:06] yegor256 commented on #300
@tomeralmog maybe making your files "private" overwrite the permissions give by the IAM policy... I think that's how it works

[2015-06-10 00:08] tomeralmog commented on #300
when I set it to public, it doesn't authenticate at all

[2015-06-10 00:22] tomeralmog commented on #300
Sorry, I am wrong.
It needs to be public. my browser saved the authentication info. when I try it with a different browser it works fine.

[2015-06-10 17:15] yegor256 commented on #300
@tomeralmog glad it works now. please close the ticket

[2015-06-10 17:16] #300 closed

[2015-06-15 09:24] davvd commented on #291
@yegor256 Closing..

[2015-06-15 09:24] #291 closed

[2015-06-15 09:24] davvd commented on #293
@yegor256 Thanks, closing it now.

[2015-06-15 09:24] #293 closed

[2015-06-15 09:25] davvd commented on #270
@yegor256 please do something about this issue

[2015-06-15 09:25] davvd commented on #181
@yegor256 please pay attention to this issue

[2015-06-16 00:17] yegor256 commented on #270
@Azulinho explained in 525a9c2 Looks good? Works? If yes, please close the ticket

[2015-06-16 00:19] yegor256 commented on #181
@jwal thanks for the feature request, sorry it took so long to review it. I see one problem here - the name of a bucket may be very long and contain symbols not suitable for a CNAME... Maybe we can generate a random name for each bucket... What do you think?

[2015-06-16 07:26] Azulinho commented on #270
good stuff

[2015-06-16 07:26] #270 closed

[2015-06-17 12:26] krzyk opened #301 "Build fails with JDK 1.8"
Build should work with newest java, but right now when I try to build I get:

[code]

[2015-06-22 10:17] davvd commented on #301
@yegor256 please do something about this issue

[2015-06-22 20:13] yegor256 commented on #301
@krzyk we'll fix it right after https://github.com/jcabi/jcabi-ssl-maven-plugin/issues/32

[2015-06-26 22:28] gvlasov opened #302 "AJC weaving fails with JDK=1.7"
When I'm building s3auth with openjdk 1.7, weaving fails during building s3auth-relay module. Building s3auth-hosts above in the log runs fine and it reports successful weaving of classes in that module.

[code]

Here is the relevant part of a log of `mvn clean test` where it is shown how the weaving fails:

[code]

[2015-06-30 10:25] davvd commented on #302
@yegor256 please do something about this issue

[2015-07-01 10:42] jwal commented on #181
[Amazon's documentation](http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html) clearly favors DNS-compatible bucket names and only those that are a single name (no dotted parts) are supported for HTTPS.  These same restrictions seem to make sense for `s3auth.com` subdomains as well.  You can pick your own bucket name so if you want to use this new feature you can pick one that wo

[2015-07-01 11:18] davvd commented on #302
@suseika milestone set to `1.0` (correct me if I am wrong)

[2015-07-01 11:19] davvd commented on #302
@suseika thank you for reporting this, I added 15 mins to your acc, transaction `AP-0A052579UW022751K`

[2015-07-14 04:41] ajayrn opened #303 "Keeps asking for Authentication"
Hi,
i did the following and when I go to test.mydomain.info i keep getting authentication requests but even when I give correct user name and password, it doesn't work.
1. Created a bucket mydomain.info in S3. It also has index.html
2. Then I used route 53 to make the s3 domain a custom domain called mydomain.info
3. I pointed CNAME DNS of mydomain.info i.e. test.mydomain.info to relay.s3auth.com

[2015-07-14 06:11] yegor256 commented on #303
@ajayrn my first guess is that you're using a wrong login/password. Are you sure you created the `.htpasswd` correctly?

[2015-07-14 13:08] ajayrn commented on #303
I used the online tool. It looks like,
name: encrypted password
I saved it to the root as user.htpasswd

[2015-07-14 13:48] ajayrn commented on #303
It worked. I renamed the user.htpasswd file to simply .htpasswd and it worked :)

[2015-07-14 13:50] #303 closed

[2015-07-30 07:49] jens876 commented on #214
You have to define 's3-eu-central-1' as AWS S3 endpoint in the s3auth.com domain management. Then it works. With the 's3' endpoint the error still occurs.

[2015-08-02 20:33] mamuemi opened #304 "beginner question - see www.s3auth.com"
hey,
i've read about s3auth.com and immediately liked the idea to secure my "AWS S3 static website hosting". unfortunately, i had to give up after not getting beyond the message "see www.s3auth.com" when call the website URL provided by AWS S3 static hosting.
Since the html request for myDomiain.com/.htpasswd also didn't work, I am just wondering what went wrong. i've double-checked the IAM custom

[2015-08-03 06:58] yegor256 commented on #304
@mamuemi what do you see when you open `mydomain.com/.htpasswd`?

[2015-08-06 07:04] mamuemi commented on #304
my domain: muemi-test.s3-website.eu-central-1.amazonaws.com
routing to: http://relay.s3auth.com/

that's what is shown when I type in 'muemi-test.s3-website.eu-central-1.amazonaws.com' (routing to 'http://relay.s3auth.com/.htpasswd'): URI '/.htpasswd' not found here

iam policy:
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": ["s3:Li

[2015-08-06 07:36] yegor256 commented on #304
@mamuemi I don't think you can route `muemi-test.s3-website.eu-central-1.amazonaws.com` anywhere :) it's in amazonaws.com domain

[2015-08-06 07:47] mamuemi commented on #304
that would explain it, but I am confused that the muemi-test.s3-website.eu-central-1.amazonaws.com route to your service: http://relay.s3auth.com/
i don't have another domain to use since i only like to simply, quickly have secured access to my s3 bucket via the browser :-) probably, i have to look for something else then.
thanks for you help though!

[2015-09-21 16:53] yegor256 opened #305 "SSL for the front-end"
At the moment, the front-end doesn't have SSL protection. Let's enable it, on Heroku.

[2015-09-27 02:51] yegor256 commented on #257
@davvd assign someone else pls

[2015-09-28 09:51] davvd commented on #257
@yegor256 30 points deducted from your rating

[2015-09-28 09:51] davvd commented on #257
@yegor256 right, I will find someone else, no problem

[2015-09-30 08:39] asaen opened #306 "Local build fails"
Running `mvn clean install -X` under windows 7 leads to the following error:

[code]

Output of `mvn -v`:

[code]

[2015-09-30 08:47] darkled commented on #257
it's not actual anymore, closing

[2015-09-30 08:47] #254 closed

[2015-09-30 12:53] davvd commented on #95
@yegor256 FYI, the issue we were waiting for (#254) is fixed

[2015-09-30 16:53] yegor256 commented on #306
@darkled I suspect the problem is with your Locale (Russian, I assume), not Windows

[2015-10-01 09:43] davvd commented on #306
@darkled I am aware of the task, give me some time to find a developer...

[2015-10-01 09:43] davvd commented on #306
@darkled attached this issue to milestone "1.0" (let me know if this is wrong)

[2015-10-01 09:45] davvd commented on #306
@darkled thanks for reporting! I topped your account for 15 mins, transaction 66379333

[2015-10-16 12:23] simonjenga opened #309 "@NotNull annotations are inconsistently used"
There are many classes that have ```constructors``` and ```methods``` whose arguments/parameters are annotated with ```@NotNull```, and also some other ```constructors``` and ```methods``` that don't have those annotations.

This is especially true in the ```package com.s3auth.hosts``` although a thorough revision of the entire project Java source files needs to be done.

[2015-10-17 07:53] simonjenga opened #310 "Warning: killAfter is now deprecated in exec-maven-plugin"
```./s3auth/s3auth-rest>mvn clean install```

[code]

[2015-10-19 05:44] simonjenga opened #311 "build failure while trying to run the project locally"
Executing`mvn clean install -Phit-refresh -Dport=8080` leads to the following error:

[code]

[2015-10-19 14:15] davvd commented on #309
@yegor256 dispatch this issue please, see [par.21](http://www.teamed.io/policy.html#21)

[2015-10-19 20:30] darkled commented on #95
@davvd assign someone else please

[2015-10-19 20:34] prondzyn opened #313 "Test HttpFacadeTest.getsContentOverSSL ends with failure after removing @Ignore annotation"
Test [HttpFacadeTest.getsContentOverSSL](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/test/java/com/s3auth/relay/HttpFacadeTest.java#L528-L577) ends with failure after removing `@Ignore` annotation but according to PR #194 it should ends with success.

It is blocking work on the [jcabi-ssl-maven-plugin/issues/2](https://github.com/jcabi/jcabi-ssl-maven-plugin/issues/2).

Below i

[2015-10-20 02:47] yegor256 commented on #313
@prondzyn brrr... I don't understand. First, what exactly is a bug? What is broken? And my second question, how this project can block jcabi-ssl-maven-plugin? I'm lost :)

[2015-10-20 03:14] yegor256 commented on #309
@simonjenga even though it's a valid concern, there is no valid way to solve this problem. We can go through the entire code base and add that annotations, but tomorrow someone will forget to put it to some new method, and the project will get back to inconsistent state. So, we should leave it as is :(

[2015-10-20 03:14] #309 closed

[2015-10-20 05:35] prondzyn commented on #313
@yegor256 please check the [jcabi/jcabi-ssl-maven-plugin/issues/2](https://github.com/jcabi/jcabi-ssl-maven-plugin/issues/2). It was describing that jcabi-ssl-maven-plugin does not work when Rultor or Travis builts s3auth project. I was trying to reproduce this issue or on my machine and tried to build s3auth with the `@Ignore` removed from `HttpFacadeTest.getsContentOverSSL`. But the test failure

[2015-10-20 12:01] davvd commented on #95
@darkled -30 points to your rating :(

[2015-10-20 12:01] davvd commented on #95
@darkled someone else will help in this task, no problem at all

[2015-10-20 12:03] davvd commented on #310
@yegor256 please do something about it, see [par.21](http://www.teamed.io/policy.html#21)

[2015-10-20 16:26] yegor256 commented on #310
@simonjenga but we don't use `killAfter` in our POM-s. This warning is coming from I don't know where... we should simply ignore it.

[2015-10-20 16:26] #310 closed

[2015-10-20 16:40] yegor256 commented on #313
@prondzyn but we can't remove `@Ignore` from the test here, until jcabi-ssl-maven-plugin is fixed.. right? It looks like a two way dependency?

[2015-10-20 17:08] simonjenga commented on #310
@yegor256 http://stackoverflow.com/questions/26947500/killafter-deprecated-warning-when-running-execjava

[2015-10-20 19:26] prondzyn commented on #313
@yegor256 not exactly. First we need to pass the test at local environment because it fails with different reason than @carlosmiranda reported. Then we can commit again with `@Ignore` annotation to work on [jcabi/jcabi-ssl-maven-plugin/issues/2](https://github.com/jcabi/jcabi-ssl-maven-plugin/issues/2). Please, correct me if I stray.

[2015-10-20 20:53] yegor256 commented on #313
@prondzyn in this case, we can't define "done" in this ticket. If I would be an implementor here, I would ask: you guys just want me to remove `@Ignore`, make sure it fails (but it already fails), put back `@Ignore` and commit? Sounds strange, right? What exactly should be ask ticket implementor to commit (!). Not what to do, but what to commit. Ideas?

[2015-10-20 21:17] prondzyn commented on #313
@yegor256 the only thing I can think is "make two commits":  "1. commit test which passes on your local environment" and then "2. commit test with `@Ignore` annotation".

[2015-10-21 06:24] yegor256 commented on #313
@prondzyn well... how would a code reviewer check that? did it really pass on your local environment or you're lying? that's not a good idea. can't we just ask to remove the `@Ignore` entirely? or maybe introduce a new test?

[2015-10-21 06:49] prondzyn commented on #313
@yegor256 both options sounds good. Removing `@Ignore` entirely even better. I noticed that there is a puzzle for this in [HttpFacadeTest.java#L523-L526](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/test/java/com/s3auth/relay/HttpFacadeTest.java#L523-L526). I found issue for this #290. So I'm closing this ticket now and will be linking to #290.

[2015-10-21 06:49] #313 closed

[2015-10-21 13:02] simonjenga opened #314 "NullPointerException thrown out of HttpResponse#send_aroundBody"
The following `stack trace` contains several exceptions `java.lang.IllegalStateException` , `java.net.SocketException` , `java.lang.NullPointerException` which happen as the Project Builds.

[code]

[2015-10-22 08:15] simonjenga opened #315 "unnecessary loop in com.s3auth.hosts.DynamoHosts.Wrap#size()"
Why do we need the ```while``` loop in the current implementation of ```DynamoHosts.Wrap#size()```.

[code]

Can't we just ```return this.domains.size();```

[2015-10-22 14:14] davvd commented on #311
@yegor256 dispatch this issue please, see [par.21](http://www.teamed.io/policy.html#21)

[2015-10-23 08:01] simonjenga opened #316 "unnecessary method call in com.s3auth.hosts.Domains#get(String)"
Why do we need to call `com.s3auth.hosts.Domains#this.has(name)` in the current implementation of `com.s3auth.hosts.Domains#get(String)`. The `if (this.has(name))` check is not needed.

It's kind of a circular logic; you are first checking if it exists using `this.has(name)` and then you are performing another operation to retrieve it using `this.all.get(name)`.

[code]

Can't we simplify it to be

[2015-10-26 12:41] davvd commented on #314
@yegor256 dispatch this issue please, see [par.21](http://www.teamed.io/policy.html#21)

[2015-10-26 12:41] davvd commented on #315
@yegor256 please pay attention to this issue ([par.21](http://www.teamed.io/policy.html#21))

[2015-10-26 16:52] yegor256 commented on #315
@simonjenga fixed in e2ab63a thanks!

[2015-10-26 16:52] #315 closed

[2015-10-26 17:03] yegor256 commented on #314
@simonjenga what I should do to reproduce this? The build is clean on Travis and on my machine (just checked).

[code]

[2015-10-26 17:04] yegor256 opened #317 "upgrade to jcabi-parent 0.49.3"
Let's upgrade to `jcabi-parent` version 0.49.3 and make sure it still works.

[2015-10-27 15:52] simonjenga commented on #314
@yegor256 You are only looking at the final results, please take a look at the full build log.
It is also ```BUILD SUCCESS``` in my machine but there are some problems/exceptions as the build goes on.

```./s3auth/s3auth-relay>mvn clean install```

Take a look at lines 50 -> 80

https://gist.github.com/simonjenga/044f00c4d6165d90970e

[2015-10-27 16:21] yegor256 commented on #314
@simonjenga than you have to be more specific about why they happen and why do you think they should not be there. At the moment the problem is not reproducible.

[2015-10-27 16:53] simonjenga commented on #314
@yegor256 Am sorry, i don't understand you.

I think i have submitted to you everything that you need including details of the problem. It seems to me that submitting defects/bug reports became complex and i am yet to update myself on it.

Does this mean that if you can't reproduce the defect/bug it doesn't exist?

[2015-10-28 15:07] davvd commented on #316
@yegor256 please pay attention to this issue ([par.21](http://www.teamed.io/policy.html#21))

[2015-12-21 11:22] karensg opened #318 "Question: cloudfront"
Is this service also usable with a cloudfront distribution?

[2015-12-21 15:16] yegor256 commented on #318
@karensg nope. we never planned to distribute it. just use it via our servers, it's free.

[2015-12-21 15:16] #318 closed

[2015-12-24 13:32] albertjmenkveld opened #319 "all works as advertized, except for html5 video"
Dear Yegor:

I am really impressed by what you've built.  I managed to set my S3 website up so that it can only be accessed via s3auth.com with a username and password.  Thanks for this great work.

The one issue that I was not able to solve is that my videos which are in a subfolder of the website, and embedded w/ html5 video tags do not seem to "stream."  The only browser that does seem to suppo

[2015-12-25 11:13] yegor256 commented on #319
@albertjmenkveld thanks for using our service! can you please host some video file in your repository and give me access? I want to test the problem, to understand what's going on. You can send me login/password by email: yegor@teamed.io

[2016-01-11 13:12] jonmilsom commented on #305
+1

[2016-01-16 15:36] strikeout opened #320 "The authorization mechanism you have provided is not supported. Please use AWS4-HMAC-SHA256."
Hi,

first of all: great Service!

I have a problem getting it up and running tho,
created cname, bucket, attached policy to user and all. when I'm trying to access the hosted .htpasswd I get the following stack-trace/error:

[code]

Help would be much appreciated :)

[2016-01-16 15:36] strikeout commented on #320
This might be interesting: http://stackoverflow.com/questions/26533245/the-authorization-mechanism-you-have-provided-is-not-supported-please-use-aws4

[2016-01-19 00:09] yegor256 commented on #320
@strikeout where is your bucket, in which region?

[2016-01-19 08:58] strikeout commented on #320
bucket is in frankfurt (eu-west) region

[2016-01-19 18:52] yegor256 commented on #320
@strikeout we had something like this before: https://github.com/yegor256/s3auth/issues/214 does it help?

[2016-01-21 00:41] strikeout commented on #320
Setting the s3 endpoint for frankfurt region to ´´´s3-eu-central-1```` fixed my problem. Thanks for the heads up!

[2016-01-21 00:41] #320 closed

[2016-02-03 13:45] FilipeGNU opened #321 "Install an Build"
Hello I wonder where they find one tutorial on how to compile and configure this project , I use Cetos.

[2016-02-03 20:00] yegor256 commented on #321
@FilipeGNU we don't have such instructions. just use www.s3auth.com and that's it. why do you need to install it?

[2016-02-25 18:18] dmzaytsev opened #322 "creation time of a file"
it would be great if we can see the creation time of each file

[2016-02-25 18:28] dmzaytsev opened #323 "sorting"
it would be great be able to sort the file list by time or size or name of the file

[2016-02-29 10:46] davvd commented on #323
@yegor256 please dispatch this issue

[2016-02-29 10:46] davvd commented on #322
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-29 16:40] yegor256 commented on #323
@dmzaytsev please specify what "file list" you are talking about

[2016-02-29 17:18] dmzaytsev commented on #323
@yegor256 I mean "the list of files"
I have updated the description

[2016-02-29 17:29] yegor256 commented on #323
@dmzaytsev it's still not clear what list of files you're talking about... put yourself into the shoes of ticket resolver

[2016-02-29 18:20] dmzaytsev commented on #323
@yegor sorry, perhaps I didn't get what s3auth can do actually

we have http-published files from Aws bucket, right?
so I believe it would better to be able sort these files

![image](https://cloud.githubusercontent.com/assets/9972909/13403830/b9150230-df38-11e5-99e3-cafec2204cb3.png)

actually this feature no longer need for for me (I did the sorting in excel)
so I can close the ticket

[2016-03-02 08:49] amr opened #324 "Absence of 404s confuses maven"
Hi,

I'm using s3auth to power my private maven repo. It's working great, except that maven often tries to lookup central artifacts in the private s3auth-powered repo, and due to the directory listing feature which returns `200 OK` instead of `404 Not Found`, maven thinks that it has retrieved the correct file.

Therefore, inspecting the contents of the retrieved `JAR` file with:

    cat ~/.m2/re

[2016-03-07 10:00] davvd commented on #324
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-03-09 10:40] nathanpower commented on #319
Hi Yegor,

Was there ever any progress on this? I am having a similar issue. Can email you details if you like.

Cheers,

Nathan

[2016-03-09 10:43] albertjmenkveld commented on #319
Nathan,
I moved my site to some hosting company, and use .htaccess to have a password.  FYI.
Albert

Sent from iPhone

On Wed, Mar 9, 2016 at 2:40 AM -0800, "Nathan Power" <notifications@github.com> wrote:

Hi Yegor,

Was there ever any progress on this? I am having a similar issue. Can email you details if you like.

Cheers,

Nathan

—
Reply to this email directly or view it on GitHub.

[2016-03-09 12:08] nathanpower commented on #319
For me it is working in latest FF, Edge, Safari, just not Chrome.

I get: CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED when I try to play html5 video.

Accessing directly with s3 bucket published as a site works fine in Chrome.

[2016-03-09 12:30] albertjmenkveld commented on #319
Yes, I had the same issue.  A

Sent from iPhone

On Wed, Mar 9, 2016 at 4:08 AM -0800, "Nathan Power" <notifications@github.com> wrote:

For me it is working in latest FF, Edge, Safari, just not Chrome.

I get: CODE:4 MEDIA_ERR_SRC_NOT_SUPPORTED when I try to play html5 video.

Accessing directly with s3 bucket published as a site works fine in Chrome.

—
Reply to this email directly or view it on

[2016-03-11 03:26] yegor256 commented on #324
@amr sounds reasonable, thanks, we'll implement this

[2016-03-11 09:12] davvd commented on #324
@amr I set the milestone to 1.0 since there is nothing set yet

[2016-03-21 01:29] oblodgett opened #325 "Files with ampersand & in the name crash the output."
Filename: 214B - Changing the Word Part 1, 2 & 3.mp4
Cause the follow error in the output page:

This page contains the following errors:
error on line 151 at column 127: xmlParseEntityRef: no name
Below is a rendering of the page up to the first error.

Quick fix rename your file.

[2016-03-24 11:49] davvd commented on #325
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-26 02:38] yegor256 commented on #325
@rultor deploy

[2016-03-26 02:39] rultor commented on #325
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7863-201683409)

[2016-03-26 02:47] rultor commented on #325
@oblodgett @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7863-201683409) (spent 8min)

[code]

[2016-03-26 02:57] yegor256 commented on #325
@rultor deploy

[2016-03-26 02:58] rultor commented on #325
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7863-201692300)

[2016-03-26 03:08] rultor commented on #325
@oblodgett @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7863-201692300) (spent 10min)

[code]

[2016-03-26 03:12] yegor256 commented on #325
@rultor deploy

[2016-03-26 03:13] rultor commented on #325
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7863-201696279)

[2016-03-26 03:26] rultor commented on #325
@oblodgett @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7863-201696279) (spent 13min)

[code]

[2016-03-26 03:33] yegor256 commented on #325
@rultor deploy

[2016-03-26 03:34] rultor commented on #325
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7863-201699701)

[2016-03-26 03:48] rultor commented on #325
@oblodgett @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7863-201699701) (spent 14min)

[code]

[2016-03-28 21:21] yegor256 commented on #325
@rultor deploy

[2016-03-28 21:22] rultor commented on #325
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7863-202585272)

[2016-03-28 21:42] rultor commented on #325
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7863-202585272) (took me 20min)

[2016-03-28 23:17] yegor256 commented on #325
@rultor deploy

[2016-03-28 23:18] rultor commented on #325
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/7863-202621464)

[2016-03-28 23:39] rultor commented on #325
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7863-202621464) (took me 21min)

[2016-04-03 21:05] Vanhecke commented on #321
I'm also interested in this.
@yegor256 I'd like to be able to deploy the application myself (just instructions for heroku would be fine).

Cheers

[2016-04-29 08:33] rbjorklin commented on #305
Valid certificates can be found here for free: https://letsencrypt.org/

[2016-05-03 11:49] bobbybiran commented on #305
Has this been enabled?

[2016-05-24 10:23] johnccfm opened #327 "Some questions about the service"
Hi-

I've managed to get the service working with my bucket, but I have a few questions that I can't find answers to.

- Does the system require the Static Web Site feature of the bucket to be enabled, or does it access the bucket contents via the REST API?
- I've probably granted way more permissions than needed in my policy and will try to cut them down, but how can s3auth generate the index lis

[2016-05-27 12:30] davvd commented on #327
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-06-23 00:14] yegor256 commented on #327
@johnccfm it does access the content via AWS REST API. ListBucket is required to generate the listing. there is not way to hide `.htpasswd` in the listing, but its content won't be rendered ever. logging (syslog) doesn't work at the moment.

[2016-06-23 00:14] yegor256 commented on #327
@johnccfm if all questions are answered, please close the ticket

[2016-06-23 09:58] #327 closed

[2016-07-22 17:33] mikecarr55 opened #328 "s3auth Internal application error."
I created a at s3auth.com but wanted to edit it so I submitted it again. then got the Internal application error. so I deleted my domain and tried again but still get the error when trying to submit. can anything be done?

[2016-07-25 17:35] davvd commented on #328
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-07-25 20:45] dhezlrazorfish opened #329 "s3auth response timeout and load failure every ~90m"
Every 90-120m, s3auth hangs when requesting the s3 bucket. Site will freeze (loading) for ~2m and then generate the following error:

[code]

[2016-07-25 20:47] dhezl opened #330 "s3auth response timeout and load failure every ~90m"
Every 90-120m, s3auth hangs when requesting the s3 bucket. Site will freeze (loading) for ~2m and then generate the following error:

[code]

Site eventually resumes operation. For reference, we are using s3auth at the bucket level, with multiple staging sites residing within various subdirectories.

[2016-07-25 20:54] dhezlrazorfish commented on #329
Closing inadvertent duplicate

[2016-07-25 20:54] #329 closed

[2016-07-26 02:09] yegor256 commented on #328
@mikecarr55 sure, what exactly do you see when you're trying to submit? what does the error page say?

[2016-07-26 13:31] mikecarr55 commented on #328
well this time it did not throw the error - thank you

now I just have to figure out why it gets stuck in the login loop -

I attached inline policy in IAM for user s3blue:

{
     "Statement": [
         {
             "Effect": "Allow",
             "Action": [
                 "s3:GetObject",
                 "s3:GetBucketWebsite"
             ],
             "Resource": [
                 "arn

[2016-07-26 22:35] scottdunnflux opened #331 "FYI issues when [ or ] is in file or folder name"
My bucket contains folders whose name contains both a [ and a ]

While browsing the bucket the following is fine
http://s3auth.example.com/AMCopyObjects/September%202016_6824718/Well_64/

But we get an error when clicking on a folder on that page that uses the following uri:
http://s3auth.example.com/AMCopyObjects/September%202016_6824718/Well_64/Layout%20[Print]_7348007/index.html

Error message

[2016-07-29 10:09] davvd commented on #330
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-01 10:09] davvd commented on #331
@yegor256 please dispatch this issue

[2016-08-01 11:54] scottdunnflux commented on #331
And, as long as we're talking about URI encoding issues, check for cases where file names include a semicolon
This doesn't produce the same error, but the URI is improperly formed.
In my case s3auth shows something like
http://amk4s3.aws.fluxconsulting.com/AMK4Export/July_August%202014_2406031/Layout%20_Print__7348007/0714_WEL_Yager_Creative_3667028/0714_WEL_Yager_CreativeProces_3667028;63.indd.gz

[2016-08-08 18:14] yegor256 commented on #331
@scottdunnflux good question... we're just using the URI provided as is. This means that you have to encode everything before giving us the URI. We don't touch it, we just send it to AWS "as is". Or I didn't understand the problem?

[2016-08-08 18:15] yegor256 commented on #330
@dhezlrazorfish hm... that's strange. are you sure you're requesting an object that exists in S3?

[2016-08-08 18:34] dhezlrazorfish commented on #330
We are -- there are `index.html` files both at the root level, and in each relevant project path.

90% of the time, s3auth works swimmingly.

If it is any help, we have `.htaccess` and `.htpasswd` files at root as well, though they don't seem to be causing any issue.

[2016-08-08 18:44] scottdunnflux commented on #331
We're not sending any URLs to the S3 bucket, only files and folders...

Here's an example of the URL I'm seeing at AWS:
![image](https://cloud.githubusercontent.com/assets/10489400/17491447/b5acdf30-5d75-11e6-8d6b-4a2b496bd246.png)

And here's the source html of the s3auth page that shows the same file where the URL is different.

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns=

[2016-08-08 18:46] scottdunnflux commented on #331
Looks like that source didn't make it as intended, but you can still see how the URL comes across through s3auth.

[2016-08-17 20:44] yegor256 opened #332 "HttpFacade: too many open connections"
The message is not really descriptive.

[2016-08-17 20:44] #332 closed

[2016-08-17 20:45] yegor256 commented on #332
@rultor deploy

[2016-08-17 20:45] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240542080)

[2016-08-17 20:58] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240542080) (spent 13min)

[code]

[2016-08-17 23:56] yegor256 commented on #332
@rultor deploy

[2016-08-17 23:57] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240585099)

[2016-08-18 00:01] yegor256 commented on #332
@rultor stop

[2016-08-18 00:02] rultor commented on #332
@yegor256 OK, I'll try to stop current task.

[2016-08-18 00:04] rultor commented on #332
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240586103) (spent 7min)

[code]

[2016-08-18 00:06] yegor256 commented on #332
@rultor deploy

[2016-08-18 00:06] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240586830)

[2016-08-18 00:30] rultor commented on #332
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9327-240586830) (took me 23min)

[2016-08-18 01:23] yegor256 commented on #332
@rultor deploy

[2016-08-18 01:23] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240598003)

[2016-08-18 01:31] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240598003) (spent 7min)

[code]

[2016-08-18 01:33] yegor256 commented on #332
@rultor deploy

[2016-08-18 01:33] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240599364)

[2016-08-18 01:48] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240599364) (spent 15min)

[code]

[2016-08-18 01:56] yegor256 commented on #332
@rultor deploy

[2016-08-18 01:56] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240602539)

[2016-08-18 02:08] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240602539) (spent 12min)

[code]

[2016-08-18 02:12] yegor256 commented on #332
@rultor deploy

[2016-08-18 02:13] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240604732)

[2016-08-18 02:29] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240604732) (spent 16min)

[code]

[2016-08-18 02:34] yegor256 commented on #332
@rultor deploy

[2016-08-18 02:35] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240607710)

[2016-08-18 02:48] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240607710) (spent 13min)

[code]

[2016-08-18 02:55] yegor256 commented on #332
@rultor deploy

[2016-08-18 02:56] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240610551)

[2016-08-18 03:00] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240610551) (spent 5min)

[code]

[2016-08-18 03:47] yegor256 commented on #332
@rultor deploy

[2016-08-18 03:48] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240616764)

[2016-08-18 03:52] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240616764) (spent 4min)

[code]

[2016-08-18 03:56] yegor256 commented on #332
@rultor deploy

[2016-08-18 03:56] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240617686)

[2016-08-18 04:03] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240617686) (spent 6min)

[code]

[2016-08-18 04:15] yegor256 commented on #332
@rultor deploy

[2016-08-18 04:16] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240619712)

[2016-08-18 04:20] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240619712) (spent 5min)

[code]

[2016-08-18 04:22] yegor256 commented on #332
@rultor deploy

[2016-08-18 04:23] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240620424)

[2016-08-18 04:30] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240620424) (spent 7min)

[code]

[2016-08-18 04:36] yegor256 commented on #332
@rultor deploy

[2016-08-18 04:36] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240621764)

[2016-08-18 04:48] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240621764) (spent 12min)

[code]

[2016-08-18 04:53] yegor256 commented on #332
@rultor deploy

[2016-08-18 04:54] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240623636)

[2016-08-18 05:10] rultor commented on #332
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9327-240623636) (took me 16min)

[2016-08-18 05:29] yegor256 commented on #332
@rultor deploy

[2016-08-18 05:29] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240627551)

[2016-08-18 05:48] rultor commented on #332
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9327-240627551) (took me 18min)

[2016-08-18 05:56] yegor256 commented on #332
@rultor deploy

[2016-08-18 05:57] rultor commented on #332
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9327-240630922)

[2016-08-18 06:15] rultor commented on #332
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9327-240630922) (spent 17min)

[code]

[2016-08-29 06:28] yegor256 opened #333 "FastHost and RejectingHost are too verbose"
logs are full of exceptions

[2016-08-29 06:28] #333 closed

[2016-08-29 06:30] yegor256 commented on #333
@rultor deploy

[2016-08-29 06:30] rultor commented on #333
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9457-243042355)

[2016-08-29 06:48] rultor commented on #333
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9457-243042355) (took me 18min)

[2016-08-29 13:30] oviwankenobi opened #334 "is https supported on s3auth?"
hi, I have setup successfully the http basic auth for a http api; is it possible to set it up for https as well? how? thank you.

prolly linked with this
https://github.com/yegor256/s3auth/issues/271

[2016-08-29 13:33] oviwankenobi commented on #271
was there any progress made on this matter? (https support)
thank you

[2016-08-29 13:33] oviwankenobi commented on #334
linked with this
[https://github.com/yegor256/s3auth/issues/271](url)

[2016-09-02 09:59] davvd commented on #334
@yegor256 please do something about this issue

[2016-09-09 00:43] bigdelys opened #335 "java.lang.IllegalStateException raised spuriously."
We are seeing java.lang.IllegalStateException every once in a while, sometimes it stays for a few seconds, and after multiple refreshes:
`
java.lang.IllegalStateException: thread 'back-39' in group 'back' interrupted
    at com.jcabi.aspects.aj.MethodLogger.wrap(MethodLogger.java:182)
    at com.jcabi.aspects.aj.MethodLogger.ajc$inlineAccessMethod$com_jcabi_aspects_aj_MethodLogger$com_jcabi_aspect

[2016-09-12 20:46] jostster commented on #301
This still does not seem to be fixed. any update?

[2016-09-14 08:16] jandppw commented on #334
Yes please.

A first idea is to put a CloudFront in front of your server, using certificates from Amazon itself, at no additional cost. You could do this with terraform quickly (willing to help).
Yet, the communication between the CloudFront distribution and your server would still be over http, and thus insecure.

A better solution would be to enable https on your server. You can do this with a f

[2016-09-16 00:43] yegor256 commented on #335
@bigdelys I'll fix it now

[2016-09-16 00:44] yegor256 opened #336 "better layout for index"

[2016-09-16 00:44] #336 closed

[2016-09-16 00:49] yegor256 commented on #335
@rultor deploy

[2016-09-16 00:49] rultor commented on #335
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9624-247493445)

[2016-09-16 00:56] rultor commented on #335
@bigdelys @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/9624-247493445) (spent 7min)

[code]

[2016-09-16 01:01] yegor256 commented on #335
@rultor try to deploy

[2016-09-16 01:02] rultor commented on #335
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/9624-247494856)

[2016-09-16 01:22] rultor commented on #335
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/9624-247494856) (took me 21min)

[2016-09-16 01:25] yegor256 commented on #335
@bigdelys should be fine now, please check

[2016-09-16 04:31] bigdelys commented on #335
Thank you very much. It seems to be fixed.

- Nima

On Thu, Sep 15, 2016 at 6:25 PM, Yegor Bugayenko <notifications@github.com>
wrote:

[2016-09-17 03:00] greggmojica commented on #334
+1

[2016-09-19 02:19] mdagit opened #337 "better error message then "invalid host name""
in com.s3auth.hosts.DynamoHosts how about instead of "invalid host name" a clearer
error message like "hostname contains characters not allowed by RFC1123" .
Because otherwise are going to think it is a resolver error, not a name syntax error.

[2016-09-19 03:53] mdagit opened #338 "README says mvn clean install -Pqulice but it doesn't work"
I just did a fresh checkout and normal "mvn clean install -DskipTests=true" works fine,
but the profile qulice does not:

[code]

[2016-09-19 04:03] mdagit opened #339 "troubleshooting instructions in s3auth-rest/src/main/xsl/index.xsl don't make sense"
btw, the static content really shouldn't be in the xsl templates right?
but in some other file that is more directly findable and editable?

Anyway, the troubleshooting instructions in s3auth-rest/src/main/xsl/index.xsl
don't make much sense to me. I guess "joe" is a record that is supposed to be in the .htpasswd file?
And maven.s3auth.com should instead be whatever my CNAME record is?
But why sho

[2016-09-19 19:00] mdagit opened #340 "enhancement request: http header customization"
The Amazon builtin support in S3 for arranging for customized content-type and content-disposition headers is very awkward:
  http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectGET.html
It would be nice in s3auth to be able to upload some .s3authconfig file in some syntax tbd which allows
for customized http headers to be sent back, such as:
   {rules: [
      {urlmatch: "*.txt", headers: {'

[2016-09-22 09:58] davvd commented on #337
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-09-22 09:58] davvd commented on #338
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-09-22 09:58] davvd commented on #339
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-09-23 10:27] davvd commented on #340
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-09-27 22:01] oviwankenobi opened #341 "s3auth responds with error when aws cloudfront custom error page is enabled"
According to AWS, You can configure CloudFront to respond to requests using a custom error page when your origin returns an HTTP 4xx or 5xx status code. For example, when your custom origin is unavailable and returning 5xx responses, CloudFront can return a static error page that is hosted on Amazon S3.

I did that, while I have the s3auth set up (which works great without cloudfront enabled for m

[2016-10-03 11:33] davvd commented on #341
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-10-03 11:46] OviWanKenoby commented on #341
I think I got confused on this matter and our setup was done wrong, in such way that s3auth was bypassing the cloudfront, so basically it had nothing to do with the cloudfront.I think we can close this.
thank you

[2016-10-03 11:47] oviwankenobi commented on #341
I think I got confused on this matter and our setup was done wrong, in such way that s3auth was bypassing the cloudfront, so basically it had nothing to do with the cloudfront.I think we can close this.
thank you

[2016-10-03 21:50] bobweston commented on #321
I'd be interested in this too. I've got the app to build in heroku. But I need instructions on where to change the oauth settings. (Specifically, interested in the Google API option).

Building the app was straight forward on heroku. But really need this last step.

[2016-10-06 15:50] bobweston opened #342 "unable to download certain filetypes"
I'm trying to distribute files to some folks using S3auth. (I own the rights to the files, by the way). If the file is in zip format, it works as expected. But it won't prompt to download doc, docx or excel files.

Is this an expected behavior? Can that be changed?

I love the app and appreciate your feedback.

The error I am seeing is (in part) below:

<pre>
java.io.IOException: failed to fetch /

[2016-10-07 14:22] bobweston commented on #342
I noticed that if I add the user to a group with higher permissions, s3Auth now displays an autogenerated page that makes it seem that s3 auth sees excel files as a directory, not an auth.

This is what I see after clicking on the link to an excel file:

This is page is auto-generated by s3auth.com.

The prefix is: projects/2016/xxxxxxxx.xlsx/
Name 	Size (bytes)

[2016-10-13 13:38] davvd commented on #342
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-11-03 10:00] lulatsch0 opened #343 "root directory of a bucket isnt showing"
Hello,
i have an issue with my s3auth and my bucket.
The root directory contains the .htpasswd file and two folders which contains the files.
When i open the root directory, i get a blank page and the browsertitle begins with </head> <body>. But i cant see the two folders.
But when i open the folder directly .../folder, the content will show correctly.
In the past, it was also works with the root

[2016-11-07 09:25] davvd commented on #343
@yegor256 please do something about this issue

[2016-11-16 19:24] akaak commented on #305
+1

[2016-11-18 16:42] #341 closed

[2016-11-21 19:55] yegor256 commented on #339
@mdagit too many questions in one ticket :) Let's start with the first one and fix it. What is the first question/bug?

[2016-11-21 20:08] mdagit commented on #339
Basically that the index.xsl examples/instructions need more explanation. Which of those things are literal values and which are symbolic? What is "joe"? a github account or a .htpasswd account?
What is maven.s3auth.com ? A literal value, or our CNAME, or what?

[2016-11-21 20:08] #339 closed

[2016-11-21 20:45] yegor256 commented on #342
@bobweston are you sure that that `.xlsx` file is not a directory technically? It seems that it really is. Can you give me access there?

[2016-11-21 21:15] yegor256 commented on #334
@oviwankenobi this is definitely a duplicate of #271, but thanks for submitting. @jandppw thanks for your suggestion, we will take a look at it soon.

[2016-11-21 21:25] bobweston commented on #342
It most definite;y was not a directory. I uploaded the Excel file myself. I've found an alternative solution to what we were trying to use this for though.

I appreciate your attempting to help.

[2016-11-22 04:56] yegor256 commented on #340
@mdagit the problem is that AWS doesn't support this feature or that you don't like how it's implemented there?

[2016-11-22 05:02] mdagit commented on #340
AWS doesn't have a solution that works for simple <a href="(some url)"> links in a web page.
They require custom http headers to be sent as part of the request.

[2016-11-22 05:46] #335 closed

[2016-11-22 06:43] yegor256 commented on #343
@rultor deploy

[2016-11-22 06:44] rultor commented on #343
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/10067-262160694)

[2016-11-22 07:01] rultor commented on #343
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10067-262160694) (took me 17min)

[2016-11-22 07:11] yegor256 commented on #343
@lulatsch0 this was a bug, thanks for reporting. It's fixed already.

[2016-11-22 07:11] #343 closed

[2016-11-22 07:12] yegor256 commented on #338
@mdagit this is really something weird. Can you try to run again?

[2016-11-22 07:52] yegor256 commented on #337
@rultor deploy

[2016-11-22 07:52] rultor commented on #337
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/10069-262171000)

[2016-11-22 08:12] rultor commented on #337
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/10069-262171000) (took me 20min)

[2016-11-24 01:25] mdagit commented on #338
same deal:

mvn clean install  -Pqulice
[INFO] Scanning for projects...
...

[INFO] --- jcabi-ssl-maven-plugin:0.11:keygen (default) @ s3auth ---
[ERROR] JSR-303 validator failed to initialize: Unable to create a Configuration, because no Bean Validation provider could be found. Add a provider like Hibernate Validator (RI) to your classpath. (see http://aspects.jcabi.com/jsr-303.html)
[INFO] Exist

[2016-11-24 07:37] yegor256 commented on #337
@mdagit fixed, thanks!

[2016-11-24 07:37] #337 closed

[2016-11-24 07:38] #334 closed

[2016-11-24 07:38] yegor256 commented on #328
@mikecarr55 you are still experiencing this problem?

[2016-11-24 13:49] mikecarr55 commented on #328
sorry, I never got it to work so I gave up

Michael Carrington

On 11/24/2016 2:38 AM, Yegor Bugayenko wrote:

[2016-12-21 13:53] #95 closed

[2016-12-21 13:53] #284 closed

[2016-12-21 13:53] #285 closed

[2016-12-21 13:53] #286 closed

[2016-12-21 13:53] #287 closed

[2016-12-21 13:53] #289 closed

[2016-12-21 13:53] #292 closed

[2016-12-21 13:53] davvd commented on #95
@yegor256 The task is done, thanks all, I am closing it

[2016-12-21 13:53] davvd commented on #253
@yegor256 The task is closed, thanks everybody

[2016-12-21 13:53] #253 closed

[2016-12-21 13:53] davvd commented on #284
@yegor256 Closing..

[2016-12-21 13:53] davvd commented on #285
@yegor256 The issue should be closed..

[2016-12-21 13:53] davvd commented on #286
@yegor256 It is closed now

[2016-12-21 13:53] davvd commented on #287
@yegor256 The task is closed, thanks everybody

[2016-12-21 13:53] davvd commented on #288
@yegor256 Closing this issue now...

[2016-12-21 13:53] #288 closed

[2016-12-21 13:53] davvd commented on #289
@yegor256 Thanks all, I am closing

[2016-12-21 13:53] davvd commented on #290
@yegor256 The issue is closed

[2016-12-21 13:53] #290 closed

[2016-12-21 13:53] davvd commented on #292
@yegor256 Done, the task is closed

[2016-12-21 15:26] davvd commented on #33
@yegor256 the last puzzle `33-9ff485f7`/#95 solved

[2016-12-21 15:26] davvd commented on #200
@carlosmiranda the last puzzle `200-e1abb509`/#253 originated from here solved

[2017-01-11 00:25] RubenSandwich opened #344 "Bad Auth"
I'm currently getting a Bad Auth request but I believe everything is setup correctly because:

1.  I can still access the .htpasswd file just fine, which shows me that the IAM user has the correct permission policy in place.
2. I have attempted to change the password multiple times now using different tools and users and passwords to make sure that the credentials are not the problem.
3. If I just

[2017-01-12 16:37] RubenSandwich commented on #344
I figured it out, I accidentally put a space before the . in my .htpasswd file.

Closing.

[2017-01-12 16:37] #344 closed

[2017-01-19 16:11] mgriba opened #345 "invalid header line: 'AlexaToolbar-ALX_NS_PH: AlexaToolbar/alx-4.0'"
Receiving the above message on certain domains only it seems and only from IE browsers.  Chrome works fine.  Firefox untested so far.

Any idea what this is related to?

Thank you,

[2017-01-19 16:12] 0crat commented on #345
@yegor256 please, pay attention to this issue

[2017-01-19 17:01] yegor256 commented on #345
@mgriba well, this header line is indeed invalid. This is the pattern it is matched against: https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/main/java/com/s3auth/relay/HttpRequest.java#L107 You think the pattern is not valid?

[2017-01-19 17:24] mgriba commented on #345
Ah I see the issue then I believe.  The problem is the encryption I used on the htpasswd file (MD5).  It defaulted to the wrong one on the aspirine.org page.  I need to regenerate as SHA1 it appears.  But, it does still work through Chrome with the invalid header type.  Am I looking at this correctly?

Thank you,

[2017-01-20 20:33] wjdp commented on #305
This is only thing preventing me from using the service.

[2017-01-29 21:02] KevinCressyArup commented on #305
+1

[2017-01-30 16:05] davvd commented on #1
@yegor256 last puzzled solved `90-43f9c549`/#292

[2017-01-30 16:05] davvd commented on #90
@yegor256 last puzzled solved `90-43f9c549`/#292

[2017-01-30 16:05] davvd commented on #8
@yegor256 last puzzled solved `191-7e266bd1`/#290

[2017-01-30 16:05] davvd commented on #191
@yegor256 last puzzled solved `191-7e266bd1`/#290

[2017-01-30 16:05] davvd commented on #213
@igorsyl last 6 puzzles originated from here are solved: `213-2f9b789a`/#289, `213-d22cf12f`/#284, `213-5796b8fa`/#288, `213-6939d515`/#287, `213-721856fe`/#286, `213-af390358`/#285

[2017-01-31 16:11] jcarruthers opened #346 "Blank page after authorization"
I set up s3auth, following the instructions.

When I navigate to my site, playbook.handshq.com, I get the pop-up requesting a username and password, which I enter, but after I just get the message in the browser status bar saying 'waiting for playbook.handshq.com' and nothing happens.

[2017-02-03 13:36] jcarruthers commented on #346
Resolved this - it was an issue with Cloudflare attempting to serve from CDN. I bypassed the CDN and it worked.

[2017-02-03 13:36] #346 closed

[2017-02-03 13:36] 0crat commented on #346
Job `gh:yegor256/s3auth#346` was not in scope

[2017-03-02 08:22] zaharidichev commented on #335
Well.... It does not seem that resolved after all.

[code]

Can we request some urgency here as we relied on that particular service and that brings us quite a bit  of problems at this very moment.

[2017-03-04 17:16] tmoreira2020 opened #347 "Return code is: 405, ReasonPhrase: Method Not Allowed."
Hi there, I'm trying to upload snapshot packages to a brand new configuration but I'm getting the following error

`Return code is: 405, ReasonPhrase: Method Not Allowed.`

I'm able to browse without problem the repository. The credentials used to configure s3auth.com are associated to a user that has full access (AmazonS3FullAccess) to S3.

Not sure what else I need to do to be able to upload pac

[2017-03-08 14:15] lukesaunders commented on #335
I have this same issue. Using the hosted s3auth.com service, sometimes requests for files work fine, and other times I get a 500. The stacktrace given is https://gist.github.com/lukesaunders/3b28da26a8e0036c01d7e9c0abb4fc63

Strangely, of the two domains I've set up, one works fine and the other has the problem. The only difference seems to be concurrency - one domain loads a few files concurrentl

[2017-03-08 14:16] lukesaunders commented on #335
@yegor256 could you reopen this issue or shall I create a new one?

[2017-03-23 18:21] lukesaunders opened #348 "java.lang.IllegalStateException: thread 'back-69' in group 'back' interrupted"
When hosting a site on s3 behind the hosted s3auth, we often get this 500 error at random when loading an HTML page or static asset: https://gist.github.com/lukesaunders/a04e0de7eeabe1bd13417f3ce9ccecbb

It happens only when hosting a page with many assets and hence triggers many requests simultaneously, so it seems to be some kind of throttling.

What to do?

[2017-04-17 20:00] ismaelc opened #349 "S3 bucket policy to set everything to private"
Hi. Do you have a sample bucket policy that sets all objects to private but lets s3auth access? There used to be a "set to private" option in the admin console but can't seem to find it anymore. Been trying out a couple of bucket policies to set objects to private but to no avail. Hope you can help.

[2017-04-17 20:00] 0crat commented on #349
@yegor256 please, pay attention to this issue

[2017-04-18 01:13] ismaelc commented on #349
Actually my problem is that the login prompt isn't kicking in when accessing the raw S3 bucket. It only shows when accessing via custom domain.

[2017-04-21 17:47] yegor256 commented on #349
@ismaelc by default all objects are private, unless you explicitly make them public and they will become available via API (not through HTTP). So, I guess you're on the wrong way. Can you please explain better?

[2017-04-21 17:47] yegor256 opened #350 "sixnines badge"

[2017-04-21 17:48] 0pdd opened #351 "MainTest.java:51-52: Test doesn't work since AWS Dynamo..."
The puzzle `33-9ff485f7` in [`s3auth-relay/src/test/java/com/s3auth/relay/MainTest.java`](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/test/java/com/s3auth/relay/MainTest.java) (lines 51-52) has to be resolved: Test doesn't work since AWS Dynamo config is not available in runtime. We should find a way to mock it properly.

The puzzle was created by unknown on 14-Dec-16.

Estimat

[2017-04-21 17:48] 0crat commented on #351
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] 0pdd opened #352 "DefaultDynamoTest.java:61-64: This test creates a mock region with..."
The puzzle `90-43f9c549` in [`s3auth-hosts/src/test/java/com/s3auth/hosts/DefaultDynamoTest.java`](https://github.com/yegor256/s3auth/blob/master/s3auth-hosts/src/test/java/com/s3auth/hosts/DefaultDynamoTest.java) (lines 61-64) has to be resolved: This test creates a mock region with a H2Data backend which has table columns with characters unsupported by the h2 database. Issue #7 in jcabi-dynamo s

[2017-04-21 17:48] 0pdd opened #353 "HttpFacadeTest.java:523-526: The test fails to retrieve the..."
The puzzle `191-7e266bd1` in [`s3auth-relay/src/test/java/com/s3auth/relay/HttpFacadeTest.java`](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/test/java/com/s3auth/relay/HttpFacadeTest.java) (lines 523-526) has to be resolved: The test fails to retrieve the expected content over SSL. The response body is empty while it should be "secured". Test fails on line 570. Let's fix it and

[2017-04-21 17:48] 0crat commented on #353
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] 0pdd opened #354 "RendersHomePage.js:33-33: Migrate old tests from rexsl/scripts..."
The puzzle `200-e1abb509` in [`s3auth-rest/src/test/casperjs/RendersHomePage.js`](https://github.com/yegor256/s3auth/blob/master/s3auth-rest/src/test/casperjs/RendersHomePage.js) (lines 33-33) has to be resolved: Migrate old tests from rexsl/scripts to casperjs

The puzzle was created by unknown on 14-Dec-16.

Estimate: 30 minutes, role: IMP.

If you have any technical questions, don't ask me, sub

[2017-04-21 17:48] 0pdd opened #355 "FtpFacade.java:65-66: Implement TLS secure port listening..."
The puzzle `213-2f9b789a` in [`s3auth-relay/src/main/java/com/s3auth/relay/FtpFacade.java`](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/main/java/com/s3auth/relay/FtpFacade.java) (lines 65-66) has to be resolved: Implement TLS secure port listening in a manner analogous to HttpFacade.

The puzzle was created by pinaf on 24-Jan-15.

Estimate: 30 minutes, role: IMP.

If you have

[2017-04-21 17:48] 0crat commented on #352
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] 0pdd opened #356 "FtpResponse.java:55-57: Implement methods 'withCode',..."
The puzzle `213-d22cf12f` in [`s3auth-relay/src/main/java/com/s3auth/relay/FtpResponse.java`](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/main/java/com/s3auth/relay/FtpResponse.java) (lines 55-57) has to be resolved: Implement methods 'withCode', 'withText', 'send' as above. Also, implement 'asString' and unignore test 'constructsCorrectly' in FtpResponseTest.

The puzzle was c

[2017-04-21 17:48] 0crat commented on #354
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] 0crat commented on #355
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] 0pdd opened #357 "FtpThread.java:52-53: Implement authentication based on the..."
The puzzle `213-5796b8fa` in [`s3auth-relay/src/main/java/com/s3auth/relay/FtpThread.java`](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/main/java/com/s3auth/relay/FtpThread.java) (lines 52-53) has to be resolved: Implement authentication based on the USER and PASS commands.

The puzzle was created by pinaf on 24-Jan-15.

Estimate: 30 minutes, role: IMP.

If you have any technic

[2017-04-21 17:48] 0pdd opened #358 "FtpThread.java:54-57: Implement relay functionality to..."
The puzzle `213-6939d515` in [`s3auth-relay/src/main/java/com/s3auth/relay/FtpThread.java`](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/main/java/com/s3auth/relay/FtpThread.java) (lines 54-57) has to be resolved: Implement relay functionality to fetch resource upon receival of the RETR command with valid authorization. Return an error in case of other commands (unsupported for

[2017-04-21 17:48] 0crat commented on #356
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] 0pdd opened #359 "HttpFacade.java:66-69: Create new a class Facade with all..."
The puzzle `213-721856fe` in [`s3auth-relay/src/main/java/com/s3auth/relay/HttpFacade.java`](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/main/java/com/s3auth/relay/HttpFacade.java) (lines 66-69) has to be resolved: Create new a class Facade with all protocol-neutral code (such as socket handling, socket queue, etc). Then convert {@link com .s3auth.relay.HttpFacade} and {@link c

[2017-04-21 17:48] 0pdd opened #360 "Main.java:67-68: Create a FtpFacade in order to..."
The puzzle `213-af390358` in [`s3auth-relay/src/main/java/com/s3auth/relay/Main.java`](https://github.com/yegor256/s3auth/blob/master/s3auth-relay/src/main/java/com/s3auth/relay/Main.java) (lines 67-68) has to be resolved: Create a FtpFacade in order to provide a FTP gateway. Also unignore test 'connectDisconnect' in FtpFacadeTest.

The puzzle was created by pinaf on 24-Jan-15.

Estimate: 30 minut

[2017-04-21 17:48] 0crat commented on #357
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] 0crat commented on #358
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] 0crat commented on #359
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] 0crat commented on #360
@yegor256 please, pay attention to this issue

[2017-04-21 17:48] yegor256 commented on #350
@rultor deploy

[2017-04-21 17:50] rultor commented on #350
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11463-296258353)

[2017-04-21 17:53] rultor commented on #350
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11463-296258353) (spent 3min)

[code]

[2017-04-21 17:54] yegor256 commented on #350
@rultor deploy

[2017-04-21 17:55] rultor commented on #350
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11463-296259695)

[2017-04-21 17:59] rultor commented on #350
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11463-296259695) (spent 3min)

[code]

[2017-05-10 23:41] nikita-leonov commented on #348
Have you found a solution? I am experiencing the same — https://gist.github.com/nikita-leonov/87eac248a3a2de13da76402757a1e030

[2017-05-11 05:37] yegor256 commented on #348
@lukesaunders @nikita-leonov I set the delay to 2 minutes, instead of 30 seconds, in 8eb99e2 Let me try to deploy and we'll see

[2017-05-11 05:37] yegor256 commented on #348
@rultor deploy

[2017-05-11 05:38] rultor commented on #348
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11649-300687331)

[2017-05-11 05:39] yegor256 commented on #335
We have #348 to continue with this problem

[2017-05-11 05:40] rultor commented on #348
@lukesaunders @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11649-300687331) (spent 2min)

[code]

[2017-05-11 08:18] yegor256 commented on #348
@rultor deploy

[2017-05-11 08:19] rultor commented on #348
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11649-300717276)

[2017-05-11 08:22] rultor commented on #348
@lukesaunders @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11649-300717276) (spent 3min)

[code]

[2017-05-11 08:38] yegor256 commented on #348
@rultor deploy

[2017-05-11 08:39] rultor commented on #348
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11649-300722461)

[2017-05-11 08:49] rultor commented on #348
@lukesaunders @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11649-300722461) (spent 10min)

[code]

[2017-05-11 08:52] yegor256 commented on #348
@rultor deploy

[2017-05-11 08:53] rultor commented on #348
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11649-300726313)

[2017-05-11 09:12] rultor commented on #348
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11649-300726313) (took me 19min)

[2017-05-11 09:14] yegor256 commented on #348
@lukesaunders @nikita-leonov try it out now... Should be better, I guess

[2017-05-11 09:19] nikita-leonov commented on #348
Looks like it is still happening with the same regularity. 500 status code and the exception with `java.lang.IllegalStateException: thread 'back-90' in group 'back' interrupted`. Is there any additional information that I can provide you to simplify investigation of this issue?

[2017-05-11 09:25] nikita-leonov commented on #348
I assume it is actually happening because of rate limits — http://docs.aws.amazon.com/AmazonS3/latest/dev/request-rate-perf-considerations.html Content heavy static websites may have many links to various styles, JavaScripts, images etc. As result, multiple loads of the same website can be way above hundreds of requests, as result 500 returned. This is still an assumption that needs to be validate

[2017-05-12 00:07] Synesso opened #361 "Licence link on http://www.s3auth.com/ is broken"
1. go to http://www.s3auth.com/
2. click on LICENCE.txt
3. Page displays message - "Sorry, this page is absent."

[2017-05-12 00:07] 0crat commented on #361
@yegor256 please, pay attention to this issue

[2017-05-12 07:38] yegor256 commented on #361
@rultor deploy

[2017-05-12 07:39] rultor commented on #361
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11666-301006599)

[2017-05-12 07:39] yegor256 commented on #361
@rultor stop

[2017-05-12 07:40] rultor commented on #361
@yegor256 OK, I'll try to stop current task.

[2017-05-12 07:42] rultor commented on #361
@synesso @yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/11666-301006707) (spent 3min)

[code]

[2017-05-12 07:45] yegor256 commented on #361
@rultor deploy

[2017-05-12 07:45] rultor commented on #361
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/11666-301007863)

[2017-05-12 08:01] rultor commented on #361
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11666-301007863) (took me 16min)

[2017-05-12 08:05] yegor256 commented on #361
@Synesso fixed, thanks for reporting!

[2017-05-12 11:36] #361 closed

[2017-05-12 11:36] 0crat commented on #361
Oops! Job `gh:yegor256/s3auth#361` was not in scope

[2017-06-05 10:48] eligiable opened #362 "How to run this?"
Hi There
What are the steps to run it? No Wiki ...

[2017-06-05 10:48] 0crat commented on #362
@yegor256 please, pay attention to this issue

[2017-06-05 10:59] eligiable commented on #362
` Failure to transfer joda-time:joda-time/maven-metadata.xml from s3://repo.s3auth.com/snapshot was cached in the local repository, resolution will not be reattempted until the update interval of repo.s3auth.com has elapsed or updates are forced. Original error: Could not transfer metadata joda-time:joda-time/maven-metadata.xml from/to repo.s3auth.com (s3://repo.s3auth.com/snapshot): Could not con

[2017-06-06 05:57] eligiable commented on #362
Failed to execute goal org.codehaus.mojo:exec-maven-plugin:1.3.2:exec (casperjs-test) on project s3auth-rest: Command execution failed. Process exited with an error: 127 (Exit value: 127)

[2017-06-09 07:40] yegor256 commented on #362
@eligiable what exactly are you trying to achieve?

[2017-06-12 05:18] eligiable commented on #362
@yegor256 I'm trying to run it locally.

[2017-06-12 10:24] yegor256 commented on #362
@eligiable just for fun? Or you want to host it somewhere?

[2017-06-12 10:32] eligiable commented on #362
@yegor256 Its not for fun, we have a lots of files need to be synced to s3, and need to created multiple users to access via Web.

[2017-06-12 12:19] yegor256 commented on #362
@eligiable use www.s3auth.com  It is created just for this purpose.

[2017-06-12 23:57] eligiable commented on #362
@yegor256 I've tested this and its a great service, but the issue is, I've to redirect twice the CNAME to get to s3auth from Amazon, I already have domain and subdomain to re direct to instead of using s3 long url and sometimes the cookies expires and the s3auth url does not work, because of multiple CNAME.

This is why I would like to host my own and not to register a domain on s3.

[2017-06-19 07:44] yegor256 commented on #362
@eligiable how come "the s3auth URL does not work, because of multiple CNAME." I didn't get it? Please explain.

[2017-06-23 21:24] jondoesntgit commented on #216
I'm also interested in this feature. Thanks

[2017-08-09 16:16] gsiegfried opened #363 "getting access denied from s3auth, but can access full path files"
Recently set up s3auth, as instructed.  The basic auth dialog comes up, but once the password is entered, a stack trace is sent back as follows:
java.io.IOException: failed to fetch / from 'bucket' (key=KEY): ["'+suffix': Access Denied (Service: Amazon S3; Status Code: 403; Error Code: AccessDenied; Request ID: 75925EDF0A79385A)", "'+suffix': Access Denied (Service: Amazon S3; Status Code: 403; Er

[2017-08-09 16:16] 0crat commented on #363
@yegor256 please, pay attention to this issue

[2017-08-10 17:16] digitalsanctum opened #364 "Getting invalid first line: 'GET http://MY_HOST_HERE/ HTTP/1.1' error"
I'm using s3auth.com for two sites and both are now resulting in

There have been no recent changes to either sites configuration so I believe this issue is caused by s3auth.